body {
  padding-top: 40px;
}

footer[role="main"] {
  border-top: 1px solid #E5E5E5;
  margin-top: 10px;
  padding: 30px;
}

/** dl **/
dl {
  margin: 8px;
}

/** input size **/
input[size] {
  width: auto;
}

/** feedback **/
ul.feedbackPanel {
  list-style: none;
}

/** tables **/
table th.actions {
  width: 60px;
}

.la, .table th.la, .table td.la  {
  text-align: left;
}

.ca, .table th.ca, .table td.ca {
  text-align: center;
}

.ra, .table th.ra, .table td.ra {
  text-align: right;
}

.table th.pre, .table td.pre {
  white-space: pre;
}

/** table-middle **/
.table.table-middled td, .table.table-middled th {
  vertical-align: middle;
}

.table.table-middled select, .table.table-middled input {
  margin: 0;
}

/** pagination-condensed **/
.pagination-condensed {
  height: 20px;
}

.pagination-condensed a {
  padding: 0 5px;
  line-height: 20px;
}

/** pagination in navigator **/

.navigatorLabel {
  float: left;
}

.navigator {
  text-align: right;
}

.navigator.pagination {
  margin: 0;
}

/** subform **/
.sub-form {
  margin: 0 20px 20px 20px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}

.sub-form legend:before {
  content: '\a0 ';
}

.sub-form .form-actions {
  margin-bottom: 0;
}

.controls .sub-form {
  margin-top: 40px;
  margin-left: -140px;
}

/** Components **/
.complex-add {
  margin: 0 10px 9px 0;
}

.form-horizontal .complex-add {
  margin: 3px 10px 0;
  float: left;
}

legend + div .control-group {
    margin-top: 18px;
}

.selector {
  display: inline-block;
}

/** Value **/
input.value {
  width: auto;
}

/** AutoComplete **/
div.wicket-aa-container {
  background-clip: padding-box;
  background-color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 0 0 5px 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin: 0;
  min-width: 160px;
  padding: 4px 0;
}

div.wicket-aa {
}
 
div.wicket-aa ul {
  list-style: none outside none;
  margin: 0;
}

div.wicket-aa ul li {
  line-height: 18px;
  padding: 3px 15px;
  cursor: default;
}

div.wicket-aa ul li:hover {
  background-color: #0088CC;
  color: #FFFFFF;
}

/** CLOUD **/
.cloud:nth-child(3n) a {
  color: blue;
  text-decoration: none;
}

.cloud:nth-child(3n+1) a {
  color: red;
  text-decoration: none;
}

.cloud:nth-child(3n+2) a {
  color: green;
  text-decoration: none;
}

.cloud:nth-child(3n) a:hover {
  color: darkBlue;
}

.cloud:nth-child(3n+1) a:hover {
  color: darkRed;
}

.cloud:nth-child(3n+2) a:hover {
  color: darkGreen;
}

/** List **/
.listComponent {
  background-clip: padding-box;
  background-color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin: 0;
  min-width: 160px;
  padding: 4px 0;
  list-style: none outside none;
  float: left;
}

.listComponent li a {
  line-height: 18px;
  padding: 3px 15px;
  color: #333333;
  display: block;
}

.listComponent li a:hover {
  background-color: #0088CC;
  color: #FFFFFF;
  text-decoration: none;
}

/** Multiple **/
.multiple {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100px;
  overflow: auto;
  background-color: #FFFFFF;
  border-radius: 2px;
}

.multiple li {
  padding: 2px 4px;
}

.multiple .active {
  background-color: #006dcc;
}

.multiple .active a {
  color: #FFFFFF;
}

/** DEBUG **/
.wicketDebugBar {
  top: 40px !important;
  position: fixed !important;
}

.wicketDebugBar img {
  vertical-align: inherit;
}

/** MYCELLAR **/

.login-collapse {
  float: right;
}

/** Filters **/
.btn-filter {
  display: none;
}

.filter-collapse {
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}

.filter {
  margin: 10px;
  padding: 1px;
  box-shadow: 0 0 1px #000000 inset;
  border-radius: 3px;
}

/** FIELDSET STEP **/
form {
  counter-reset: fieldsets;
}

fieldset.step > legend:before {
  content: "Etape " counter(fieldsets) " : ";
  counter-increment: fieldsets;
}

/** ADDS TO BOOTSTRAP **/

/** NORMAL BUTTON (.btn-navbar-normal) **/
.navbar .btn-navbar.btn-navbar-normal {
  padding: 4px 10px;
}

/** OVERRIDE BOOTSTRAP **/

.nav-collapse.collapse {
  height:auto;
}

/** OVERRIDE TEXT COLOR IN NAVBAR **/
.navbar,.navbar label {
  color: #999999;
}

/** OVERRIDE MARGIN TOP IN NAVBAR FOR INPUTS **/
.navbar-form input, .navbar-form select, .navbar-form .radio, .navbar-form .checkbox {
    margin-top: 0px;
}

/** OVERRIDE PADDING-BOTTOM FOR LEGEND **/
legend {
  margin-bottom: 0;
}
