.project
.settings
.classpath
target
/mycellar-java/mycellar-interfaces/mycellar-interface-web/src/main/webapp/js
/mycellar-java/mycellar-interfaces/mycellar-interface-web/src/main/webapp/css
/mycellar-java/mycellar-interfaces/mycellar-interface-web/src/main/webapp/fonts
/mycellar-java/mycellar-interfaces/mycellar-interface-web/selenium
node_modules
bower_components
