.project
.settings
.classpath
target
/mycellar-java/mycellar-interfaces/mycellar-interface-web/src/main/webapp/js/mycellar.js
/mycellar-java/mycellar-interfaces/mycellar-interface-web/src/main/webapp/css/mycellar.css
/mycellar-java/mycellar-interfaces/mycellar-interface-web/selenium
node_modules
bower_components
