<core-toolbar main>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Partages de cave</span>
  <drawer-button right icon="more-vert"></drawer-button>
</core-toolbar>
<core-drawer-panel rightDrawer>
  <nav role="secondary" drawer>
    <admin-domain-nav></admin-domain-nav>
  </nav>
  <div main>
    <section>
      <paper-item ng-if="items.length == 0">Aucun partage de cave</paper-item>
      <paper-item class="threeLines" ng-click="edit(cellarShare.id)" ng-repeat="cellarShare in items">
        <div flex>
          <div class="ellipsis">{{cellarShare.cellar.name}}</div>
          <div class="ellipsis"><small>Propriétaire : {{cellarShare.cellar.owner | userRenderer}}</small></div>
          <div class="ellipsis"><small>{{cellarShare.accessRight | accessRightRenderer}} : {{cellarShare.email}}</small></div>
        </div>
        <paper-icon-button icon="remove-circle-outline" ng-click="delete(cellarShare.id, $event)"></paper-icon-button>
      </paper-item>
      <paper-item ng-if="size > items.length" label="Voir les {{size - items.length > pageCount ? pageCount : size - items.length}} suivants sur {{size - items.length}}" ng-click="more()"></paper-item>
      <paper-fab icon="add" raisedButton="false" ng-click="new()"></paper-fab>
    </section>
  </div>
</core-drawer-panel>