<core-toolbar main>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Partage de cave : {{cellarShare.cellar.name}}</span>
  <drawer-button right icon="more-vert"></drawer-button>
</core-toolbar>
<core-drawer-panel rightDrawer>
  <nav role="secondary" drawer>
    <admin-domain-nav></admin-domain-nav>
  </nav>
  <div main>
    <form name="form" novalidate>
      <section>
        <cellar label="Cave" cellar="cellarShare.cellar"></cellar>
        <paper-input id="email" floatingLabel label="Email" type="email" bind-polymer-input="cellarShare.email"></paper-input>
        <paper-dropdown-menu label="Droit d'accès" bind-polymer-select="cellarShare.accessRight" valueattr="value">
          <paper-item label="Lecture seule" value="READ"></paper-item>
          <paper-item label="Modification" value="MODIFY"></paper-item>
        </paper-dropdown-menu>
      </section>
      <div horizontal layout class="buttons">
        <paper-button raised primary ng-click="save()" ng-disabled="form.$invalid">Sauvegarder</paper-button>
        <paper-button raised ng-click="cancel()">Annuler</paper-button>
      </div>
    </form>
  </div>
</core-drawer-panel>
