<core-toolbar main>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Partage de cave : {{cellarShare.cellar.name}}</span>
  <drawer-button right icon="more-vert"></drawer-button>
</core-toolbar>
<core-drawer-panel rightDrawer>
  <nav role="secondary" drawer>
    <admin-domain-nav></admin-domain-nav>
  </nav>
  <div main>
    <form name="form" novalidate>
      <section>
        <cellar label="Cave" cellar="cellarShare.cellar"></cellar>
        <my-input-decorator floatingLabel label="Email" isInvalid="{{form.email.$invalid}}">
          <input name="email" type="email" ng-model="cellarShare.email" required></input>
          <error-span class="error" ctrl="form.email"></error-span>
        </my-input-decorator>
        <paper-dropdown-menu label="Droit d'accès">
          <paper-dropdown class="dropdown">
            <core-menu bind-polymer-select="cellarShare.accessRight" valueattr="value">
              <paper-item value="READ">Lecture seule</paper-item>
              <paper-item value="MODIFY">Modification</paper-item>
            </core-menu>
          </paper-dropdown>
        </paper-dropdown-menu>
      </section>
      <error-div form="form"></error-div>
      <div horizontal layout class="buttons">
        <paper-button raised primary ng-click="save()" ng-disabled="form.$invalid">Sauvegarder</paper-button>
        <paper-button raised ng-click="cancel()">Annuler</paper-button>
      </div>
    </form>
  </div>
</core-drawer-panel>
