<core-toolbar main>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Mouvements</span>
  <drawer-button right icon="more-vert"></drawer-button>
</core-toolbar>
<core-drawer-panel rightDrawer>
  <nav role="secondary" drawer>
    <admin-domain-nav></admin-domain-nav>
  </nav>
  <div main>
    <section>
      <core-item ng-if="items.length == 0">Aucun mouvement</core-item>
      <paper-item class="twoLines" ng-click="edit(movement.id)" ng-repeat="movement in items">
        <div flex>
          <div class="ellipsis">{{movement.bottle.wine | wineRenderer}}</div>
          <div class="ellipsis"><small>{{movement.bottle.format | formatRenderer}}</small></div>
        </div>
        <div>
          <div class="ellipsis">{{movement.type | movementTypeRenderer}} : {{movement.number}} le {{movement.date | date:'longDate'}}</div>
          <div class="ellipsis"><small>{{movement.cellar.name}} de {{movement.cellar.owner | userRenderer}}</small></div>
        </div>
        <paper-icon-button icon="remove-circle-outline" ng-click="delete(movement.id, $event)"></paper-icon-button>
      </paper-item>
      <paper-item ng-if="size > items.length" label="Voir les {{size - items.length > pageCount ? pageCount : size - items.length}} suivants sur {{size - items.length}}" ng-click="more()"></paper-item>
      <paper-fab icon="add" raisedButton="false" ng-click="new()"></paper-fab>
    </section>
  </div>
</core-drawer-panel>