<core-toolbar main>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Mouvement</span>
  <drawer-button right icon="more-vert"></drawer-button>
</core-toolbar>
<core-drawer-panel rightDrawer>
  <nav role="secondary" drawer>
    <admin-domain-nav></admin-domain-nav>
  </nav>
  <div main>
    <form name="form" novalidate>
      <section>
        <cellar label="Cave" cellar="movement.cellar"></cellar>
        <wine label="Vin" wine="movement.bottle.wine"></wine>
        <format label="Format" format="movement.bottle.format"></format>
        <!-- select type -->
        <paper-input id="date" label="Date" type="date" floatingLabel bind-polymer-input="movement.date" required></paper-input>
        <paper-input id="quantity" floatingLabel label="Quantité" type="number" bind-polymer-input="movement.number" required></paper-input>
      </section>
      <section>
        <div horizontal layout>
          <paper-button style="margin: auto;" raised primary ng-click="save()" ng-disabled="form.$invalid">Sauvegarder</paper-button>
          <paper-button style="margin: auto;" raised ng-click="cancel()">Annuler</paper-button>
        </div>
      </section>
    </form>
  </div>
</core-drawer-panel>
    