<core-toolbar>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Stocks</span>
  <drawer-button right icon="more-vert"></drawer-button>
</core-toolbar>
<admin-domain>
  <table-filters table-context="tableContext">
    <div class="form-group">
      <label class="control-label sr-only" for="cellar.name">Nom de la cave</label>
      <input class="form-control" id="cellar.name" name="cellar.name" placeholder="Nom de la cave" ng-model="tableContext.filters['cellar.name']" type="text" />
    </div>
    <div class="form-group">
      <label class="control-label sr-only" for="cellar.owner.email">Email du propriétaire de la cave</label>
      <input class="form-control" id="cellar.owner.email" name="cellar.owner.email" placeholder="Email du propriétaire de la cave" ng-model="tableContext.filters['cellar.owner.email']" type="text" />
    </div>
    <div class="form-group">
      <label class="control-label sr-only" for="bottle.wine.appellation.region.country.name">Nom du pays</label>
      <input class="form-control" id="bottle.wine.appellation.region.country.name" name="bottle.wine.appellation.region.country.name" placeholder="Nom du pays" ng-model="tableContext.filters['bottle.wine.appellation.region.country.name']" type="text" />
    </div>
    <div class="form-group">
      <label class="control-label sr-only" for="bottle.wine.appellation.region.name">Nom de la région</label>
      <input class="form-control" id="bottle.wine.appellation.region.name" name="bottle.wine.appellation.region.name" placeholder="Nom de la région" ng-model="tableContext.filters['bottle.wine.appellation.region.name']" type="text" />
    </div>
    <div class="form-group">
      <label class="control-label sr-only" for="bottle.wine.appellation.name">Nom de l'appellation</label>
      <input class="form-control" id="bottle.wine.appellation.name" name="bottle.wine.appellation.name" placeholder="Nom de l'appellation" ng-model="tableContext.filters['bottle.wine.appellation.name']" type="text" />
    </div>
    <div class="form-group">
      <label class="control-label sr-only" for="bottle.wine.producer.name">Nom du producteur</label>
      <input class="form-control" id="bottle.wine.producer.name" name="bottle.wine.producer.name" placeholder="Nom du producteur" ng-model="tableContext.filters['bottle.wine.producer.name']" type="text" />
    </div>
    <div class="form-group">
      <label class="control-label sr-only" for="bottle.wine.name">Nom</label>
      <input class="form-control" id="bottle.wine.name" name="bottle.wine.name" placeholder="Nom" ng-model="tableContext.filters['bottle.wine.name']" type="text" />
    </div>
    <div class="form-group">
      <label class="control-label sr-only" for="bottle.wine.vintage">Millésime</label>
      <input class="form-control" id="bottle.wine.vintage" name="bottle.wine.vintage" placeholder="Millésime" ng-model="tableContext.filters['bottle.wine.vintage']" type="text" />
    </div>
  </table-filters>
  <error-div errors="errors"></error-div>
  <paginated table-context="tableContext">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-condensed">
        <thead>
          <tr>
            <th>Propriétaire <icon-sort attribute="cellar.owner.email" table-context="tableContext" /></th>
            <th>Cave <icon-sort attribute="cellar.name" table-context="tableContext" /></th>
            <th>Vin</th>
            <th>Format <icon-sort attribute="bottle.format.capacity" table-context="tableContext" /></th>
            <th>Quantité <icon-sort attribute="quantity" table-context="tableContext" /></th>
            <th class="actions"><a href ng-click="new()" class="btn btn-default btn-xs"><i class="fa fa-plus-circle"></i></a></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="stock in tableContext.items">
            <td>{{stock.cellar.owner.email}}</td>
            <td>{{stock.cellar.name}}</td>
            <td>{{stock.bottle.wine | wineRenderer}}</td>
            <td>{{stock.bottle.format | formatRenderer}}</td>
            <td>{{stock.quantity}}</td>
            <td>
              <a href ng-click="edit(stock.id)" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></a>
              <a href ng-click="delete(stock.id)" class="btn btn-danger btn-xs"><i class="fa fa-minus-circle"></i></a>
            </td>
          </tr>
          <tr ng-if="tableContext.items.length == 0">
            <td colspan="6" class="text-center">Aucune cave ne correspond aux filtres.</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Propriétaire <icon-sort attribute="cellar.owner.email" table-context="tableContext" /></th>
            <th>Cave <icon-sort attribute="cellar.name" table-context="tableContext" /></th>
            <th>Vin</th>
            <th>Format <icon-sort attribute="bottle.format.capacity" table-context="tableContext" /></th>
            <th>Quantité <icon-sort attribute="quantity" table-context="tableContext" /></th>
            <th class="actions"><a href ng-click="new()" class="btn btn-default btn-xs"><i class="fa fa-plus-circle"></i></a></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </paginated>
</admin-domain>
