<core-toolbar main>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Stock</span>
  <drawer-button right icon="more-vert"></drawer-button>
</core-toolbar>
<core-drawer-panel rightDrawer>
  <nav role="secondary" drawer>
    <admin-domain-nav></admin-domain-nav>
  </nav>
  <div main>
    <form name="form" novalidate>
      <section>
        <cellar label="Cave" cellar="stock.cellar"></cellar>
        <wine label="Vin" wine="stock.bottle.wine"></wine>
        <format label="Format" format="stock.bottle.format"></format>
        <my-input-decorator floatingLabel labelVisible="false" label="Quantité" isInvalid="{{form.quantity.$invalid}}">
          <input name="quantity" type="number" ng-model="stock.quantity" required></input>
          <error-span class="error" ctrl="form.quantity"></error-span>
        </my-input-decorator>
      </section>
      <error-div form="form"></error-div>
      <div horizontal layout class="buttons">
        <paper-button raised primary ng-click="save()" ng-disabled="form.$invalid">Sauvegarder</paper-button>
        <paper-button raised ng-click="cancel()">Annuler</paper-button>
      </div>
    </form>
  </div>
</core-drawer-panel>
