<!DOCTYPE html>
<html lang="fr" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
  <wicket:child />
  <div class="control-group" wicket:id="container">
    <div class="value" wicket:id="value" />
    <div class="selector" wicket:id="selector" />
    <form class="form-horizontal sub-form" wicket:id="createForm">
      <div wicket:id="newObject" />
      <div class="form-actions">
        <input wicket:id="saveObject" type="submit" class="btn btn-primary" wicket:message="value:createButton" />
        <input wicket:id="cancelObject" type="submit" class="btn" wicket:message="value:cancelButton" />
      </div>
    </form>
  </div>
</wicket:panel>
</body>
</html>