<!DOCTYPE html>
<html lang="fr" xmlns:wicket="">
<body>
<wicket:panel>
  <wicket:child />
  <div class="formDiv" wicket:id="container">
    <label wicket:id="label">Label</label>
    <a class="add" wicket:id="add"><wicket:message key="addLink">Add</wicket:message></a>
    <div class="value" wicket:id="value" />
    <div class="selector" wicket:id="selector" />
    <form class="subForm" wicket:id="createForm">
      <div wicket:id="newObject" />
      <div class="submits">
        <input wicket:id="saveObject" type="submit" wicket:message="value:createButton" />
        <input wicket:id="cancelObject" type="submit" wicket:message="value:cancelButton" />
      </div>
    </form>
  </div>
</wicket:panel>
</body>
</html>