* {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
}

body {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}

body /deep/ a {
  text-decoration: none;
}

body /deep/ core-icon {
  color: rgba(0, 0, 0, 0.54);
}

body /deep/ paper-icon-button.orange /deep/ core-icon {
  color: rgba(255, 120, 0, 0.54);
}

body /deep/ paper-icon-button.red /deep/ core-icon {
  color: rgba(255, 0, 0, 0.54);
}

/* MENU */
body /deep/ .menu-item:first-child a:first-child paper-item {
  margin-top: 8px;
}

body /deep/ .menu-item paper-item {
  font-size: 14px;
}

body /deep/ .menu-item:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

body /deep/ .menu-item-content:first-child {
  margin-left: 56px;
}

body /deep/ .menu-item-content:not(:first-child) {
  margin-left: 32px;
}
/* MENU END */

body /deep/ section {
  margin-bottom: 16px;
}

body /deep/ section.margin {
  margin: 16px;
}

body /deep/ section:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

body /deep/ section.isolated {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

body /deep/ section my-input-decorator,
body /deep/ section paper-input-decorator,
body /deep/ section paper-dropdown-menu,
body /deep/ section autocomplete-input /deep/ div#target {
  margin: 0 16px;
}

body /deep/ div[horizontal][layout].buttons {
  margin: 16px 0;
}

body /deep/ div[horizontal][layout].buttons > paper-button {
  margin: auto;
}

html /deep/ core-item {
  padding: 0 16px;
}

body /deep/ section > core-item:first-child:not(.subheader),
body /deep/ section > paper-item:first-child:not(.subheader),
body /deep/ core-selector /deep/ paper-item:first-child:not(.subheader) {
  margin-top: 8px;
}

body /deep/ core-item.subheader {
  height: 48px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}

body core-drawer-panel[rightDrawer] [main] {
  overflow-y: auto;
}

body /deep/ core-drawer-panel[rightDrawer][narrow] /deep/ .rightNarrow {
  display: none;
}

body /deep/ :not([rightDrawer]) [drawer] /deep/ #mainContainer {
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

body /deep/ [drawer] nav, body /deep/ nav[drawer] {
  overflow-y: auto;
}

body /deep/ [rightDrawer] [drawer] {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}

body /deep/ core-drawer-panel [drawer] {
  background: #ffffff;
}

body /deep/ core-toolbar {
  background: #e51c23;
  color: rgba(255, 255, 255, 0.87);
}

body /deep/ core-toolbar /deep/ small,
body /deep/ core-toolbar /deep/ core-icon {
  color: rgba(255, 255, 255, 0.54);
}

body /deep/ core-toolbar /deep/ input {
  color: rgba(255, 255, 255, 0.87);
}

body /deep/ core-toolbar /deep/ paper-menu-button /deep/ paper-item {
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.6em;
}

body /deep/ paper-button[autofocus] {
  color: #4285f4;
  fill: #4285f4;
}

body /deep/ paper-button[raised][primary] {
  background: #0091ea;
  color: rgba(255, 255, 255, 0.87);
}

body /deep/ paper-button[raised] {
  background: #ffffff;
  color: rgba(0, 0, 0, 0.87);
}

body /deep/ paper-fab {
  position: absolute;
  bottom: 16px;
  right: 28px;
  background: #0091ea;
  color: rgba(255, 255, 255, 0.87);
}

body /deep/ .ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

body /deep/ paper-item.twoLines,
body /deep/ core-item.twoLines {
  height: 72px;
}

body /deep/ paper-item.threeLines,
body /deep/ core-item.threeLines {
  height: 88px;
}

body /deep/ paper-item.drag-placeholder {
  margin: 5px;
  border: 1px dotted rgba(0, 0, 0, 0.12);
}

body /deep/ small {
  color: rgba(0, 0, 0, 0.54);
}

body /deep/ paper-menu-button[select] /deep/ #menu {
  height: 100px;
  overflow-y: scroll;
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 10px;
}

@media screen and (max-width: 500px) {
  body /deep/ .xs-hide {
    display: none;
  }
}

body /deep/ .xs-show {
  display: none;
}
@media screen and (max-width: 500px) {
  body /deep/ .xs-show {
    display: block;
  }
  body /deep/ span.xs-show {
    display: inline;
  }
}

/* CARD */
body /deep/ .card {
  margin: 8px;
  border-radius: 2px;
  background: #fff;
  float: left;
}

body /deep/ .card header {
  padding: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

body /deep/ .card div {
  padding: 16px;
  font-size: 14px;
}
/* CARD END */

paper-progress::shadow #secondaryProgress {
  background-color: #e51c23;
}

body /deep/ .core-tooltip.bottom {
  margin-top: 0;
}
