* {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
}

body {
  font-family: "RobotoDraft", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}

/* DRAWER */
[drawer] {
  background: #ffffff;
}

:not([rightDrawer]) [drawer] {
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
}

[rightDrawer] [drawer] {
  box-shadow: -1px 0 1px rgba(0, 0, 0, 0.1);
}

:not([rightDrawer]) [drawer] /deep/ #mainContainer {
  display: flex;
  flex-direction: column;
}

[rightDrawer] [main],
nav {
  overflow-y: auto;
}

[rightDrawer][narrow] .rightNarrow {
  display: none;
}
/* DRAWER END */

/* MENU */
core-menu  {
  margin: 8px 0 0 0;
  font-weight: 500;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
}

core-menu paper-item {
  font-size: 14px;
  height: 48px;
}

core-menu paper-item core-icon {
  margin-right: 32px;
}

core-menu core-item:not(:first-child),
core-menu paper-item.only:not(:first-of-type) {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
/* MENU END */

body /deep/ a {
  text-decoration: none;
}

body /deep/ core-icon {
  color: rgba(0, 0, 0, 0.54);
}

body /deep/ paper-icon-button.orange /deep/ core-icon {
  color: rgba(255, 120, 0, 0.54);
}

body /deep/ paper-icon-button.red /deep/ core-icon {
  color: rgba(255, 0, 0, 0.54);
}

body /deep/ section {
  margin-bottom: 16px;
}

body /deep/ section.margin {
  margin: 16px;
}

body /deep/ section:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

body /deep/ section.isolated {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

body /deep/ section my-input-decorator,
body /deep/ section paper-input-decorator,
body /deep/ section paper-dropdown-menu,
body /deep/ section autocomplete-input /deep/ div#target {
  margin: 0 16px;
}

body /deep/ div[horizontal][layout].buttons {
  margin: 16px 0;
}

body /deep/ div[horizontal][layout].buttons > paper-button {
  margin: auto;
}

core-item {
  padding: 0 16px;
}

core-item.subheader {
  margin-top: 8px;
  height: 48px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}

body /deep/ section > core-item:first-child:not(.subheader),
body /deep/ section > paper-item:first-child:not(.subheader),
body /deep/ core-selector /deep/ paper-item:first-child:not(.subheader) {
  margin-top: 8px;
}

body /deep/ core-toolbar {
  background: #e51c23;
  color: rgba(255, 255, 255, 0.87);
}

body /deep/ core-toolbar /deep/ small,
body /deep/ core-toolbar /deep/ core-icon {
  color: rgba(255, 255, 255, 0.54);
}

body /deep/ core-toolbar /deep/ input {
  color: rgba(255, 255, 255, 0.87);
}

body /deep/ core-toolbar /deep/ paper-menu-button /deep/ paper-item {
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.6em;
}

body /deep/ paper-button[autofocus] {
  color: #4285f4;
  fill: #4285f4;
}

body /deep/ paper-button[raised][primary] {
  background: #0091ea;
  color: rgba(255, 255, 255, 0.87);
}

body /deep/ paper-button[raised] {
  background: #ffffff;
  color: rgba(0, 0, 0, 0.87);
}

body /deep/ paper-fab {
  position: absolute;
  bottom: 16px;
  right: 28px;
  background: #0091ea;
  color: rgba(255, 255, 255, 0.87);
}

body /deep/ .ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

body /deep/ paper-item.twoLines,
body /deep/ core-item.twoLines {
  height: 72px;
}

body /deep/ paper-item.threeLines,
body /deep/ core-item.threeLines {
  height: 88px;
}

body /deep/ paper-item.drag-placeholder {
  margin: 5px;
  border: 1px dotted rgba(0, 0, 0, 0.12);
}

body /deep/ small {
  color: rgba(0, 0, 0, 0.54);
}

body /deep/ paper-menu-button[select] /deep/ #menu {
  height: 100px;
  overflow-y: scroll;
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 10px;
}

@media screen and (max-width: 500px) {
  body /deep/ .xs-hide {
    display: none;
  }
}

body /deep/ .xs-show {
  display: none;
}
@media screen and (max-width: 500px) {
  body /deep/ .xs-show {
    display: block;
  }
  body /deep/ span.xs-show {
    display: inline;
  }
}

/* CARD */
body /deep/ .card {
  margin: 8px;
  border-radius: 2px;
  background: #fff;
  float: left;
}

body /deep/ .card header {
  padding: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

body /deep/ .card div {
  padding: 16px;
  font-size: 14px;
}
/* CARD END */

paper-progress::shadow #secondaryProgress {
  background-color: #e51c23;
}

body /deep/ .core-tooltip.bottom {
  margin-top: 0;
}
