<wicket:panel>
  <fieldset>
    <legend><wicket:message key="arrivalBottleEdit">Arrival bottle</wicket:message></legend>
    <div wicket:id="bottle" />
    <div class="formDiv" wicket:id="quantity">
      <label wicket:for="quantity"><wicket:label key="quantity">Quantity</wicket:label></label>
      <input id="quantity" wicket:id="quantity" type="text" />
    </div>
    <div class="formDiv" wicket:id="price">
      <label wicket:for="price"><wicket:label key="price">Price</wicket:label></label>
      <input id="price" wicket:id="price" type="text" />
    </div>
  </fieldset>
</wicket:panel>