<wicket:panel>
  <fieldset>
    <legend><wicket:message key="cellarShareEdit">Cellar share</wicket:message></legend>
    <div class="control-group" wicket:id="email">
      <input id="email" wicket:id="email" type="email" />
    </div>
    <div class="control-group" wicket:id="accessRight">
      <select id="accessRight" wicket:id="accessRight">
        <wicket:container wicket:id="options">
          <option wicket:id="option"></option>
        </wicket:container>
      </select>
    </div>
  </fieldset>
</wicket:panel>