<header class="page-header"><h1>Arrivée d'un colis</h1></header>
<section>
  <form name="arrivalForm" class="form">
    <error-div errors="errors"></error-div>
    <fieldset>
      <legend>Bouteilles</legend>
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-condensed">
          <thead>
            <tr>
              <th>Producteur</th>
              <th>Appellation</th>
              <th>Nom</th>
              <th>Millésime</th>
              <th>Couleur</th>
              <th>Type</th>
              <th>Format</th>
              <th>Quantité</th>
              <th>Prix</th>
              <th>
                <a href ng-click="add()" class="btn btn-default btn-xs"><i class="fa fa-plus-circle"></i></a>
              </th>
            </tr>
          </thead>
          <tbody ng-controller="LoadingCtrl">
            <tr ng-repeat="arrivalBottle in arrival.arrivalBottles">
              <td>{{arrivalBottle.bottle.wine.producer.name}}</td>
              <td>{{arrivalBottle.bottle.wine.appellation.name}}</td>
              <td>{{arrivalBottle.bottle.wine.name}}</td>
              <td>{{arrivalBottle.bottle.wine.vintage}}</td>
              <td>{{arrivalBottle.bottle.wine.color | wineColorRenderer}}</td>
              <td>{{arrivalBottle.bottle.wine.type | wineTypeRenderer}}</td>
              <td>{{arrivalBottle.bottle.format | formatRenderer}}</td>
              <td>{{arrivalBottle.quantity}}</td>
              <td>{{arrivalBottle.price | currency:"€"}}</td>
              <td>
                <a href ng-click="edit(arrivalBottle)" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></a>
                <a href ng-click="remove(arrivalBottle)" class="btn btn-danger btn-xs"><i class="fa fa-minus-circle"></i></a>
              </td>
            </tr>
            <tr ng-if="!loading && arrival.arrivalBottles.length == 0">
              <td colspan="10" class="text-center">Aucune bouteille dans le colis.</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>Producteur</th>
              <th>Appellation</th>
              <th>Nom</th>
              <th>Millésime</th>
              <th>Couleur</th>
              <th>Type</th>
              <th>Format</th>
              <th>Quantité</th>
              <th>Prix</th>
              <th>
                <a href ng-click="add()" class="btn btn-default btn-xs"><i class="fa fa-plus-circle"></i></a>
              </th>
            </tr>
          </tfoot>
        </table>
      </div>
    </fieldset>
    <fieldset ng-if="arrivalBottle != null">
      <legend>{{isNew() ? 'Ajouter une bouteille au colis' : 'Modifier une bouteille du colis' }}</legend>
      <wine form="arrivalForm" wine="arrivalBottle.bottle.wine" input-required="true">
        <span class="help-block" ng-if="arrivalForm.wine.$error.required">Veuillez saisir un vin</span>
      </wine>
      <format form="arrivalForm" format="arrivalBottle.bottle.format" input-required="true">
        <span class="help-block" ng-if="arrivalForm.format.$error.required">Veuillez saisir un format</span>
      </format>
      <div class="form-group" ng-class="{'has-error': arrivalForm.price.$invalid}">
        <label class="control-label" for="price">Prix</label>
        <input class="form-control" id="price" name="price" type="number" ng-model="arrivalBottle.price" placeholder="Prix" />
      </div>
      <div class="form-group" ng-class="{'has-error': arrivalForm.quantity.$invalid}">
        <label class="control-label" for="quantity">Quantité</label>
        <input class="form-control" id="quantity" name="quantity" type="number" ng-model="arrivalBottle.quantity" placeholder="Quantité" required />
        <span class="help-block" ng-if="arrivalForm.quantity.$error.required">Veuillez saisir une quantité</span>
      </div>
      <input type="submit" class="btn btn-default" value="{{isNew() ? 'Ajouter' : 'Modifier'}}" ng-click="addBottle()" ng-disabled="arrivalForm.$invalid" />
    </fieldset>
    <fieldset>
      <legend>Détails</legend>
      <cellar form="arrivalForm" cellar="arrival.cellar" input-required="true">
        <span class="help-block" ng-if="arrivalForm.cellar.$error.required">Veuillez saisir une cave</span>
      </cellar>
      <div class="form-group" ng-class="{'has-error': arrivalForm.date.$invalid}">
        <label class="control-label" for="date">Date de réception</label>
        <input class="form-control" id="date" name="date" type="date" ng-model="arrival.date" placeholder="Date de réception" required />
        <span class="help-block" ng-if="form.date.$error.required">Veuillez saisir une date de réception</span>
      </div>
      <div class="form-group" ng-class="{'has-error': arrivalForm.source.$invalid}">
        <label class="control-label" for="source">Source</label>
        <input class="form-control" id="source" name="source" type="text" ng-model="arrival.source" placeholder="Source" />
      </div>
      <div class="form-group" ng-class="{'has-error': arrivalForm.charges.$invalid}">
        <label class="control-label" for="charges">Charges</label>
        <input class="form-control" id="charges" name="charges" type="number" ng-model="arrival.charges" placeholder="Charges" />
      </div>
    </fieldset>
    <input type="submit" class="btn btn-primary" value="Sauvegarder" ng-click="save()" ng-disabled="arrivalForm.$invalid" />
    <input type="submit" class="btn btn-default" value="Annuler" ng-click="cancel()" />
  </form>
</section>
