<header class="page-header"><h1>Entrées/sorties de mes caves</h1></header>
<div class="row">
  <div class="col-md-2">
    <nav>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="owner in owners">
          <span class="list-group-item-heading">Propriétaire : {{owner.email}}</span>
          <ul class="nav nav-pills nav-stacked text-center">
            <li ng-repeat="cellar in ownersMap[owner.email]" ng-class="{active: cellar.id == $parent.cellar.id}">
              <a href ng-click="selectCellar(cellar)">{{cellar.name}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-md-10">
    <section>
      <div ng-if="cellar != null">
        <h2>{{cellar.name}}</h2>
        <paginated options="tableOptions" items="movements" table-context="tableContext">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-condensed">
              <thead>
                <tr>
                  <th>I/O</th>
                  <th>Date <icon-sort attribute="date" table-context="tableContext" /></th>
                  <th>Vin</th>
                  <th>Format</th>
                  <th>Quantité <icon-sort attribute="number" table-context="tableContext" /></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="movement in movements">
                  <td>{{movement.type}}</td>
                  <td>{{movement.date}}</td>
                  <td>{{movement.bottle.wine | wineRenderer}}</td>
                  <td>{{movement.bottle.format | formatRenderer}}</td>
                  <td>{{movement.number}}</td>
                </tr>
                <tr ng-if="!loading && movements.length == 0">
                  <td colspan="5" class="text-center">Ni entrée, ni sorties dans cette cave.</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>I/O</th>
                  <th>Date <icon-sort attribute="date" table-context="tableContext" /></th>
                  <th>Vin</th>
                  <th>Format</th>
                  <th>Quantité <icon-sort attribute="number" table-context="tableContext" /></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </paginated>
      </div>
      <p ng-if="cellar == null">Aucune cave</p>
    </section>
  </div>
</div>
