<core-toolbar main>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Contact : {{contact.producer | producerRenderer}}</span>
</core-toolbar>
<div main>
  <section style="padding: 1em;">
    <div horizontal layout>
      <div flex>
        <div class="ellipsis">Téléphone</div>
        <div class="ellipsis"><small>{{contact.producer.phone}}&nbsp;</small></div>
      </div>
      <div flex>
        <div class="ellipsis">Fax</div>
        <div class="ellipsis"><small>{{contact.producer.fax}}&nbsp;</small></div>
      </div>
    </div>
    <div horizontal layout>
      <div flex>
        <div class="ellipsis">Email</div>
        <div class="ellipsis"><small>{{contact.producer.email}}&nbsp;</small></div>
      </div>
    </div>
    <div horizontal layout ng-if="contact.producer.description">
      <div flex>
        <div class="ellipsis">Description</div>
        <div class="ellipsis"><small>{{contact.producer.description}}</small></div>
      </div>
    </div>
    <div horizontal layout ng-if="contact.producer.contactInformation">
      <div flex>
        <div class="ellipsis">Informations</div>
        <div class="ellipsis"><small>{{contact.producer.contactInformation}}</small></div>
      </div>
    </div>
  </section>
  <form name="contactForm" style="padding: 1em; border-top: 1px solid rgba(0, 0, 0, 0.12);">
    <paper-input id="current" label="Date du contact" type="date" floatingLabel bind-polymer-input="contact.current" required></paper-input>
    <paper-input id="next" label="Prochain contact" type="date" floatingLabel bind-polymer-input="contact.next" required></paper-input>
    <div horizontal layout>
      <paper-input flex id="text" label="Texte" multiline floatingLabel bind-polymer-input="contact.text" required></paper-input>
    </div>
    <div horizontal layout>
      <paper-button style="margin: auto;" primary raisedButton label="Sauvegarder" ng-click="saveContact()" ng-disabled="contactForm.$invalid"></paper-button>
      <paper-button style="margin: auto;" raisedButton label="Annuler" ng-click="cancelContact()"></paper-button>
    </div>
  </form>
</div>
