<core-toolbar main>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Contact : {{contact.producer | producerRenderer}}</span>
</core-toolbar>
<div main>
  <section style="margin: 16px;">
    <div horizontal layout>
      <div flex>
        <div class="ellipsis">Téléphone</div>
        <div class="ellipsis"><small>{{contact.producer.phone}}&nbsp;</small></div>
      </div>
      <div flex>
        <div class="ellipsis">Fax</div>
        <div class="ellipsis"><small>{{contact.producer.fax}}&nbsp;</small></div>
      </div>
    </div>
    <div horizontal layout>
      <div flex>
        <div class="ellipsis">Email</div>
        <div class="ellipsis"><small>{{contact.producer.email}}&nbsp;</small></div>
      </div>
    </div>
    <div horizontal layout ng-if="contact.producer.description">
      <div flex>
        <div class="ellipsis">Description</div>
        <div class="ellipsis"><small>{{contact.producer.description}}</small></div>
      </div>
    </div>
    <div horizontal layout ng-if="contact.producer.contactInformation">
      <div flex>
        <div class="ellipsis">Informations</div>
        <div class="ellipsis"><small>{{contact.producer.contactInformation}}</small></div>
      </div>
    </div>
  </section>
  <section>
    <form name="contactForm">
      <div horizontal layout>
        <my-input-decorator flex floatingLabel labelVisible="false" label="Date du contact" isInvalid="{{contactForm.current.$invalid}}">
          <input name="current" type="date" ng-model="contactCurrent" required></input>
          <error-span class="error" ctrl="contactForm.current"></error-span>
        </my-input-decorator>
        <my-input-decorator flex floatingLabel labelVisible="false" label="Date du prochain contact" isInvalid="{{contactForm.next.$invalid}}">
          <input name="next" type="date" ng-model="contactNext"></input>
          <error-span class="error" ctrl="contactForm.next"></error-span>
        </my-input-decorator>
      </div>
      <my-input-decorator flex floatingLabel label="Texte" isInvalid="{{contactForm.text.$invalid}}">
        <paper-autogrow-textarea>
          <textarea name="text" ng-model="contact.text"></textarea>
          <error-span class="error" ctrl="contactForm.text"></error-span>
        </paper-autogrow-textarea>
      </my-input-decorator>
      <div horizontal layout class="buttons">
        <paper-button primary raised ng-click="saveContact()" ng-disabled="contactForm.$invalid">Sauvegarder</paper-button>
        <paper-button raised ng-click="cancelContact()">Annuler</paper-button>
      </div>
    </form>
  </section>
</div>
