<core-toolbar main>
  <paper-icon-button icon="chevron-left" ng-click="back()"></paper-icon-button>
  <span ng-if="producer.id" flex>Contact : {{producer.name}}</span>
  <span ng-if="!producer.id" flex>Nouveau contact</span>
  <paper-icon-button icon="create" ng-if="!edit" ng-click="modifyProducer()"></paper-icon-button>
</core-toolbar>
<div main>
  <section ng-if="!edit" class="margin">
    <div horizontal layout>
      <div flex>
        <div class="ellipsis">Téléphone</div>
        <div class="ellipsis"><small>{{producer.phone}}&nbsp;</small></div>
      </div>
      <div flex>
        <div class="ellipsis">Fax</div>
        <div class="ellipsis"><small>{{producer.fax}}&nbsp;</small></div>
      </div>
    </div>
    <div horizontal layout>
      <div flex>
        <div class="ellipsis">Email</div>
        <div class="ellipsis"><small>{{producer.email}}&nbsp;</small></div>
      </div>
    </div>
    <div horizontal layout ng-if="producer.description">
      <div flex>
        <div class="ellipsis">Description</div>
        <div class="ellipsis"><small>{{producer.description}}</small></div>
      </div>
    </div>
    <div horizontal layout ng-if="producer.contactInformation">
      <div flex>
        <div class="ellipsis">Informations</div>
        <div class="ellipsis"><small>{{producer.contactInformation}}</small></div>
      </div>
    </div>
  </section>
  <section id="form" ng-if="edit">
    <form name="producerForm">
      <producer producer="fix.producer" label="Producteur"></producer>
      <div horizontal layout>
        <my-input-decorator flex label="Téléphone" floatingLabel isInvalid="{{producerForm.phone.$invalid}}">
          <input name="phone" type="text" ng-model="producer.email"></input>
          <error-span class="error" ctrl="producerForm.phone"></error-span>
        </my-input-decorator>
        <my-input-decorator flex label="Fax" floatingLabel isInvalid="{{producerForm.fax.$invalid}}">
          <input name="fax" type="text" ng-model="producer.fax"></input>
          <error-span class="error" ctrl="producerForm.fax"></error-span>
        </my-input-decorator>
      </div>
      <my-input-decorator label="E-mail" floatingLabel isInvalid="{{producerForm.email.$invalid}}">
        <input name="email" type="email" ng-model="producer.email"></input>
        <error-span class="error" ctrl="producerForm.email"></error-span>
      </my-input-decorator>
      <my-input-decorator flex floatingLabel label="Description" isInvalid="{{producerForm.description.$invalid}}">
        <paper-autogrow-textarea>
          <textarea name="description" ng-model="producer.description"></textarea>
          <error-span class="error" ctrl="producerForm.description"></error-span>
        </paper-autogrow-textarea>
      </my-input-decorator>
      <my-input-decorator flex floatingLabel label="Informations" isInvalid="{{producerForm.informations.$invalid}}">
        <paper-autogrow-textarea>
          <textarea name="informations" ng-model="producer.informations"></textarea>
          <error-span class="error" ctrl="producerForm.informations"></error-span>
        </paper-autogrow-textarea>
      </my-input-decorator>
      <div horizontal layout class="buttons">
        <paper-button raised primary ng-click="saveProducer()" ng-disabled="producerForm.$invalid">Sauvegarder</paper-button>
        <paper-button raised ng-click="cancelProducer()">Annuler</paper-button>
      </div>
    </form>
  </section>
  <section ng-if="producer.id">
    <core-item class="subheader">Contacts déjà effectués</core-item>
    <paper-item class="twoLines" ng-repeat="contact in contacts" ng-click="editContact(contact)">
      <div flex>
        <div class="ellipsis">{{contact.current | date:'longDate'}}</div>
        <div class="ellipsis"><small>{{contact.text}}</small></div>
      </div>
    </paper-item>
    <paper-item ng-if="size > contacts.length" ng-click="more()">Voir les {{size - contacts.length > 5 ? 5 : size - contacts.length}} suivants sur {{size - contacts.length}}</paper-item>
    <paper-fab icon="add" raisedButton="false" ng-click="addContact()"></paper-fab>
  </section>
</div>