<div class="row">
  <div class="col-md-2">
    <nav role="secondary">
      <data-mycellar-admin-nav></data-mycellar-admin-nav>
    </nav>
  </div>
  <div class="col-md-10">
    <header class="page-header"><h1>Contacts</h1></header>
    <data-table-filters table-context="tableContext">
      <div class="form-group">
        <label class="control-label sr-only" for="producer.name">Nom du producteur</label>
        <input class="form-control" id="producer.name" name="producer.name" placeholder="Nom du producteur" ng-model="tableContext.filters['producer.name']" type="text" />
      </div>
    </data-table-filters>
    <data-error-div errors="errors"></data-error-div>
    <paginated options="tableOptions" items="items" table-context="tableContext">
      <table class="table table-bordered table-striped table-condensed">
        <thead>
          <tr>
            <th>Producteur <icon-sort attribute="producer.name" table-context="tableContext" /></th>
            <th>Date du contact <icon-sort attribute="current" table-context="tableContext" /></th>
            <th>Prochain contact <icon-sort attribute="next" table-context="tableContext" /></th>
            <th class="actions"><a href ng-click="new()" class="btn btn-default btn-xs"><i class="fa fa-plus-circle"></i></a></th>
          </tr>
        </thead>
        <tbody ng-controller="LoadingCtrl">
          <tr ng-repeat="item in items">
            <td>{{item.producer.name}}</td>
            <td>{{item.current}}</td>
            <td>{{item.next}}</td>
            <td>
              <a href ng-click="edit(item.id)" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></a>
              <a href ng-click="delete(item.id)" class="btn btn-danger btn-xs"><i class="fa fa-minus-circle"></i></a>
            </td>
          </tr>
          <tr ng-if="!loading && items.length == 0">
            <td colspan="5">Aucun contact ne correspond aux filtres.</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Producteur <icon-sort attribute="producer.name" table-context="tableContext" /></th>
            <th>Date du contact <icon-sort attribute="current" table-context="tableContext" /></th>
            <th>Prochain contact <icon-sort attribute="next" table-context="tableContext" /></th>
            <th class="actions"><a href ng-click="new()" class="btn btn-default btn-xs"><i class="fa fa-plus-circle"></i></a></th>
          </tr>
        </tfoot>
      </table>
    </paginated>
  </div>
</div>