<div class="row">
  <div class="col-md-2">
    <nav role="secondary">
      <data-mycellar-admin-nav></data-mycellar-admin-nav>
    </nav>
  </div>
  <div class="col-md-10">
    <header class="page-header"><h1>Régions</h1></header>
    <data-table-filters table-context="tableContext">
      <div class="form-group">
        <label class="control-label sr-only" for="country.name">Nom du pays</label>
        <input class="form-control" id="country.name" name="country.name" placeholder="Nom du pays" ng-model="tableContext.filters['country.name']" type="text" />
      </div>
      <div class="form-group">
        <label class="control-label sr-only" for="name">Nom</label>
        <input class="form-control" id="name" name="name" placeholder="Nom" ng-model="tableContext.filters['name']" type="text" />
      </div>
    </data-table-filters>
    <data-error-div errors="errors"></data-error-div>
    <paginated options="tableOptions" items="items" table-context="tableContext">
      <table class="table table-bordered table-striped table-condensed">
        <thead>
          <tr>
            <th>Pays <icon-sort attribute="country.name" table-context="tableContext" /></th>
            <th>Nom <icon-sort attribute="name" table-context="tableContext" /></th>
            <th class="actions"><a href ng-click="new()" class="btn btn-default btn-xs"><i class="fa fa-plus-circle"></i></a></th>
          </tr>
        </thead>
        <tbody ng-controller="LoadingCtrl">
          <tr ng-repeat="item in items">
            <td>{{item.country.name}}</td>
            <td>{{item.name}}</td>
            <td>
              <a href ng-click="edit(item.id)" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></a>
              <a href ng-click="delete(item.id)" class="btn btn-danger btn-xs"><i class="fa fa-minus-circle"></i></a>
            </td>
          </tr>
          <tr ng-if="!loading && items.length == 0">
            <td colspan="3" class="text-center">Aucune région ne correspond aux filtres.</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Pays <icon-sort attribute="country.name" table-context="tableContext" /></th>
            <th>Nom <icon-sort attribute="name" table-context="tableContext" /></th>
            <th class="actions"><a href ng-click="new()" class="btn btn-default btn-xs"><i class="fa fa-plus-circle"></i></a></th>
          </tr>
        </tfoot>
      </table>
    </paginated>
  </div>
</div>