<div class="row">
  <div class="col-md-2">
    <nav role="secondary">
      <data-mycellar-admin-nav></data-mycellar-admin-nav>
    </nav>
  </div>
  <div class="col-md-10">
    <header class="page-header"><h1>Région : {{region.name}}</h1></header>
    <form name="form" class="form">
      <error-form form="form"></error-form>
      <fieldset>
        <legend>Details</legend>
        <div class="form-group" ng-class="{'has-error': form.country.$invalid}">
          <label class="control-label" for="country">Pays</label>
          <div class="input-group" ng-show="!showSubCountry">
            <input 
              id="country"
              name="country"
              type="text"
              class="form-control"
              ng-model="region.country"
              placeholder="Pays"
              typeahead="country as country.name for country in countries($viewValue)"
              typeahead-editable="false"
              typeahead-min-length="2"
              typeahead-wait-ms="200" />
            <span class="input-group-btn">
              <a class="btn btn-default" ng-click="newCountry()"><i class="fa fa-plus"></i></a>
            </span>
          </div>
          <div ng-show="showSubCountry" class="sub-entity">
            <ng-form name="subCountryForm">
              <div class="form-group" ng-class="{'has-error': subCountryForm.name.$invalid}">
                <label class="control-label" for="name">Nom du pays</label>
                <input class="form-control" id="name" name="name" type="text" ng-model="country.name" placeholder="Nom du pays" />
                <error-ctrl ctrl="subCountryForm.name"></error-ctrl>
              </div>
              <a class="btn btn-success" ng-click="okCountry()">Valider</a>
              <a class="btn btn-warning" ng-click="cancelCountry()">Annuler</a>
            </ng-form>
          </div>
          <error-ctrl ctrl="form.country"></error-ctrl>
        </div>
        <div class="form-group" ng-class="{'has-error': form.name.$invalid}">
          <label class="control-label" for="name">Nom</label>
          <input class="form-control" id="name" name="name" type="text" ng-model="region.name" placeholder="Nom" />
          <error-ctrl ctrl="form.name"></error-ctrl>
        </div>
        <div class="form-group" ng-class="{'has-error': form.description.$invalid}">
          <label class="control-label" for="description">Description</label>
          <textarea 
              id="description"
              name="description"
              ng-model="region.description"
              placeholder="Description"
              class="form-control"
              rows="5"></textarea>
          <error-ctrl ctrl="form.description"></error-ctrl>
        </div>
      </fieldset>
      <input type="submit" class="btn btn-primary" value="Sauvegarder" ng-click="save()" />
      <input type="submit" class="btn btn-default" value="Annuler" ng-click="cancel()" />
    </form>
  </div>
</div>