<div class="row">
  <div class="col-md-2">
    <nav role="secondary">
      <data-mycellar-admin-nav></data-mycellar-admin-nav>
    </nav>
  </div>
  <div class="col-md-10">
    <header class="page-header"><h1>Vin</h1></header>
    <form name="form" class="form">
      <error-form form="form"></error-form>
      <wine-form form="form" wine="wine"></wine-form>
      <input type="submit" class="btn btn-primary" value="Sauvegarder" ng-click="save()" />
      <input type="submit" class="btn btn-default" value="Annuler" ng-click="cancel()" />
    </form>
  </div>
</div>