<div class="row">
  <div class="col-md-2">
    <nav role="secondary">
      <data-mycellar-admin-nav></data-mycellar-admin-nav>
    </nav>
  </div>
  <div class="col-md-10">
    <header class="page-header"><h1>Vin</h1></header>
    <form name="form" class="form">
      <error-form form="form"></error-form>
      <fieldset>
        <legend>Détails</legend>
        <div class="form-group" ng-class="{'has-error': form.appellation.$invalid}">
          <label class="control-label" for="appellation">Appellation</label>
          <div class="input-group" ng-show="!showSubAppellation">
            <input 
              id="appellation" 
              name="appellation" 
              type="text"
              class="form-control" 
              ng-model="ngModel" 
              placeholder="Appellation" 
              typeahead="appellation as appellation.name for appellation in appellations($viewValue)"
              typeahead-editable="false"  
              typeahead-min-length="2" 
              typeahead-wait-ms="200" />
            <span class="input-group-btn">
              <a class="btn btn-default" ng-click="newAppellation()"><i class="fa fa-plus"></i></a>
            </span>
          </div>
          <div ng-show="showSubAppellation" class="sub-entity">
            <ng-form name="subAppellationForm">
              <div class="form-group" ng-class="{'has-error': subAppellationForm.region.$invalid}">
                <label class="control-label" for="region">Région de l'appellation</label>
                  <div class="input-group" ng-show="!showSubRegion">
                    <input 
                      id="region" 
                      name="region" 
                      type="text"
                      class="form-control" 
                      ng-model="appellation.region" 
                      placeholder="Région" 
                      typeahead="region as region.name for region in regions($viewValue)"
                      typeahead-editable="false"  
                      typeahead-min-length="2" 
                      typeahead-wait-ms="200" />
                    <span class="input-group-btn">
                      <a class="btn btn-default" ng-click="newRegion()"><i class="fa fa-plus"></i></a>
                    </span>
                  </div>
                  <div ng-show="showSubRegion" class="sub-entity">
                    <ng-form name="subRegionForm">
                    <div class="form-group" ng-class="{'has-error': subRegionForm.country.$invalid}">
                      <label class="control-label" for="country">Pays de la région</label>
                      <div class="input-group" ng-show="!showSubCountry">
                        <input 
                          id="country" 
                          name="country" 
                          type="text"
                          class="form-control" 
                          ng-model="region.country" 
                          placeholder="Pays" 
                          typeahead="country as country.name for country in countries($viewValue)"
                          typeahead-editable="false"  
                          typeahead-min-length="2" 
                          typeahead-wait-ms="200" />
                        <span class="input-group-btn">
                          <a class="btn btn-default" ng-click="newCountry()"><i class="fa fa-plus"></i></a>
                        </span>
                      </div>
                      <div ng-show="showSubCountry" class="sub-entity">
                        <ng-form name="subCountryForm">
                          <div class="form-group" ng-class="{'has-error': subCountryForm.name.$invalid}">
                            <label class="control-label" for="name">Nom du pays</label>
                            <input class="form-control" id="name" name="name" type="text" ng-model="country.name" placeholder="Nom du pays" />
                            <error-ctrl ctrl="subCountryForm.name"></error-ctrl>
                          </div>
                          <a class="btn btn-success" ng-click="okCountry()">Valider</a>
                          <a class="btn btn-warning" ng-click="cancelCountry()">Annuler</a>
                        </ng-form>
                      </div>
                      <error-ctrl ctrl="subRegionForm.country"></error-ctrl>
                    </div>
                    <div class="form-group" ng-class="{'has-error': subRegionForm.name.$invalid}">
                      <label class="control-label" for="name">Nom de la région</label>
                      <input class="form-control" id="name" name="name" type="text" ng-model="region.name" placeholder="Nom de la région" />
                      <error-ctrl ctrl="subRegionForm.name"></error-ctrl>
                    </div>
                    <a class="btn btn-success" ng-click="okRegion()">Valider</a>
                    <a class="btn btn-warning" ng-click="cancelRegion()">Annuler</a>
                  </ng-form>
                </div>
                <error-ctrl ctrl="subAppellationForm.region"></error-ctrl>
              </div>
              <div class="form-group" ng-class="{'has-error': subAppellationForm.name.$invalid}">
                <label class="control-label" for="name">Nom de l'appellation</label>
                <input class="form-control" id="name" name="name" type="text" ng-model="appellation.name" placeholder="Nom de l'appellation" />
                <error-ctrl ctrl="subAppellationForm.name"></error-ctrl>
              </div>
              <a class="btn btn-success" ng-click="okAppellation()">Valider</a>
              <a class="btn btn-warning" ng-click="cancelAppellation()">Annuler</a>
            </ng-form>
          </div>
          <error-ctrl ctrl="form.appellation"></error-ctrl>
        </div>
        <div class="form-group" ng-class="{'has-error': form.producer.$invalid}">
          <label class="control-label" for="producer">Producteur</label>
          <div class="input-group" ng-show="!showSubProducer">
            <input 
              id="producer" 
              name="producer" 
              type="text"
              class="form-control" 
              ng-model="wine.producer" 
              placeholder="Producteur" 
              typeahead="producer as producer.name for producer in producers($viewValue)"
              typeahead-editable="false"  
              typeahead-min-length="2" 
              typeahead-wait-ms="200" />
            <span class="input-group-btn">
              <a class="btn btn-default" ng-click="newProducer()"><i class="fa fa-plus"></i></a>
            </span>
          </div>
          <div ng-show="showSubProducer" class="sub-entity">
            <ng-form name="subProducerForm">
              <div class="form-group" ng-class="{'has-error': subProducerForm.name.$invalid}">
                <label class="control-label" for="name">Nom du producteur</label>
                <input class="form-control" id="name" name="name" type="text" ng-model="producer.name" placeholder="Nom du producteur" />
                <error-ctrl ctrl="subProducerForm.name"></error-ctrl>
              </div>
              <a class="btn btn-success" ng-click="okProducer()">Valider</a>
              <a class="btn btn-warning" ng-click="cancelProducer()">Annuler</a>
            </ng-form>
          </div>
          <error-ctrl ctrl="form.producer"></error-ctrl>
        </div>
        <div class="form-group" ng-class="{'has-error': form.type.$invalid}">
          <label class="control-label" for="type">Type</label>
          <select id="type" name="type" ng-model="wine.type" class="form-control">
            <option label="Tranquille">STILL</option>
            <option label="Pétillant">SPARKLING</option>
            <option label="Spiritueux">SPIRIT</option>
            <option label="Autre">OTHER</option>
          </select>
          <error-ctrl ctrl="form.type"></error-ctrl>
        </div>
        <div class="form-group" ng-class="{'has-error': form.color.$invalid}">
          <label class="control-label" for="color">Couleur</label>
          <select id="color" name="color" ng-model="wine.color" class="form-control">
            <option label="Rouge">RED</option>
            <option label="Blanc">WHITE</option>
            <option label="Rosé">ROSE</option>
            <option label="Autre">OTHER</option>
          </select>
          <error-ctrl ctrl="form.color"></error-ctrl>
        </div>
        <div class="form-group" ng-class="{'has-error': form.name.$invalid}">
          <label class="control-label" for="name">Name</label>
          <input class="form-control" id="name" name="name" type="text" ng-model="wine.name" placeholder="Name" />
          <error-ctrl ctrl="form.name"></error-ctrl>
        </div>
        <div class="form-group" ng-class="{'has-error': form.vintage.$invalid}">
          <label class="control-label" for="vintage">Millésime</label>
          <input class="form-control" id="vintage" name="vintage" type="number" ng-model="wine.vintage" placeholder="Millésime" />
          <error-ctrl ctrl="form.vintage"></error-ctrl>
        </div>
        <div class="form-group" ng-class="{'has-error': form.ranking.$invalid}">
          <label class="control-label" for="ranking">Classement</label>
          <input class="form-control" id="ranking" name="ranking" type="text" ng-model="wine.ranking" placeholder="Classement" />
          <error-ctrl ctrl="form.ranking"></error-ctrl>
        </div>
        <div class="form-group" ng-class="{'has-error': form.description.$invalid}">
          <label class="control-label" for="description">Description</label>
          <textarea 
              id="description" 
              name="description" 
              ng-model="wine.description" 
              placeholder="Description" 
              class="form-control"
              rows="5"></textarea>
          <error-ctrl ctrl="form.description"></error-ctrl>
        </div>
      </fieldset>
      <input type="submit" class="btn btn-primary" value="Sauvegarder" ng-click="save()" />
      <input type="submit" class="btn btn-default" value="Annuler" ng-click="cancel()" />
    </form>
  </div>
</div>