<configuration>
  <property name="LOG_FILE" value="./target/mycellar.log" />
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <jmxConfigurator />

  <logger name="fr.mycellar" level="DEBUG" />

  <!-- URLRWRITE -->
  <!-- <logger name="org.tuckey.web.filters.urlrewrite" level="debug" /> -->

  <!-- HIBERNATE QUERIES -->
  <!-- <logger name="org.hibernate.SQL" level="debug" /> -->
  <!-- <logger name="org.hibernate.type" level="trace" /> -->

  <root level="warn">
    <appender-ref ref="CONSOLE" />
  </root>
</configuration>