<header class="page-header"><h1>Users</h1></header>
<div class="row-fluid">
  <div class="span2">
    <nav role="secondary">
      <data-mycellar-admin-nav data-ng-controller="AdminNavigationController"></data-mycellar-admin-nav>
    </nav>
  </div>
  <div class="span10">
    <data-errors-div errors="errors"></data-errors-div>
    <data-table-filters table-context="tableContext">
      <label for="lastname">Lastname</label>
      <input id="lastname" name="lastname" placeholder="Lastname" ng-model="tableContext.filters['lastname']" type="text" />
      <label for="firstname">Firstname</label>
      <input id="firstname" name="firstname" placeholder="Firstname" ng-model="tableContext.filters['firstname']" type="text" />
      <label for="email">Email</label>
      <input id="email" name="email" placeholder="Email" ng-model="tableContext.filters['email']" type="text" />
    </data-table-filters>
    <data-mycellar-table options="tableOptions" items="items" table-context="tableContext">
      <table class="table table-bordered table-striped table-condensed">
        <thead>
          <tr>
            <th>Lastname <icon-sort attribute="lastname" table-context="tableContext" /></th>
            <th>Firstname <icon-sort attribute="firstname" table-context="tableContext" /></th>
            <th>Email <icon-sort attribute="email" table-context="tableContext" /></th>
            <th class="actions"></th>
          </tr>
        </thead>
        <tbody ng-controller="LoadingCtrl">
          <tr ng-repeat="item in items">
            <td>{{item.lastname}}</td>
            <td>{{item.firstname}}</td>
            <td>{{item.email}}</td>
            <td>
              <a href ng-click="edit(item.id)" class="btn btn-mini"><i class="icon-edit icon-large"></i></a>
              <a href ng-click="delete(item.id)" class="btn btn-mini"><i class="icon-remove-sign icon-large"></i></a>
            </td>
          </tr>
          <tr ui-if="!loading && items.length == 0">
            <td colspan="4">No items to display.</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Lastname <icon-sort attribute="lastname" table-context="tableContext" /></th>
            <th>Firstname <icon-sort attribute="firstname" table-context="tableContext" /></th>
            <th>Email <icon-sort attribute="email" table-context="tableContext" /></th>
            <th class="actions"></th>
          </tr>
        </tfoot>
      </table>
    </data-mycellar-table>
  </div>
</div>