<div class="row">
  <div class="col-md-2">
    <nav role="secondary">
      <data-mycellar-admin-nav></data-mycellar-admin-nav>
    </nav>
  </div>
  <div class="col-md-10">
    <header class="page-header"><h1>Utilisateurs</h1></header>
    <data-table-filters table-context="tableContext">
      <div class="form-group">
        <label class="control-label sr-only" for="lastname">Nom de famille</label>
        <input class="form-control" id="lastname" name="lastname" placeholder="Nom de famille" ng-model="tableContext.filters['lastname']" type="text" />
      </div>
      <div class="form-group">
        <label class="control-label sr-only" for="firstname">Prénom</label>
        <input class="form-control" id="firstname" name="firstname" placeholder="Prénom" ng-model="tableContext.filters['firstname']" type="text" />
      </div>
      <div class="form-group">
        <label class="control-label sr-only" for="email">Email</label>
        <input class="form-control" id="email" name="email" placeholder="Email" ng-model="tableContext.filters['email']" type="text" />
      </div>
    </data-table-filters>
    <data-error-div errors="errors"></data-error-div>
    <paginated options="tableOptions" items="items" table-context="tableContext">
      <table class="table table-bordered table-striped table-condensed">
        <thead>
          <tr>
            <th>Nom de famille <icon-sort attribute="lastname" table-context="tableContext" /></th>
            <th>Prénom <icon-sort attribute="firstname" table-context="tableContext" /></th>
            <th>Email <icon-sort attribute="email" table-context="tableContext" /></th>
            <th class="actions"></th>
          </tr>
        </thead>
        <tbody ng-controller="LoadingCtrl">
          <tr ng-repeat="item in items">
            <td>{{item.lastname}}</td>
            <td>{{item.firstname}}</td>
            <td>{{item.email}}</td>
            <td>
              <a href ng-click="edit(item.id)" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></a>
              <a href ng-click="delete(item.id)" class="btn btn-danger btn-xs"><i class="fa fa-minus-circle"></i></a>
            </td>
          </tr>
          <tr ng-if="!loading && items.length == 0">
            <td colspan="4">Aucun utilisateur ne correspond aux filtres.</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Nom de famille <icon-sort attribute="lastname" table-context="tableContext" /></th>
            <th>Prénom <icon-sort attribute="firstname" table-context="tableContext" /></th>
            <th>Email <icon-sort attribute="email" table-context="tableContext" /></th>
            <th class="actions"></th>
          </tr>
        </tfoot>
      </table>
    </paginated>
  </div>
</div>