<div class="row">
  <div class="col-md-2">
    <nav role="secondary">
      <data-mycellar-admin-nav></data-mycellar-admin-nav>
    </nav>
  </div>
  <div class="col-md-10">
    <header class="page-header"><h1>User: {{user.lastname}} {{user.firstname}}</h1></header>
    <form name="form" class="form">
      <error-form form="form"></error-form>
      <fieldset>
        <legend>Details</legend>
        <div class="form-group" ng-class="{'has-error': form.lastname.$invalid}">
          <label class="control-label" for="lastname">Lastname</label>
          <input class="form-control" id="lastname" name="lastname" type="text" ng-model="user.lastname" placeholder="Lastname" />
          <error-ctrl ctrl="form.lastname"></error-ctrl>
        </div>
        <div class="form-group" ng-class="{'has-error': form.firstname.$invalid}">
          <label class="control-label" for="firstname">Firstname</label>
          <input class="form-control" id="firstname" name="firstname" type="text" ng-model="user.firstname" placeholder="Firstname" />
          <error-ctrl ctrl="form.firstname"></error-ctrl>
        </div>
        <div class="form-group" ng-class="{'has-error': form.email.$invalid}">
          <label class="control-label" for="email">Email</label>
          <input class="form-control" id="email" name="email" type="email" ng-model="user.email" placeholder="Email" />
          <error-ctrl ctrl="form.email"></error-ctrl>
        </div>
        <div class="form-group" ng-class="{'has-error': form.profile.$invalid}">
          <label class="control-label" for="profile">Profile</label>
          <select class="form-control" id="profile" name="profile" ng-model="user.profile">
            <option label="Basic">BASIC</option>
            <option label="Cellar">CELLAR</option>
            <option label="Booking">BOOKING</option>
            <option label="MyCellar">MYCELLAR</option>
            <option label="Admin">ADMIN</option>
          </select>
          <error-ctrl ctrl="form.profile"></error-ctrl>
        </div>
      </fieldset>
      <input type="submit" class="btn btn-primary" value="Save" ng-click="save()" />
      <input type="submit" class="btn btn-default" value="Cancel" ng-click="cancel()" />
    </form>
  </div>
</div>