<header class="page-header"><h1>Header</h1></header>
<div class="row-fluid">
  <div class="span2">
    <nav role="secondary">
      <data-mycellar-admin-nav data-ng-controller="AdminNavigationController"></data-mycellar-admin-nav>
    </nav>
  </div>
  <div class="span10">
    <form name="form" class="form form-horizontal">
      <fieldset>
        <legend>User</legend>
        <div class="control-group" ng-class="{error: form.lastname.$invalid}">
          <label class="control-label" for="lastname">Lastname</label>
          <div class="controls">
            <input id="lastname" name="lastname" type="text" ng-model="user.lastname" placeholder="Lastname" />
            <span class="help-inline" ng-show="form.lastname.$invalid">{{form.lastname.$error}}</span>
          </div>
        </div>
        <div class="control-group" ng-class="{error: form.firstname.$invalid}">
          <label class="control-label" for="firstname">Firstname</label>
          <div class="controls">
            <input id="firstname" name="firstname" type="text" ng-model="user.firstname" placeholder="Firstname" />
            <span class="help-inline" ng-show="form.firstname.$invalid">{{form.firstname.$error}}</span>
          </div>
        </div>
        <div class="control-group" ng-class="{error: form.email.$invalid}">
          <label class="control-label" for="email">Email</label>
          <div class="controls">
            <input id="email" name="email" type="email" ng-model="user.email" placeholder="Email" />
            <span class="help-inline" ng-show="form.email.$invalid">{{form.email.$error}}</span>
          </div>
        </div>
        <div class="control-group" ng-class="{error: form.profile.$invalid}">
          <label class="control-label" for="profile">Profile</label>
          <div class="controls">
            <select id="profile" name="profile" ng-model="user.profile">
              <option label="Basic">BASIC</option>
              <option label="Cellar">CELLAR</option>
              <option label="Booking">BOOKING</option>
              <option label="MyCellar">MYCELLAR</option>
              <option label="Admin">ADMIN</option>
            </select>
            <span class="help-inline" ng-show="form.profile.$invalid">{{form.profile.$error}}</span>
          </div>
        </div>
      </fieldset>
      <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Save" ng-click="save()" />
        <input type="submit" class="btn" value="Cancel" ng-click="cancel()" />
      </div>
    </form>
  </div>
</div>