<wicket:panel>
  <p>
    <label for="country.name"><wicket:message key="country.name">Name</wicket:message></label>
    <input id="country.name" wicket:id="country.name" type="text" disabled="disabled" />
  </p>
  <p>
    <label for="name"><wicket:message key="name">Name</wicket:message></label>
    <input id="name" wicket:id="name" type="text" />
  </p>
  <p>
    <label for="description"><wicket:message key="description">Description</wicket:message></label>
    <textarea id="description" wicket:id="description" />
  </p>
</wicket:panel>