<wicket:panel>
  <fieldset>
    <legend><wicket:message key="regionEdit">Region</wicket:message></legend>
    <div class="control-group" wicket:id="country.name">
      <input id="country.name" wicket:id="country.name" type="text" disabled="disabled" />
    </div>
    <div class="control-group" wicket:id="name">
      <input id="name" wicket:id="name" type="text" />
    </div>
    <div class="control-group" wicket:id="description">
      <textarea id="description" wicket:id="description" />
    </div>
  </fieldset>
</wicket:panel>