<wicket:panel>
  <fieldset>
    <legend><wicket:message key="wineEdit">Vin</wicket:message></legend>
    <div wicket:id="producer" />
    <div wicket:id="appellation" />
    <div wicket:id="type" />
    <div wicket:id="color" />
    <div class="control-group" wicket:id="name">
      <input id="name" wicket:id="name" type="text" />
    </div>
    <div class="control-group" wicket:id="vintage">
      <input id="vintage" wicket:id="vintage" type="number" />
    </div>
    <div class="control-group" wicket:id="ranking">
      <input id="ranking" wicket:id="ranking" type="text" />
    </div>
  </fieldset>
</wicket:panel>