<wicket:panel>
  <fieldset>
    <legend><wicket:message key="bookingEventEdit">Booking event</wicket:message></legend>
    <div class="control-group" wicket:id="name">
      <input id="name" wicket:id="name" type="text" />
    </div>
    <div class="control-group" wicket:id="start">
      <input id="start" wicket:id="start" type="date" size="10" maxlength="10" />
    </div>
    <div class="control-group" wicket:id="end">
      <input id="end" wicket:id="end" type="date" size="10" maxlength="10" />
    </div>
    <div wicket:id="bottles" class="control-group" />
  </fieldset>
</wicket:panel>