<wicket:panel>
  <fieldset>
    <legend><wicket:message key="bookingBottleEdit">Booking bottle</wicket:message></legend>
    <div wicket:id="bottle" />
    <div class="control-group" wicket:id="max">
      <input id="max" wicket:id="max" type="text" />
    </div>
    <div class="control-group" wicket:id="price">
      <input id="price" wicket:id="price" type="text" />
    </div>
    <div class="control-group" wicket:id="url">
      <input id="url" wicket:id="url" type="text" />
    </div>
  </fieldset>
</wicket:panel>