<wicket:panel xmlns:wicket="http://wicket.apache.org">
  <fieldset>
    <legend><wicket:message key="bookingEdit">Booking</wicket:message></legend>
    <div wicket:id="customer" />
    <div wicket:id="bookingEvent" />
    <table class="table table-striped table-condensed table-bordered table-middled">
      <thead>
        <tr>
          <th><wicket:message key="bottle">Bottle</wicket:message></th>
          <th><wicket:message key="price">Price</wicket:message></th>
          <th><wicket:message key="quantity">Quantity</wicket:message></th>
          <th><wicket:message key="linePrice">Total</wicket:message></th>
        </tr>
      </thead>
      <tbody>
        <tr wicket:id="quantities">
          <td><a target="_blank" wicket:id="key.bottle">Bottle</a></td>
          <td class="ra pre" wicket:id="key.price">price</td>
          <td class="ca pre"><input class="input-mini" type="number" wicket:id="valueInput" /><select class="input-mini" wicket:id="valueSelect"><wicket:container wicket:id="options"><option wicket:id="option"></option></wicket:container></select><span wicket:id="value">value</span></td>
          <td class="ra pre" wicket:id="linePrice">line price</td>
        </tr>
        <tr wicket:id="noBottles">
          <td colSpan="4" class="ca"><wicket:message key="noBottles">No bottles</wicket:message></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th><wicket:message key="bottle">Bottle</wicket:message></th>
          <th><wicket:message key="price">Price</wicket:message></th>
          <th><wicket:message key="quantity">Quantity</wicket:message></th>
          <th><wicket:message key="linePrice">Total</wicket:message></th>
        </tr>
      </tfoot>
    </table>
  </fieldset>
</wicket:panel>