<wicket:panel xmlns:wicket="http://wicket.apache.org">
  <table class="table table-bordered table-striped table-condensed">
    <tbody>
      <tr>
        <th><wicket:message key="totalBottles">Total bottles</wicket:message></th>
        <td class="ra" wicket:id="totalBottles">Total bottles</td>
      </tr>
      <tr>
        <th><wicket:message key="totalPrice">Total</wicket:message></th>
        <td class="ra" wicket:id="totalPrice">Total</td>
      </tr>
      <tr>
        <th><wicket:message key="VAT">VAT</wicket:message></th>
        <td class="ra" wicket:id="vat">VAT</td>
      </tr>
    </tbody>
  </table>
</wicket:panel>