/* Makeshift CSS Reset */
* {
  margin: 0;
  padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header,footer,aside,nav,article {
  display: block;
}

body {
  margin: 0 auto;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  background: #ffdc95;
  padding: 10px;
}

/** NAV **/
nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: #3c0017;
  color: #ed5f4a;
}

nav ul {
  margin: 0 auto;
  padding: 0 5px;
  list-style: none;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  margin-left: 20px;
  width: 140px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  color: #ed5f4a;
}

nav ul li a:hover {
  color: #ffdc95;
  background: #c42d30;
}

nav ul li.selected a {
  color: #ffdc95;
  background: #c42d30;
}


/** HEADER **/
body>header {
  margin-top: 30px;
}

/** MAIN **/
body>section>div {
  background: #ffffff;
  margin: 0 auto;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #ffb36f;
  border-radius: 5px;
}

/** FOOTER **/
body>footer {
  margin-top: 20px;
  padding: 10px 0;
  position: absolute;
  left: 0;
  width: 100%;
  background: #3c0017;
  color: #ed5f4a; 
}

body>footer a {
  color: #ed5f4a;
}

body>footer>div {
  margin: 0 auto;
  width: 90%;
}

body>footer>div>p {
  text-align: center;
}

/** TABLE BORDER **/
table.border {
    border: 1px solid black;
    border-collapse: collapse;
}

table.border td, table.border th {
    border: 1px solid black;
    padding: 2px;
}

table.border th {
    background: #3C0017;
    color: #FFB36F;
}

table.border tr:nth-child(even) {
    background: #ED5F4A;
}

table.border tr:nth-child(odd) {
    background: #FFB36F;
}

/** TABLE LARGE **/
table.large {
  width: 100%;
}

/** FIELDSET **/
form {
  counter-reset: fieldsets;
}

fieldset {
  border: none;
  padding: 5px;
  margin-top: 10px;
}

fieldset:first-of-type {
  margin-bottom: 0;
}

fieldset > legend:before {
  content: "Etape " counter(fieldsets) " : ";
  counter-increment: fieldsets;
}

fieldset div.formDiv {
  border: 2px solid;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 2px;
}

legend {
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 1px;
  margin-bottom: 5px;
}

label:after {
  content: " : "
}

/** CLOUD **/
* > .cloud:nth-child(3n) a {
  color: blue;
  text-decoration: none;
}

* > .cloud:nth-child(3n+1) a {
  color: red;
  text-decoration: none;
}

* > .cloud:nth-child(3n+2) a {
  color: green;
  text-decoration: none;
}

* > .cloud:nth-child(3n) a:hover {
  color: darkBlue;
}

* > .cloud:nth-child(3n+1) a:hover {
  color: darkRed;
}

* > .cloud:nth-child(3n+2) a:hover {
  color: darkGreen;
}

/** MULTIPLE **/
ul.multiple {
  list-style: none;
  padding: 2px;
}

/** CENTER **/
.center {
  text-align: center;   
}

/** SELECTOR **/
div.selector {
  float: left;
  border: 1px solid black;
  height: 100px;
  margin-right: 10px;
  overflow: auto;
}

div.selector:last-of-type {
  float: none;
  margin-right: 0;
}