/* Makeshift CSS Reset */
* {
  margin: 0;
  padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header,footer,aside,nav,article {
  display: block;
}

body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  background: #ffdc95;
  padding: 50px 10px 10px;
}

/** NAV **/
nav[role="main"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: #3c0017;
  color: #ed5f4a;
  background-repeat:repeat-x;
  background-image:-khtml-gradient(linear, left top, left bottom, from(#5e2239), to(#3c0017));
  background-image:-moz-linear-gradient(top, #5e2239, #3c0017);
  background-image:-ms-linear-gradient(top, #5e2239, #3c0017);
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #5e2239), color-stop(100%, #3c0017));
  background-image:-webkit-linear-gradient(top, #5e2239, #3c0017);
  background-image:-o-linear-gradient(top, #5e2239, #3c0017);
  background-image:linear-gradient(top, #5e2239, #3c0017);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e2239', endColorstr='#3c0017', GradientType=0);
  -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

nav[role="main"] ul {
  margin-left: 120px;
  padding: 0 5px;
  list-style: none;
}

nav[role="main"] ul li {
  float: left;
}

nav[role="main"] ul li a {
  display: block;
  margin-left: 20px;
  width: 120px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #ed5f4a;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
}

nav[role="main"] ul li a:hover {
  color: #ffdc95;
  background: #c42d30;
}

nav[role="main"] ul li.selected a {
  color: #ffdc95;
  background: #c42d30;
}

nav[role="secondary"] {
  position: absolute;
  top: 40px;
  left: 270px;
  background: #3c0017;
  color: #ed5f4a;
}

nav[role="secondary"] ul {
  margin: 0 auto;
  padding: 0 5px;
  list-style: none;
}

nav[role="secondary"] ul li {
  float: left;
}

nav[role="secondary"] ul li a {
  display: block;
  margin: 0 10px;
  width: 120px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  color: #ed5f4a;
}

nav[role="secondary"] ul li a:hover {
  color: #ffdc95;
  background: #c42d30;
}

nav[role="secondary"] ul li.selected a {
  color: #ffdc95;
  background: #c42d30;
}

/** HEADER **/
header[role="main"] {
  position: absolute;
  top: 0;
  left: 10px;
  color: #c42d30;
  z-index: 1;
}

header[role="main"] h1 {
  font-size: 2em;
}

header[role="secondary"] {
  width: 240px;
}

/** LOGIN **/
div#login {
  position: absolute;
  top: 0;
  right: 0;
  background: #C42D30;
  border: 3px solid #FFB36F;
  border-radius: 10px;
  color: #FFDC95;
  padding: 2px 5px;
  margin: 2px;
}

div#login ul.feedbackPanel {
  list-style: none;
}

/** DEBUG **/
div#wicketDebugBar {
  top: 30px;
  z-index: 3;
}

/** MAIN **/
section {
  background: #ffffff;
  margin: 0 auto 10px auto;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #ffb36f;
  border-radius: 5px;
}

/** FOOTER **/
footer {
  margin-top: 10px;
  padding: 10px 0;
  position: absolute;
  left: 0;
  width: 100%;
  background: #3c0017;
  color: #ed5f4a;
  background-repeat:repeat-x;
  background-image:-khtml-gradient(linear, left top, left bottom, from(#5e2239), to(#3c0017));
  background-image:-moz-linear-gradient(top, #5e2239, #3c0017);
  background-image:-ms-linear-gradient(top, #5e2239, #3c0017);
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #5e2239), color-stop(100%, #3c0017));
  background-image:-webkit-linear-gradient(top, #5e2239, #3c0017);
  background-image:-o-linear-gradient(top, #5e2239, #3c0017);
  background-image:linear-gradient(top, #5e2239, #3c0017);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e2239', endColorstr='#3c0017', GradientType=0);
  -webkit-box-shadow:0 -1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow:0 -1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow:0 -1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1); 
}

footer a {
  color: #ed5f4a;
}

footer>div {
  margin: 0 auto;
  width: 90%;
}

footer>div>p {
  text-align: center;
}

/** TABLE BORDER **/
table.border {
    border: 1px solid black;
    border-collapse: collapse;
}

table.border td, table.border th {
    border: 1px solid black;
    padding: 2px;
}

table.border th {
    background: #3C0017;
    color: #FFB36F;
}

table.border tr:nth-child(even) {
    background: #ED5F4A;
}

table.border tr:nth-child(odd) {
    background: #FFB36F;
}

/** TABLE LARGE **/
table.large {
  width: 100%;
}

/** TABLE NAV **/
table td.tableNav {
  text-align: center;
}

table td.tableNav > span {
  padding: 2px;
}

/** TEXT-ALIGN **/
.la {
  text-align: left;
}

.ca {
  text-align: center;
}

.ra {
  text-align: right;
}

/** FIELDSET **/
form {
  counter-reset: fieldsets;
}

fieldset {
  border: none;
  padding: 5px;
  margin-top: 10px;
}

fieldset:first-of-type {
  margin-top: 0;
}

fieldset.step > legend:before {
  content: "Etape " counter(fieldsets) " : ";
  counter-increment: fieldsets;
}

fieldset div.formDiv {
  border: 2px solid;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 2px;
}

legend {
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 1px;
  margin-bottom: 5px;
}

label:after {
  content: " : "
}

/** CLOUD **/
.cloud:nth-child(3n) a {
  color: blue;
  text-decoration: none;
}

.cloud:nth-child(3n+1) a {
  color: red;
  text-decoration: none;
}

.cloud:nth-child(3n+2) a {
  color: green;
  text-decoration: none;
}

.cloud:nth-child(3n) a:hover {
  color: darkBlue;
}

.cloud:nth-child(3n+1) a:hover {
  color: darkRed;
}

.cloud:nth-child(3n+2) a:hover {
  color: darkGreen;
}

/** MULTIPLE **/
ul.multiple {
  list-style: none;
  padding: 2px;
}

ul.multiple li {
  padding: 1px;
}

ul.multiple li.selected {
  border: 1px dotted;
}

/** LIST COMPONENT **/
ul.listComponent {
  list-style: none;
  padding: 2px;
}

ul.listComponent li {
  border: 1px solid black;
  border-bottom: 0;
  margin: 0;
  padding: 2px;
}

ul.listComponent li:last-of-type {
  border-bottom: 1px solid black;
}

ul.listComponent li:hover {
  background: #FFB36F;
}

/** SELECTOR **/
div.selector {
  float: left;
  border: 1px solid black;
  height: 100px;
  margin: 5px;
  overflow: auto;
}

/** PANEL **/
div.panel {
  margin-bottom: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #3c0017;
  border-radius: 5px;
  background: #ffdc95;
  overflow: auto;
}

/** DASHBOARD **/
div.dashboard {
  float: left;
  border-style: solid;
  border-width: 2px;
  border-color: #3c0017;
  border-radius: 5px;
  margin-right: 5px;
  overflow: auto;
}

div.dashboard:last-of-type {
  float: none;
}

div.dashboard h5 {
  text-align: center;
  background: #ffdc95;
  margin: 0;
  padding: 2px;
}

div.dashboard div.content {
  margin: 2px;
}