/* CSS Reset */
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

/* Tell the browser to render HTML 5 elements as block */
header,footer,aside,nav,article {
  display: block;
}

body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  background: #ffdc95;
  padding: 50px 10px 10px;
}

img.icon {
  vertical-align: text-top;
}

/** NAV **/
nav[role="main"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: #3c0017;
  color: #ed5f4a;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5e2239),
    to(#3c0017) );
  background-image: -moz-linear-gradient(top, #5e2239, #3c0017);
  background-image: -ms-linear-gradient(top, #5e2239, #3c0017);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5e2239),
    color-stop(100%, #3c0017) );
  background-image: -webkit-linear-gradient(top, #5e2239, #3c0017);
  background-image: -o-linear-gradient(top, #5e2239, #3c0017);
  background-image: linear-gradient(top, #5e2239, #3c0017);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e2239',
    endColorstr='#3c0017', GradientType=0 );
  box-shadow: 0 0px 3px 3px rgba(0, 0, 0, 0.25);
}

nav[role="main"]>ul {
  margin-left: 160px;
  padding: 0 5px;
  list-style: none;
}

nav[role="main"]>ul li {
  float: left;
}

nav[role="main"]>ul li a {
  display: block;
  margin: 0 10px;
  padding: 0 10px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #ed5f4a;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

nav[role="main"]>ul li a:hover {
  color: #ffdc95;
  background: #c42d30;
}

nav[role="main"] ul li.selected>a {
  color: #ffdc95;
  background: #c42d30;
}

nav[role="main"]>ul li a.dropdown-toggle {
  
}

nav[role="main"]>ul li a.dropdown-toggle:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #FFFFFF;
  content: "&darr;";
  display: inline-block;
  height: 0;
  margin-left: 4px;
  opacity: 0.5;
  text-indent: -99999px;
  vertical-align: middle;
  width: 0;
}

nav[role="main"]>ul li ul.dropdown-menu {
  background-clip: padding-box;
  background-color: #3C0017;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 0 0 6px 6px;
  border-style: solid;
  border-width: 0 1px 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: none;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 6px 0;
  position: absolute;
  top: 40px;
  z-index: 900;
}

nav[role="main"]>ul li.open ul.dropdown-menu {
  display: block;
}

nav[role="main"]>ul li ul.dropdown-menu li {
  float: none;
}

nav[role="main"]>ul li ul.dropdown-menu li a {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  margin: 0;
  line-height: 20px;
  padding: 0 20px;
}

nav[role="main"]>ul li ul.dropdown-menu li a:hover {
  background-color: #3c0017;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5e2239),
    to(#3c0017) );
  background-image: -moz-linear-gradient(top, #5e2239, #3c0017);
  background-image: -ms-linear-gradient(top, #5e2239, #3c0017);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5e2239),
    color-stop(100%, #3c0017) );
  background-image: -webkit-linear-gradient(top, #5e2239, #3c0017);
  background-image: -o-linear-gradient(top, #5e2239, #3c0017);
  background-image: linear-gradient(top, #5e2239, #3c0017);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e2239',
    endColorstr='#3c0017', GradientType=0 );
}

/** HEADER **/
header[role="main"] {
  position: absolute;
  top: 0;
  left: 10px;
  color: #c42d30;
  z-index: 1;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

header[role="main"] h1 {
  font-size: 2.5em;
}

header[role="secondary"] {
  font-size: 1.5em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

/** LOGIN **/
div#login {
  position: absolute;
  top: 0;
  right: 0;
  border-left: 2px solid #3C0017;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2);
  color: #FFDC95;
  line-height: 40px;
  padding: 0 10px;
  background: #3c0017;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5e2239),
    to(#3c0017) );
  background-image: -moz-linear-gradient(top, #5e2239, #3c0017);
  background-image: -ms-linear-gradient(top, #5e2239, #3c0017);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5e2239),
    color-stop(100%, #3c0017) );
  background-image: -webkit-linear-gradient(top, #5e2239, #3c0017);
  background-image: -o-linear-gradient(top, #5e2239, #3c0017);
  background-image: linear-gradient(top, #5e2239, #3c0017);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e2239',
    endColorstr='#3c0017', GradientType=0 );
}

div#login label {
  width: auto;
  float: none;
}

div#login input {
  margin-right: 5px;
}

div#login input {
  float: none;
}

div#login input[type="submit"] {
  padding: 2px;
  margin-right: 0;
}

div#login ul.feedbackPanel {
  list-style: none;
}

/** DEBUG **/
div#wicketDebugBar {
  top: 40px;
  z-index: 3;
}

/** MAIN **/
section {
  background: #ffffff;
  margin: 0 auto 10px auto;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #ffb36f;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.5);
}

section.form {
  padding: 0;
}

/** FOOTER **/
footer {
  margin-top: 10px;
  padding: 10px 0;
  position: absolute;
  left: 0;
  width: 100%;
  background: #3c0017;
  color: #ed5f4a;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5e2239),
    to(#3c0017) );
  background-image: -moz-linear-gradient(top, #5e2239, #3c0017);
  background-image: -ms-linear-gradient(top, #5e2239, #3c0017);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5e2239),
    color-stop(100%, #3c0017) );
  background-image: -webkit-linear-gradient(top, #5e2239, #3c0017);
  background-image: -o-linear-gradient(top, #5e2239, #3c0017);
  background-image: linear-gradient(top, #5e2239, #3c0017);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e2239',
    endColorstr='#3c0017', GradientType=0 );
  box-shadow: 0 0px 3px 3px rgba(0, 0, 0, 0.25);
}

footer a {
  color: #ed5f4a;
}

footer>div {
  margin: 0 auto;
  width: 90%;
}

footer>div>p {
  text-align: center;
}

/** TABLE BORDER **/
table.border {
  border: 1px solid black;
  border-collapse: collapse;
  table-layout: fixed;
  overflow: auto;
  word-wrap: break-word;
}

table.border td,table.border th {
  border: 1px solid black;
  padding: 2px;
}

table.border tr:nth-child(odd) {
  background: #C5C5C5;
}

/** TABLE LARGE **/
table.large {
  width: 100%;
}

/** TABLE NAV **/
table td.tableNav {
  text-align: center;
}

table td.tableNav>span {
  padding: 2px;
}

/** TEXT-ALIGN **/
.la {
  text-align: left;
}

.ca {
  text-align: center;
}

.ra {
  text-align: right;
}

/** VERTICAL-ALIGN **/
.vam {
  vertical-align: middle;
}

/** FIELDSET **/
form {
  counter-reset: fieldsets;
}

div.subForm {
  width: 80%;
  margin: auto;
  border: 2px solid;
  border-radius: 5px;
}

div.subForm>div:first-of-type {
  margin: 5px;
}

fieldset {
  border: none;
  padding: 5px;
  margin-bottom: 10px;
}

section.form fieldset {
  margin: 10px;
}

section.form div.submits {
  background: none repeat scroll 0 0 #F5F5F5;
  border-top: 1px solid #DDDDDD;
  border-radius: 0px 0px 5px 5px;
  padding: 10px 0 10px 120px;
}

fieldset.step>legend:before {
  content: "Etape " counter(fieldsets) " : ";
  counter-increment: fieldsets;
}

fieldset div.formDiv {
  border: 2px solid;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 2px;
  min-height: 26px;
}

fieldset div.formDiv a.add {
  float: right;
}

legend {
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
  padding-left: 120px;
}

label {
  min-width: 100px;
  text-align: right;
  float: left;
  margin-right: 10px;
  padding-top: 4px;
  line-height: 18px;
}

label:after {
  content: " : "
}

input,textarea {
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}

input,textarea,select {
  border: 1px solid #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding: 4px;
  line-height: 18px;
}

input:focus,textarea:focus {
  outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px
    rgba(82, 168, 236, 0.6);
}

input[type="file"]:focus,input[type="checkbox"]:focus,select:focus {
  box-shadow: none;
  outline: 1px dotted #666;
}

input[type="button"],input[type="submit"],input[type="image"] {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
    color-stop(25%, #ffffff), to(#e6e6e6) );
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
    endColorstr='#e6e6e6', GradientType=0 );
  padding: 5px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
    rgba(0, 0, 0, 0.05);
  -moz-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}

input[type="button"]:hover,input[type="submit"]:hover,input[type="image"]:hover {
  background-position: 0 -10px;
  color: #333;
  text-decoration: none;
}

/** VALUE **/
.value .input {
  border-radius: 3px 0 0 3px;
  float: left;
}

.value .cancel {
  float: left;
  border-width: 1px 1px 1px 0px;
  border-radius: 0px 3px 3px 0px;
  padding: 4px;
}

.value .cancel:hover {
  border-width: 1px 1px 1px 0px;
  border-radius: 0px 3px 3px 0px;
  padding: 4px;
}

/** CLOUD **/
.cloud:nth-child(3n) a {
  color: blue;
  text-decoration: none;
}

.cloud:nth-child(3n+1) a {
  color: red;
  text-decoration: none;
}

.cloud:nth-child(3n+2) a {
  color: green;
  text-decoration: none;
}

.cloud:nth-child(3n) a:hover {
  color: darkBlue;
}

.cloud:nth-child(3n+1) a:hover {
  color: darkRed;
}

.cloud:nth-child(3n+2) a:hover {
  color: darkGreen;
}

/** MULTIPLE **/
ul.multiple {
  list-style: none;
  padding: 2px;
}

ul.multiple li {
  padding: 1px;
}

ul.multiple li.selected {
  border: 1px dotted;
}

/** LIST COMPONENT **/
ul.listComponent {
  list-style: none;
  padding: 2px;
}

ul.listComponent li {
  border: 1px solid black;
  border-bottom: 0;
  margin: 0;
  padding: 2px;
}

ul.listComponent li:last-of-type {
  border-bottom: 1px solid black;
}

ul.listComponent li:hover {
  background: #FFB36F;
}

/** SELECTOR **/
div.selector {
  margin-left: 110px;
}

/** FILTER **/
div.filter {
  float: left;
  border: 1px solid black;
  height: 100px;
  margin: 5px;
  overflow: auto;
}

p.filter {
  clear: left;
  margin: auto;
  width: 125px;
  margin-bottom: 2px;
}

/** PANEL **/
div.panel {
  margin-bottom: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #3c0017;
  border-radius: 5px;
  background: #ffdc95;
  overflow: auto;
}

/** DASHBOARD **/
div.dashboard {
  float: left;
  border-style: solid;
  border-width: 2px;
  border-color: #3c0017;
  border-radius: 5px;
  margin-right: 5px;
  overflow: auto;
}

div.dashboard:last-of-type {
  float: none;
}

div.dashboard h5 {
  text-align: center;
  background: #ffdc95;
  margin: 0;
  padding: 2px;
}

div.dashboard div.content {
  margin: 2px;
}
