<core-toolbar main>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Réservation</span>
  <drawer-button right icon="more-vert"></drawer-button>
</core-toolbar>
<core-drawer-panel rightDrawer>
  <nav role="secondary" drawer>
    <admin-domain-nav></admin-domain-nav>
  </nav>
  <div main>
    <form name="form" novalidate>
      <section>
        <booking-event booking-event="fix.bookingEvent" label="Campagne de réservation"></booking-event>
        <user user="fix.customer" label="Client"></user>
      </section>
      <section>
        <core-item class="subheader">Quantités</core-item>
        <core-item class="threeLines" ng-repeat="bookingBottle in booking.bookingEvent.bottles">
          <div>{{booking.quantities[booking.bookingEvent.id + '-' + bookingBottle.id]}}</div>
          <paper-menu-button select icon="arrow-drop-down" halign="right">
            <paper-item ng-repeat="i in $root.getArray(25) track by $index" label="{{$index}}" ng-click="booking.quantities[booking.bookingEvent.id + '-' + bookingBottle.id] = $index"></paper-item>
          </paper-menu-button>
          <div flex>
            <div class="ellipsis">{{bookingBottle.bottle.wine | wineNameRenderer}}</div>
            <div class="ellipsis"><small>{{bookingBottle.bottle.wine.producer.name}} - {{bookingBottle.bottle.wine.color | wineColorRenderer}}</small></div>
            <div class="ellipsis"><small>{{bookingBottle.price | currency:"€"}} / {{bookingBottle.bottle.format | formatRenderer}}</small></div>
          </div>
          <div class="rightNarrow">{{bookingBottle.price * booking.quantities[booking.bookingEvent.id + '-' + bookingBottle.id] | currency:"€"}}</div>
        </core-item>
        <core-item>
          <div flex>Total</div>
          <div>{{total | currency:"€"}}</div>
        </core-item>
      </section>
      <section>
        <div horizontal layout>
          <paper-button style="margin: auto;" raisedButton primary ng-click="save()" ng-disabled="form.$invalid" label="Sauvegarder"></paper-button>
          <paper-button style="margin: auto;" raisedButton ng-click="cancel()" label="Annuler"></paper-button>
        </div>
      </section>
    </form>
  </div>
</core-drawer-panel>
