<core-toolbar main>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Réservation</span>
  <drawer-button right icon="more-vert"></drawer-button>
</core-toolbar>
<core-drawer-panel rightDrawer>
  <nav role="secondary" drawer>
    <admin-domain-nav></admin-domain-nav>
  </nav>
  <div main>
    <form name="form" novalidate>
      <section>
        <booking-event booking-event="fix.bookingEvent" label="Campagne de réservation"></booking-event>
        <user user="fix.customer" label="Client"></user>
      </section>
      <section>
        <core-item class="subheader">Quantités</core-item>
        <core-item class="threeLines" ng-repeat="bookingBottle in booking.bookingEvent.bottles">
          <paper-input style="width: 50px;" type="number" bind-polymer-input="booking.quantities[booking.bookingEvent.id + '-' + bookingBottle.id]"></paper-input>
          <div flex>
            <div class="ellipsis">{{bookingBottle.bottle.wine | wineNameRenderer}}</div>
            <div class="ellipsis"><small>{{bookingBottle.bottle.wine.producer.name}} - {{bookingBottle.bottle.wine.color | wineColorRenderer}}</small></div>
            <div class="ellipsis"><small>{{bookingBottle.price | currency:"€"}} / {{bookingBottle.bottle.format | formatRenderer}}</small></div>
          </div>
          <div class="rightNarrow">{{bookingBottle.price * booking.quantities[booking.bookingEvent.id + '-' + bookingBottle.id] | currency:"€"}}</div>
        </core-item>
        <core-item>
          <div flex>Total</div>
          <div>{{total | currency:"€"}}</div>
        </core-item>
      </section>
      <div horizontal layout class="buttons">
        <paper-button raised primary ng-click="save()" ng-disabled="form.$invalid">Sauvegarder</paper-button>
        <paper-button raised ng-click="cancel()">Annuler</paper-button>
      </div>
    </form>
  </div>
</core-drawer-panel>
