<core-toolbar>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Réservations</span>
  <core-input id="search" bind-polymer-input="search" flex hidden></core-input>
  <paper-icon-button icon="cancel" hidden ng-show="search !== ''" ng-click="clearSearch()"></paper-icon-button>
  <paper-icon-button icon="clear" hidden ng-show="search === ''" ng-click="toggleHidden()"></paper-icon-button>
  <paper-icon-button icon="search" ng-click="toggleHidden()"></paper-icon-button>
  <drawer-button right icon="more-vert"></drawer-button>
</core-toolbar>
<core-drawer-panel rightDrawer>
  <nav role="secondary" drawer>
    <admin-domain-nav></admin-domain-nav>
  </nav>
  <div main>
    <paper-item ng-if="items.length == 0">Aucune réservation</paper-item>
    <paper-item class="twoLines" ng-click="edit(booking.id)" ng-repeat="booking in items">
      <div flex>
        <div class="ellipsis">{{booking.customer | userRenderer:'long'}}</div>
        <div class="ellipsis"><small>{{booking.bookingEvent.name}} du {{booking.bookingEvent.start | date:'longDate'}} au {{booking.bookingEvent.end | date:'longDate'}}</small></div>
      </div>
      <paper-icon-button icon="remove-circle-outline" ng-click="delete(booking.id, $event)"></paper-icon-button>
    </paper-item>
    <paper-item ng-if="size > items.length" label="Voir les {{size - items.length > pageCount ? pageCount : size - items.length}} suivantes sur {{size - items.length}}" ng-click="more()"></paper-item>
    <paper-fab icon="add" raisedButton="false" ng-click="new()"></paper-fab>
  </div>
</core-drawer-panel>
