body {
  padding-top: 70px;
}

/* START OF BOOTSTRAP overrides */

.page-header {
  margin: 20px 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: none; /* remove bootstrap max-width for super large screen */
  }
}

.list-group-item-heading {
  text-transform: uppercase;
}

.list-group {
  word-wrap: break-word;
}

.panel-heading dl {
  padding: 0;
  margin: 0;
}

/* END OF BOOTSTRAP overrides */

footer {
  border-top: 1px solid #E5E5E5;
  margin-top: 10px;
  padding: 30px;
}

* {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

.table th.actions {
  text-align: center;
  min-width: 64px;
  max-width: 64px;
  width: 64px;
}

.table td,.table th {
  vertical-align: middle;
}

.loading {
  top: 45%;
  left: 45%;
  position: absolute;
  text-align: center;
  width: 100px;
  z-index: 1000;
}

.table th.stackCount, .table td.stackCount {
  text-align: center;
  min-width: 60px;
  max-width: 60px;
  width: 60px;
}

.table td.stack {
  word-break: break-all;
  word-wrap: break-word;
}