body {
  padding-top: 40px;
}

footer {
  border-top: 1px solid #E5E5E5;
  margin-top: 10px;
  padding: 30px;
}

* {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

.table th.actions {
  text-align: center;
  min-width: 60px;
  max-width: 60px;
  width: 60px;
}

.table td,.table th {
  vertical-align: middle;
}

loading {
  top: 45%;
  left: 45%;
  position: absolute;
  text-align: center;
  width: 100px;
}