/** Landscape phones and down **/
@media (max-width: 480px) {
  .login-collapse{
    clear: both;
    float: left;
  }

  .login-collapse, .login-collapse.collapse {
    height: 0;
    overflow: hidden;
  }

  .navbar .btn-inverse span {
    display: none;
  }
  
  .controls .sub-form {
    margin-top: 0px;
    margin-left: 0px;
  }
  
  .hero-unit {
    padding: 20px;
  }
  
  .hero-unit .h1 {
    word-wrap: break-workd;
  }
}

/** Landscape phone to portrait tablet **/
@media (max-width: 767px) {
  .login-collapse{
    clear: both;
    float: left;
  }
  
  .login-collapse, .login-collapse.collapse {
    height: 0;
    overflow: hidden;
  }
  
  .navbar .btn-inverse span {
    display: none;
  }
  
  .filter-collapse {
    overflow: hidden;
    height: 0;
    border: none;
    box-shadow: none;
    margin: 0;
  }
  
  .btn-filter {
    display: inline-block;
  }
  
  .hero-unit {
    padding: 40px;
  }
  
  .hero-unit .h1 {
    word-wrap: break-workd;
  }
  
  .input-large, .input-xlarge, .input-xxlarge, 
  input[class *="span"], select[class *="span"], textarea[class *="span"] {
    width: 100% !important;
  }
}

/** Portrait tablet to landscape and desktop **/
@media (min-width:768px) and (max-width:979px){
  .login-collapse{
    clear: both;
    float: left;
  }
  
  .login-collapse, .login-collapse.collapse {
    height: 0;
    overflow: hidden;
  }
  
  .filter-collapse {
    overflow: hidden;
    height: 0;
    border: none;
    box-shadow: none;
    margin: 0;
  }
  
  .btn-filter {
    display: inline-block;
  }
}

/** Default **/
@media (min-width:980px){
  .login-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
  
  .filter-collapse {
    height: auto !important;
  }
}

/** Large desktop **/
@media (min-width: 1200px) {
}