<ng-messages for="ctrl.$error">
  <ng-message when="required">Veuillez renseigner ce champ.</ng-message>
  <ng-message when="date">Veuillez saisir une date.</ng-message>
  <ng-message when="editable">Veuillez sélectionner une valeur présente dans la liste.</ng-message>
  <ng-message when="email">Veuillez saisir un e-mail.</ng-message>
  <ng-message when="match">Les deux champs ne sont pas identiques.</ng-message>
  <ng-message when="number">Veuillez saisir un nombre.</ng-message>
  <ng-message when="BusinessError_CONFIGURATION_00002">Veuillez saisir un e-mail.</ng-message>
  <ng-message>Erreur inconnue.</ng-message>
</ng-messages>
