<div>
  <div ng-transclude></div>
  <div class="row-fluid">
    <div class="span12">
      <div class="pagination pagination-centered" style="margin: 0;">
        <ul>
          <li ng-class="{disabled: currentPage == 0}"><a ng-click="currentPage == 0 || setPage(0)" href="">&laquo; First</a></li>
          <li ng-class="{disabled: currentPage == 0}"><a ng-click="currentPage == 0 || previousPage()" href="">&lsaquo; Previous</a></li>
          <li class="disabled" ui-if="pages[0].number != 0"><a>...</a></li>
          <li ng-class="{active: currentPage == page.number}" ng-repeat="page in pages"><a ng-click="currentPage == page.number || setPage(page.number)" href="">{{page.number + 1}}</a></li>
          <li class="disabled" ui-if="pages[pages.length - 1].number != (pageCount - 1)"><a>...</a></li>
          <li ng-class="{disabled: currentPage == pageCount - 1}"><a ng-click="currentPage == pageCount - 1 || nextPage()" href="">Next &rsaquo;</a></li>
          <li ng-class="{disabled: currentPage == pageCount - 1}"><a ng-click="currentPage == pageCount - 1 || setPage(pageCount - 1)" href="">Last &raquo;</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6" style="line-height: 30px;">
      Showing {{firstItem + 1}} to {{firstItem + count}} of {{itemCount}} entries.
    </div>
    <div class="span6 text-right">
        Showing 
        <select ng-model="itemsPerPage" class="input-mini" style="margin-bottom: 0;">
          <option>10</option>
          <option>20</option>
          <option>30</option>
          <option>40</option>
          <option>50</option>
        </select>
        entries per page.
    </div>
  </div>
</div>
