<form name="loginForm" class="form" novalidate>
  <div class="form-group" ng-class="{'has-error': loginForm.email.$focused && loginForm.email.$dirty && loginForm.email.$invalid}">
    <label class="control-label" for="email">email</label>
    <input 
      id="email" name="email" type="email" 
      class="form-control" placeholder="email" ng-model="email"
      required ng-focus="loginForm.email.$focused = false" ng-blur="loginForm.email.$focused = true" />
    <span class="help-block" ng-if="loginForm.email.$focused && loginForm.email.$dirty && loginForm.email.$error.required">L'email est obligatoire.</span>
    <span class="help-block" ng-if="loginForm.email.$focused && loginForm.email.$dirty && loginForm.email.$error.email">L'email n'est pas correct.</span>
    <span class="help-block" ng-if="loginForm.email.$focused && loginForm.email.$dirty && loginForm.email.$error.badCredentials">Vos identifants ne sont pas reconnus.</span>
  </div>
  <div class="form-group" ng-class="{'has-error': loginForm.password.$focused && loginForm.password.$dirty && loginForm.password.$invalid}">
    <label class="control-label" for="password">Mot de passe</label>
    <input 
      id="password" name="password" type="password"
      class="form-control" placeholder="Mot de passe" ng-model="password" ng-trim="false"
      required ng-focus="loginForm.password.$focused = false" ng-blur="loginForm.password.$focused = true" />
    <span class="help-block" ng-if="loginForm.password.$focused && loginForm.password.$dirty && loginForm.password.$error.required">Le mot de passe est obligatoire.</span>
    <span class="help-block" ng-if="loginForm.password.$focused && loginForm.password.$dirty && loginForm.password.$error.badCredentials">Vos identifants ne sont pas reconnus.</span>
  </div>
  <input type="submit" class="btn btn-primary" value="Se connecter" ng-click="login()" ng-disabled="!loginForm.$valid" />
  <input type="button" class="btn btn-warning" value="J'ai oublié mon mot de passe" ng-click="resetPassword()" />
  <input type="button" class="btn btn-default" value="Annuler" ng-click="cancel()" ng-if="cancelButton" />
</form>
