<core-toolbar>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Mon compte</span>
</core-toolbar>
<div main>
  <section style="margin: 16px;">
    <div horizontal layout>
      <address>
        <strong>{{userName}}</strong><br/>
        <span>{{userEmail}}</span>
      </address>
    </div>
  </section>
  <section>
    <div class="buttons" horizontal layout ng-hide="changeEmailFormDisplayed || changePasswordFormDisplayed">
      <paper-button raised ng-click="displayChangeEmailForm()">Changer votre email</paper-button>
      <paper-button raised ng-click="displayChangePasswordForm()">Changer votre mot de passe</paper-button>
    </div>
    <form name="changeEmailForm" ng-show="changeEmailFormDisplayed">
      <my-input-decorator label="E-mail" floatingLabel isInvalid="{{changeEmailForm.email.$invalid}}">
        <input name="email" type="email" ng-model="email" required match="changeEmailForm.email2"></input>
        <error-span class="error" ctrl="changeEmailForm.email"></error-span>
      </my-input-decorator>
      <my-input-decorator label="Confirmation de l'e-mail" floatingLabel isInvalid="{{changeEmailForm.email2.$invalid}}">
        <input name="email2" type="email" ng-model="email2" required match="changeEmailForm.email"></input>
        <error-span class="error" ctrl="changeEmailForm.email2"></error-span>
      </my-input-decorator>
      <my-input-decorator label="Mot de passe" floatingLabel isInvalid="{{changeEmailForm.password.$invalid}}">
        <input name="password" type="password" ng-model="password" required></input>
        <error-span class="error" ctrl="changeEmailForm.password"></error-span>
      </my-input-decorator>
      <div class="buttons" horizontal layout>
        <paper-button raised primary ng-click="changeEmail()" ng-disabled="changeEmailForm.$invalid">Changer mon email</paper-button>
        <paper-button raised ng-click="cancelChangeEmail()">Annuler</paper-button>
      </div>
    </form>
    <form name="changePasswordForm" class="form-horizontal" ng-show="changePasswordFormDisplayed">
      <my-input-decorator label="Ancien mot de passe" floatingLabel isInvalid="{{changePasswordForm.oldPassword.$invalid}}">
        <input name="oldPassword" type="password" ng-model="oldPassword" required></input>
        <error-span class="error" ctrl="changePasswordForm.oldPassword"></error-span>
      </my-input-decorator>
      <my-input-decorator label="Mot de passe" floatingLabel isInvalid="{{changePasswordForm.password.$invalid}}">
        <input name="password" type="password" ng-model="password" match="changePasswordForm.password2" required></input>
        <error-span class="error" ctrl="changePasswordForm.password"></error-span>
      </my-input-decorator>
      <my-input-decorator label="Confirmation du mot de passe" floatingLabel isInvalid="{{changePasswordForm.password2.$invalid}}">
        <input name="password2" type="password" ng-model="password2" match="changePasswordForm.password" required></input>
        <error-span class="error" ctrl="changePasswordForm.password2"></error-span>
      </my-input-decorator>
      <div class="buttons" horizontal layout>
        <paper-button raised primary ng-click="changePassword()" ng-disabled="changePasswordForm.$invalid">Changer mon mot de passe</paper-button>
        <paper-button raised ng-click="cancelChangePassword()">Annuler</paper-button>
      </div>
    </form>
  </section>
</div>
