<core-toolbar>
  <paper-icon-button left-drawer-button class="narrow" icon="menu"></paper-icon-button>
  <span flex>Actualités du site</span>
</core-toolbar>
<article>
  <h1>Réservations disponibles</h1>
  <p>L'outil de réservation pour les campagnes de Cave et Terroirs est en ligne. Utilisez-le pour effectuer vos réservations !</p>
  <p><a class="btn btn-primary" href="booking/currents">Voir les campagnes en cours</a></p>
</article>
<article>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="http://www.cave-et-terroirs.fr/">Cave et Terroirs</a>
    </div>
    <div class="panel-body">
      <p>Pour pouvoir accéder aux réservations, votre inscription doit être validée. Inscrivez-vous en cliquant sur le bouton ci-dessous, nous vous tiendrons informé dans les plus brefs délais.</p>
      <p><a class="btn btn-default" href="register">Créer un nouveau compte</a></p>
    </div>
  </div>
</article>
<article>
  <div class="panel panel-default">
    <div class="panel-body">
      <p>Une bibliothèque des vins contenant plus de {{wineCount}} références !</p>
      <p><a class="btn btn-default" href="pedia">Accéder à Vinopedia</a></p>
    </div>
  </div>
</article>
<article>
  <div class="panel panel-default">
    <div class="panel-body">
      <p>Bientôt en ligne : un outil de gestion cave couplé à vos réservations.</p>
    </div>
  </div>
</article>
