<core-toolbar>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Actualités du site</span>
</core-toolbar>
<section>
  <paper-shadow z="1" class="card">
    <header>Réservations disponibles</header>
    <div>
      <p>L'outil de réservation pour les campagnes de Cave et Terroirs est en ligne. Utilisez-le pour effectuer vos réservations !</p>
      <p><a href="booking/currents">Voir les campagnes en cours</a></p>
    </div>
  </paper-shadow>
  <paper-shadow z="1" class="card" ng-if="currentUser == null">
    <header>
      <a href="http://www.cave-et-terroirs.fr/">Cave et Terroirs</a>
    </header>
    <div>
      <p>Pour pouvoir accéder aux réservations, vous devez être inscrit.</p>
      <p><a href="register">Inscrivez-vous</a> ou <a href="/booking/currents">connectez-vous</a> !</p>
    </div>
  </paper-shadow>
  <paper-shadow z="1" class="card">
    <header>
      <a class="btn btn-default" href="vinopedia">Accéder à Vinopedia</a>
    </header>
    <div>
      <p>Une bibliothèque des vins contenant plus de {{wineCount}} références !</p>
    </div>
  </paper-shadow>
  <paper-shadow z="1" class="card">
    <div><p>Bientôt en ligne : un outil de gestion cave couplé à vos réservations.</p></div>
  </paper-shadow>
</section>
