<core-toolbar>
  <div vertical layout>
    <span>MyCellar</span>
    <a href="/account"><span ng-if="currentUser != null"><small>{{currentUser.email}}</small></span></a>
  </div>
</core-toolbar>
<nav flex>
  <core-menu ng-controller="NavigationController">
    <span ng-if="false" ng-repeat-start="menu in menuService.getAll()"></span>
    <core-submenu ng-if="menu.pages">
      <paper-item flex class="item-content" label="{{menu.label}}" icon="{{menu.icon}}"></paper-item>
      <paper-item ng-repeat="sub in menu.pages" label="{{sub.label}}" icon="{{sub.icon}}">
        <a href="{{sub.route}}"></a>
      </paper-item>
    </core-submenu>
    <paper-item label="{{menu.label}}" icon="{{menu.icon}}" ng-if="!menu.pages">
      <a href="{{menu.route}}"></a>
    </paper-item>
    <span ng-if="false" ng-repeat-end></span>
  </core-menu>
</nav>
<footer>
  <small>2012-2014 Tous droits réservés, MyCellar GPL V3.</small>
</footer>
