<core-toolbar>
  <span>MyCellar</span>
</core-toolbar>
<core-menu ng-controller="NavigationController">
  <span ng-if="false" ng-repeat-start="menu in menuService.getAll()"></span>
  <core-submenu label="{{menu.label}}" ng-if="menu.pages">
    <core-item ng-repeat="sub in menu.pages" label="{{sub.label}}">
      <a href="{{sub.route}}"></a>
    </core-item>
  </core-submenu>
  <core-item label="{{menu.label}}" ng-if="!menu.pages">
    <a href="{{menu.route}}"></a>
  </core-item>
  <span ng-if="false" ng-repeat-end></span>
</core-menu>
<footer>
  <p>2012-2014 Tous droits réservés, MyCellar GPL V3.</p>
</footer>
