<core-toolbar>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Créer un compte <small>C'est gratuit !</small></span>
</core-toolbar>
<div main>
  <section>
    <form name="newUserForm" class="form">
      <paper-input id="lastname" floatingLabel label="Nom de famille" type="text" bind-polymer-input="user.lastname" required></paper-input>
      <paper-input id="firstname" floatingLabel label="Prénom" type="text" bind-polymer-input="user.firstname" required></paper-input>
      <paper-input id="email" floatingLabel label="Email" type="email" bind-polymer-input="user.email" required></paper-input>
      <paper-input id="password" floatingLabel label="Mot de passe" type="password" bind-polymer-input="passwords.first" required></paper-input>
      <paper-input id="password2" floatingLabel label="Confirmation du mot de passe" type="password" bind-polymer-input="passwords.second" required></paper-input>
      <paper-button label="Créer un compte" ng-click="register()" ng-disabled="newUserForm.$invalid" raisedButton primary></paper-button>
    </form>
  </section>
</div>
