<core-toolbar>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Changer de mot de passe</span>
</core-toolbar>
<section><div class="container">
  <p>
    <h4>email</h4>
    {{email}}
  </p>
  <form name="form" class="form">
    <paper-input floatingLabel label="Mot de passe" type="password" bind-polymer-input="passwords.password"></paper-input>
    <paper-input floatingLabel label="Confirmation du mot de passe" type="password" bind-polymer-input="passwords.password2"></paper-input>
    <paper-button raisedButton primary ng-click="resetPassword()" label="Changer mon mot de passe"></paper-button>
  </form>
</section>
