<core-toolbar>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Changer de mot de passe</span>
</core-toolbar>
<div main>
  <section>
    <p>
      <h4>email</h4>
      {{email}}
    </p>
    <form name="form" class="form">
      <my-input-decorator label="Mot de passe" floatingLabel isInvalid="{{form.password.$invalid}}">
        <input name="password" type="password" ng-model="passwords.password" match="form.password2" required></input>
        <error-span class="error" ctrl="form.password"></error-span>
      </my-input-decorator>
      <my-input-decorator label="Confirmation du mot de passe" floatingLabel isInvalid="{{form.password2.$invalid}}">
        <input name="password2" type="password" ng-model="passwords.password2" match="form.password" required></input>
        <error-span class="error" ctrl="form.password2"></error-span>
      </my-input-decorator>
      <paper-button raised primary ng-click="resetPassword()" ng-disabled="form.$invalid">Changer mon mot de passe</paper-button>
    </form>
  </section>
</div>
