<core-toolbar>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Demande de changement de mot de passe</span>
</core-toolbar>
<section>
  <form name="form" class="form">
    <my-input-decorator label="E-mail" floatingLabel isInvalid="{{form.email.$invalid}}">
      <input name="email" type="email" ng-model="email" required></input>
      <error-span class="error" ctrl="form.email"></error-span>
    </my-input-decorator>
    <paper-button raised ng-click="requestPasswordReset()" ng-disabled="{{form.$invalid || disabled}}">Demander le changement de votre mot de passe</paper-button>
  </form>
  <div ng-show="mailSent">
    Un mail vous a été envoyé, suivez les instructions fournies pour changer votre mot de passe.
  </div>
</section>
