<div class="container">
  <header class="page-header"><h1>Demande de changement de mot de passe</h1></header>
  <section>
    <form name="form" class="form">
      <error-form form="form"></error-form>
      <fieldset>
        <legend>Détails</legend>
        <div class="form-group" ng-class="{'has-error': form.email.$invalid}">
          <label class="control-label" for="email">email</label>
          <input id="email" name="email" type="email" class="form-control" placeholder="email" ng-model="email" />
          <error-ctrl ctrl="form.email"></error-ctrl>
        </div>
      </fieldset>
      <div class="form-actions">
        <input type="submit" class="btn btn-primary" ng-click="requestPasswordReset()" value="Demander le changement de votre mot de passe" />
      </div>
    </form>
    <div ng-show="mailSent">
      Un mail vous a été envoyé, suivez les instructions fournies pour changer votre mot de passe.
    </div>
  </section>
  <footer>
    <p>2012-2014 Tous droits réservés, MyCellar GPL V3.</p>
  </footer>
</div>
