<core-toolbar>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Demande de changement de mot de passe</span>
</core-toolbar>
<section>
  <form name="form" class="form">
    <paper-input label="Email" floatingLabel type="email" bind-polymer-input="email"></paper-input>
    <paper-button raisedButton ng-click="requestPasswordReset()" label="Demander le changement de votre mot de passe" ng-disabled="{{disabled}}"></paper-button>
  </form>
  <div ng-show="mailSent">
    Un mail vous a été envoyé, suivez les instructions fournies pour changer votre mot de passe.
  </div>
</section>
