<wicket:panel xmlns:wicket="http://wicket.apache.org">
  <div class="alert alert-info">
    <h4 class="alert-heading"><wicket:message key="registerAlertHeader"></wicket:message></h4>
    <wicket:message key="registerAlertText">text</wicket:message>
  </div>
  <form wicket:id="form" class="form-horizontal">
    <fieldset>
      <legend><wicket:message key="details">User details</wicket:message></legend>
      <div class="control-group" wicket:id="lastname">
        <input id="lastname" wicket:id="lastname" type="text" value="" />
      </div>
      <div class="control-group" wicket:id="firstname">
        <input id="firstname" wicket:id="firstname" type="text" value="" />
      </div>
      <div class="control-group" wicket:id="email">
        <input id="email" wicket:id="email" type="email" value="" />
      </div>
      <div class="control-group" wicket:id="password">
        <input id="password" wicket:id="password" type="password" value="" />
      </div>
      <div class="control-group" wicket:id="password2">
        <input id="password2" wicket:id="password2" type="password" value="" />
      </div>
    </fieldset>
    <div wicket:id="feedback" class="feedback" />
    <div class="form-actions">
      <input type="submit" class="btn btn-primary" wicket:message="value:save" />
    </div>
  </form>
</wicket:panel>