<wicket:panel xmlns:wicket="http://wicket.apache.org">
  <fieldset>
    <legend><wicket:message key="details">User details</wicket:message></legend>
    <div class="control-group" wicket:id="lastname">
      <input id="lastname" wicket:id="lastname" type="text" value="" />
    </div>
    <div class="control-group" wicket:id="firstname">
      <input id="firstname" wicket:id="firstname" type="text" value="" />
    </div>
    <div class="control-group" wicket:id="email">
      <input id="email" wicket:id="email" type="email" value="" />
    </div>
    <div class="control-group" wicket:id="password">
      <input id="password" wicket:id="password" type="password" value="" />
    </div>
  </fieldset>
</wicket:panel>