<wicket:panel xmlns:wicket="http://wicket.apache.org">
  <fieldset>
    <legend><wicket:message key="details">User details</wicket:message></legend>
    <div class="control-group" wicket:id="lastname">
      <input id="lastname" wicket:id="lastname" type="text" value="" />
    </div>
    <div class="control-group" wicket:id="firstname">
      <input id="firstname" wicket:id="firstname" type="text" value="" />
    </div>
    <div class="control-group" wicket:id="email">
      <input id="email" wicket:id="email" type="email" value="" />
    </div>
    <div class="control-group" wicket:id="profile">
      <select id="profile" wicket:id="profile">
        <wicket:container wicket:id="options">
          <option wicket:id="option"></option>
        </wicket:container>
      </select>
    </div>
  </fieldset>
</wicket:panel>