<div>
  <div ng-transclude></div>
  <div class="text-center">
    <pagination page="currentPage" on-select-page="setPage" max-size="pageRange" total-items="result.count" items-per-page="itemsPerPage"></pagination>
  </div>
  <div class="row">
    <div class="col-md-6">
      Showing {{count > 0 ? firstItem + 1 : 0}} to {{firstItem + count}} of {{result.count}} entries.
    </div>
    <div class="col-md-6 text-right">
      <form class="form-inline">
        <div class="form-group">
          Showing 
          <select ng-model="itemsPerPage" class="form-control" style="width: auto;">
            <option>10</option>
            <option>20</option>
            <option>30</option>
            <option>40</option>
            <option>50</option>
          </select>
          entries per page.
        </div>
      </form>
    </div>
  </div>
</div>
