<header class="page-header"><h1>Configurations</h1></header>
<div class="row-fluid">
  <div class="span2">
    <nav role="secondary">
      <data-mycellar-admin-nav></data-mycellar-admin-nav>
    </nav>
  </div>
  <div class="span10">
    <paginated options="tableOptions" items="items" table-context="tableContext">
      <table class="table table-bordered table-striped table-condensed">
        <thead>
          <tr>
            <th>Key <icon-sort attribute="key" table-context="tableContext" /></th>
            <th>Value</th>
            <th class="actions"></th>
          </tr>
        </thead>
        <tbody ng-controller="LoadingCtrl">
          <tr ng-repeat="item in items">
            <td>{{item.key}}</td>
            <td>{{item.value}}</td>
            <td>
              <a href ng-click="edit(item.id)" class="btn btn-mini"><i class="icon-edit icon-large"></i></a>
            </td>
          </tr>
          <tr ui-if="!loading && items.length == 0">
            <td colspan="3">No items to display.</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Key <icon-sort attribute="key" table-context="tableContext" /></th>
            <th>Value</th>
            <th class="actions"></th>
          </tr>
        </tfoot>
      </table>
    </data-mycellar-table>
  </div>
</div>