<header class="page-header"><h1>Regions</h1></header>
<div class="row-fluid">
  <div class="span2">
    <nav role="secondary">
      <data-mycellar-admin-nav data-ng-controller="AdminNavigationController"></data-mycellar-admin-nav>
    </nav>
  </div>
  <div class="span10">
    <data-mycellar-table page-range="3" options="tableOptions" items="items" sort="sort" filters="filters">
      <table class="table table-bordered table-striped table-condensed table-hover">
        <thead>
          <tr>
            <th>Key <icon-sort sort-fn="sortBy('key')" attribute="key" ways="sort.ways" /></th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody ng-controller="LoadingCtrl">
          <tr ng-repeat="item in items">
            <td ng-click="edit(item.id)">{{item.key}}</td>
            <td ng-click="edit(item.id)">{{item.value}}</td>
          </tr>
          <tr ui-if="!loading && items.length == 0">
            <td colspan="2">No items to display.</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Key <icon-sort sort-fn="sortBy('key')" attribute="key" ways="sort.ways" /></th>
            <th>Value</th>
          </tr>
        </tfoot>
      </table>
    </data-mycellar-table>
  </div>
</div>