<header class="page-header"><h1>Configuration: {{configuration.key}}</h1></header>
<div class="row-fluid">
  <div class="span2">
    <nav role="secondary">
      <data-mycellar-admin-nav></data-mycellar-admin-nav>
    </nav>
  </div>
  <div class="span10">
    <form name="form" class="form form-horizontal">
      <error-form form="form"></error-form>
      <fieldset>
        <legend>Details</legend>
        <div class="control-group" ng-class="{error: form.value.$invalid}">
          <label class="control-label" for="value">Value</label>
          <div class="controls">
            <input id="value" name="value" type="text" ng-model="configuration.value" placeholder="Value" />
            <error-ctrl ctrl="form.value"></error-ctrl>
          </div>
        </div>
      </fieldset>
      <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Save" ng-click="save()" />
        <input type="submit" class="btn" value="Cancel" ng-click="cancel()" />
      </div>
    </form>
  </div>
</div>