<core-toolbar>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Appellations</span>
   <core-input id="search" bind-polymer-input="search" flex hidden></core-input>
  <paper-icon-button icon="cancel" hidden ng-show="search !== ''" ng-click="clearSearch()"></paper-icon-button>
  <paper-icon-button icon="clear" hidden ng-show="search === ''" ng-click="toggleHidden()"></paper-icon-button>
  <paper-icon-button icon="search" ng-click="toggleHidden()"></paper-icon-button>
  <drawer-button right icon="more-vert"></drawer-button>
</core-toolbar>
<core-drawer-panel rightDrawer>
  <nav role="secondary" drawer>
    <admin-domain-nav></admin-domain-nav>
  </nav>
  <div main>
    <paper-item ng-if="items.length == 0">Aucune appellation</paper-item>
    <paper-item class="twoLines" ng-click="edit(appellation.id)" ng-repeat="appellation in items">
      <div flex>
        <div class="ellipsis">{{appellation.name}}</div>
        <div class="ellipsis"><small>{{appellation.region.name}} - {{appellation.region.country.name}}</small></div>
      </div>
      <paper-icon-button icon="remove-circle-outline" ng-click="delete(appellation.id, $event)"></paper-icon-button>
    </paper-item>
    <paper-item ng-if="size > items.length" label="Voir les {{size - items.length > pageCount ? pageCount : size - items.length}} suivantes sur {{size - items.length}}" ng-click="more()"></paper-item>
    <paper-fab icon="add" raisedButton="false" ng-click="new()"></paper-fab>
  </div>
</core-drawer-panel>
