<core-toolbar main>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Appellation : {{appellation.name}}</span>
  <drawer-button right icon="more-vert"></drawer-button>
</core-toolbar>
<core-drawer-panel rightDrawer>
  <nav role="secondary" drawer>
    <admin-domain-nav></admin-domain-nav>
  </nav>
  <div main>
    <form name="form" novalidate>
      <appellation-form form="form" appellation="appellation"></appellation-form>
      <section>
        <div horizontal layout>
          <paper-button style="margin: auto;" raisedButton primary ng-click="save()" ng-disabled="form.$invalid" label="Sauvegarder"></paper-button>
          <paper-button style="margin: auto;" raisedButton ng-click="cancel()" label="Annuler"></paper-button>
        </div>
      </section>
    </form>
  </div>
</core-drawer-panel>
