<admin-domain>
  <header class="page-header"><h1>Appellations</h1></header>
  <table-filters table-context="tableContext">
    <div class="form-group">
      <label class="control-label sr-only" for="region.country.name">Nom du pays</label>
      <input class="form-control" id="region.country.name" name="region.country.name" placeholder="Nom du pays" ng-model="tableContext.filters['region.country.name']" type="text" />
    </div>
    <div class="form-group">
      <label class="control-label sr-only" for="region.name">Nom de la région</label>
      <input class="form-control" id="region.name" name="region.name" placeholder="Nom de la région" ng-model="tableContext.filters['region.name']" type="text" />
    </div>
    <div class="form-group">
      <label class="control-label sr-only" for="name">Nom</label>
      <input class="form-control" id="name" name="name" placeholder="Nom" ng-model="tableContext.filters['name']" type="text" />
    </div>
  </table-filters>
  <error-div errors="errors"></error-div>
  <paginated table-context="tableContext">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-condensed">
        <thead>
          <tr>
            <th>Pays <icon-sort attribute="region.country.name" table-context="tableContext" /></th>
            <th>Région <icon-sort attribute="region.name" table-context="tableContext" /></th>
            <th>Nom <icon-sort attribute="name" table-context="tableContext" /></th>
            <th class="actions"><a href ng-click="new()" class="btn btn-default btn-xs"><i class="fa fa-plus-circle"></i></a></th>
          </tr>
        </thead>
        <tbody ng-controller="LoadingCtrl">
          <tr ng-repeat="appellation in tableContext.items">
            <td>{{appellation.region.country.name}}</td>
            <td>{{appellation.region.name}}</td>
            <td>{{appellation.name}}</td>
            <td>
              <a href ng-click="edit(appellation.id)" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></a>
              <a href ng-click="delete(appellation.id)" class="btn btn-danger btn-xs"><i class="fa fa-minus-circle"></i></a>
            </td>
          </tr>
          <tr ng-if="!loading && tableContext.items.length == 0">
            <td colspan="4" class="text-center">Aucune appellation ne correspond aux filtres.</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Pays <icon-sort attribute="region.country.name" table-context="tableContext" /></th>
            <th>Région <icon-sort attribute="region.name" table-context="tableContext" /></th>
            <th>Nom <icon-sort attribute="name" table-context="tableContext" /></th>
            <th class="actions"><a href ng-click="new()" class="btn btn-default btn-xs"><i class="fa fa-plus-circle"></i></a></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </paginated>
</admin-domain>
