<core-toolbar main>
  <core-icon icon="search" hidden></core-icon>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Pays</span>
  <core-input id="search" bind-polymer-input="search" flex hidden></core-input>
  <paper-icon-button icon="cancel" hidden ng-show="search !== ''" ng-click="clearSearch()"></paper-icon-button>
  <paper-icon-button icon="clear" hidden ng-show="search === ''" ng-click="toggleHidden()"></paper-icon-button>
  <paper-icon-button icon="search" ng-click="toggleHidden()"></paper-icon-button>
  <drawer-button right icon="more-vert"></drawer-button>
</core-toolbar>
<core-drawer-panel rightDrawer>
  <nav role="secondary" drawer>
    <admin-domain-nav></admin-domain-nav>
  </nav>
  <div main>
    <section>
      <paper-item ng-if="items.length == 0">Aucun pays</paper-item>
      <paper-item ng-click="edit(country.id)" ng-repeat="country in items">
        <div flex>
          <div class="ellipsis">{{country.name}}</div>
        </div>
        <paper-icon-button icon="remove-circle-outline" ng-click="delete(country.id, $event)"></paper-icon-button>
      </paper-item>
      <paper-item ng-if="size > items.length" label="Voir les {{size - items.length > pageCount ? pageCount : size - items.length}} suivants sur {{size - items.length}}" ng-click="more()"></paper-item>
      <paper-fab icon="add" raisedButton="false" ng-click="new()"></paper-fab>
    </section>
  </div>
</core-drawer-panel>
