<admin-domain>
  <header class="page-header"><h1>Pays</h1></header>
  <table-filters table-context="tableContext">
    <div class="form-group">
      <label class="control-label sr-only" for="name">Nom</label> 
      <input class="form-control" id="name" name="name" placeholder="Nom" ng-model="tableContext.filters['name']" type="text" />
    </div>
  </table-filters>
  <error-div errors="errors"></error-div>
  <paginated table-context="tableContext">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-condensed">
        <thead>
          <tr>
            <th>Nom <icon-sort attribute="name" table-context="tableContext" /></th>
            <th class="actions"><a href ng-click="new()" class="btn btn-default btn-xs"><i class="fa fa-plus-circle"></i></a></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="country in tableContext.items">
            <td>{{country.name}}</td>
            <td>
              <a href ng-click="edit(country.id)" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></a>
              <a href ng-click="delete(country.id)" class="btn btn-danger btn-xs"><i class="fa fa-minus-circle"></i></a>
            </td>
          </tr>
          <tr ng-if="tableContext.items.length == 0">
            <td colspan="2" class="text-center">Aucun pays ne correspond aux filtres</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Nom <icon-sort attribute="name" table-context="tableContext" /></th>
            <th class="actions"><a href ng-click="new()" class="btn btn-default btn-xs"><i class="fa fa-plus-circle"></i></a></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </paginated>
</admin-domain>
