<core-toolbar main>
  <core-icon icon="search" hidden></core-icon>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Vins</span>
  <input is="core-input" name="search" type="text" ng-model="search" flex hidden></input>
  <paper-icon-button icon="cancel" hidden ng-show="search !== ''" ng-click="clearSearch()"></paper-icon-button>
  <paper-icon-button icon="clear" hidden ng-show="search === ''" ng-click="toggleHidden()"></paper-icon-button>
  <paper-icon-button icon="search" ng-click="toggleHidden()"></paper-icon-button>
  <drawer-button right icon="more-vert"></drawer-button>
</core-toolbar>
<core-drawer-panel rightDrawer>
  <nav role="secondary" drawer>
    <admin-domain-nav></admin-domain-nav>
  </nav>
  <div main>
    <section>
      <core-item ng-if="items.length == 0">Aucun vin</core-item>
      <paper-item class="twoLines" ng-click="edit(wine.id)" ng-repeat="wine in items">
        <div flex>
          <div class="ellipsis">{{wine | wineRenderer}}</div>
          <div class="ellipsis"><small>{{wine.appellation | appellationRenderer}}</small></div>
        </div>
        <paper-icon-button icon="remove-circle-outline" ng-click="delete(wine.id, $event)"></paper-icon-button>
      </paper-item>
      <paper-item ng-if="size > items.length" ng-click="more()">Voir les {{size - items.length > pageCount ? pageCount : size - items.length}} suivants sur {{size - items.length}}</paper-item>
      <paper-fab icon="add" raisedButton="false" ng-click="new()"></paper-fab>
    </section>
  </div>
</core-drawer-panel>
