<core-toolbar main>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Vin</span>
  <drawer-button right icon="more-vert"></drawer-button>
</core-toolbar>
<core-drawer-panel rightDrawer>
  <nav role="secondary" drawer>
    <admin-domain-nav></admin-domain-nav>
  </nav>
  <div main>
    <form name="form" novalidate>
      <wine-form form="form" wine="wine"></wine-form>
      <error-div form="form"></error-div>
      <div horizontal layout class="buttons">
        <paper-button raised primary ng-click="save()" ng-disabled="form.$invalid">Sauvegarder</paper-button>
        <paper-button raised ng-click="cancel()">Annuler</paper-button>
      </div>
    </form>
  </div>
</core-drawer-panel>
