<core-toolbar main>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Configuration : {{configuration.key}}</span>
  <drawer-button right icon="more-vert"></drawer-button>
</core-toolbar>
<core-drawer-panel rightDrawer>
  <nav role="secondary" drawer>
    <admin-domain-nav></admin-domain-nav>
  </nav>
  <div main>
    <form name="form" novalidate>
      <section>
        <my-input-decorator floatingLabel label="Valeur" isInvalid="{{form.value.$invalid}}">
          <input name="value" type="text" ng-model="configuration.value" required></input>
          <error-span class="error" ctrl="form.value"></error-span>
        </my-input-decorator>
      </section>
      <error-div form="form"></error-div>
      <div horizontal layout class="buttons">
        <paper-button raised primary ng-click="save()" ng-disabled="form.$invalid">Sauvegarder</paper-button>
        <paper-button raised ng-click="cancel()">Annuler</paper-button>
      </div>
    </form>
  </div>
</core-drawer-panel>
