<core-toolbar>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Configurations</span>
  <core-input id="search" bind-polymer-input="search" flex hidden></core-input>
  <paper-icon-button icon="cancel" hidden ng-show="search !== ''" ng-click="clearSearch()"></paper-icon-button>
  <paper-icon-button icon="clear" hidden ng-show="search === ''" ng-click="toggleHidden()"></paper-icon-button>
  <paper-icon-button icon="search" ng-click="toggleHidden()"></paper-icon-button>
  <drawer-button right icon="more-vert"></drawer-button>
</core-toolbar>
<core-drawer-panel rightDrawer>
  <nav role="secondary" drawer>
    <admin-domain-nav></admin-domain-nav>
  </nav>
  <div main>
    <paper-item ng-if="items.length == 0">Aucune configuration</paper-item>
    <paper-item class="twoLines" ng-click="edit(configuration.id)" ng-repeat="configuration in items">
      <div flex>
        <div class="ellipsis">{{configuration.key}}</div>
        <div class="ellipsis"><small>{{configuration.value}}</small></div>
      </div>
    </paper-item>
    <paper-item ng-if="size > items.length" label="Voir les {{size - items.length > pageCount ? pageCount : size - items.length}} suivantes sur {{size - items.length}}" ng-click="more()"></paper-item>
  </div>
</core-drawer-panel>
