<core-toolbar>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Configurations</span>
  <drawer-button right icon="more-vert"></drawer-button>
</core-toolbar>
<admin-domain>
  <paginated table-context="tableContext">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-condensed">
        <thead>
          <tr>
            <th>Clé <icon-sort attribute="key" table-context="tableContext" /></th>
            <th>Valeur</th>
            <th class="actions"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="configuration in tableContext.items">
            <td>{{configuration.key}}</td>
            <td>{{configuration.value}}</td>
            <td>
              <a href ng-click="edit(configuration.id)" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></a>
            </td>
          </tr>
          <tr ng-if="tableContext.items.length == 0">
            <td colspan="3" class="text-center">Aucune configuration.</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Clé <icon-sort attribute="key" table-context="tableContext" /></th>
            <th>Valeur</th>
            <th class="actions"></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </paginated>
</admin-domain>
