<core-toolbar>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Tableau de bord</span>
</core-toolbar>
<section>
  <paper-shadow z="1" class="card">
    <header>Versions</header>
    <div>
      <dl>
        <dt>MyCellar</dt><dd>{{mycellarVersion}}</dd>
        <dt>Angular</dt><dd>{{angularVersion}}</dd>
        <dt>Polymer</dt><dd>{{polymerVersion}}</dd>
      </dl>
    </div>
  </paper-shadow>
  <paper-shadow z="1" class="card">
    <header>Statistiques</header>
    <div>
      <dl>
        <dt>Nombre d'utilisateurs</dt><dd>{{usersCount}}</dd>
        <dt>Nombre de vins</dt><dd>{{winesCount}}</dd>
        <dt>Nombre de stacks</dt><dd>{{stacksCount}}</dd>
      </dl>
    </div>
  </paper-shadow>
  <paper-shadow z="1" class="card">
    <header>Base de données</header>
    <div>
      <dl>
        <dt>Driver</dt><dd>{{driver}}</dd>
        <dt>URL</dt><dd>{{url}}</dd>
        <dt>User name</dt><dd>{{userName}}</dd>
      </dl>
    </div>
  </paper-shadow>
  <paper-shadow z="1" class="card">
    <header>Outils</header>
    <div vertical layout>
      <paper-button ng-click="deleteAllStacks()">Purger les stacks</paper-button>
      <paper-button ng-click="goToCreateVintages()">Créer des millésimes</paper-button>
      <paper-button ng-click="goToMonitoring()">Monitoring</paper-button>
    </div>
  </paper-shadow>
</section>
