<core-toolbar main>
  <core-icon icon="search" hidden></core-icon>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Création de nouveaux millésimes</span>
  <input is="core-input" name="search" type="text" ng-model="search" flex hidden></input>
  <paper-icon-button icon="cancel" hidden ng-show="search !== ''" ng-click="clearSearch()"></paper-icon-button>
  <paper-icon-button icon="clear" hidden ng-show="search === ''" ng-click="toggleHidden()"></paper-icon-button>
  <paper-icon-button icon="search" ng-click="toggleHidden()"></paper-icon-button>
</core-toolbar>
<div main>
  <form name="form">
    <section>
      <core-item class="subheader">Vins à dupliquer</core-item>
      <core-item ng-if="wines.length == 0">Aucun</core-item>
      <core-item class="twoLines" ng-repeat="wine in wines">
        <div flex>
          <div class="ellipsis">{{wine | wineRenderer}}</div>
          <div class="ellipsis"><small>{{wine.appellation | appellationRenderer}}</small></div>
        </div>
      </core-item>
      <paper-item ng-if="size > wines.length" ng-click="more()">Voir les {{size - wines.length > pageCount ? pageCount : size - wines.length}} suivants sur {{size - wines.length}}</paper-item>
    </section>
    <section>
      <div horizontal layout>
        <my-input-decorator floatingLabel label="Depuis" isInvalid="{{form.from.$invalid}}">
          <input name="from" type="number" ng-model="vintages.from" required min="0"></input>
          <error-span class="error" ctrl="form.from"></error-span>
        </my-input-decorator>
        <my-input-decorator floatingLabel label="Jusqu'en" isInvalid="{{form.to.$invalid}}">
          <input name="to" type="number" ng-model="vintages.to" required min="0"></input>
          <error-span class="error" ctrl="form.to"></error-span>
        </my-input-decorator>
      </div>
      <div horizontal layout class="buttons">
        <paper-button raised primary ng-click="createVintages()">Créer les millésimes</paper-button>
      </div>
      <div horizontal layout style="padding: 1em;">
        <paper-progress flex value="{{messages.length}}" secondaryProgress="{{messages.length + errors.length}}" max="{{wines.length}}"></paper-progress>
      </div>
    </section>
    <section>
      <core-item ng-repeat="error in errors">{{error.wine | wineRenderer}} : {{error.errorKey}}</core-item>
      <core-item ng-repeat="message in messages">{{message.wine | wineRenderer}} : {{message.count}} millésimes créés.</core-item>
    </section>
  </form>
</div>
