<core-toolbar main>
  <core-icon icon="search" hidden></core-icon>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Création de nouveaux millésimes</span>
  <core-input id="search" bind-polymer-input="search" flex hidden></core-input>
  <paper-icon-button icon="cancel" hidden ng-show="search !== ''" ng-click="clearSearch()"></paper-icon-button>
  <paper-icon-button icon="clear" hidden ng-show="search === ''" ng-click="toggleHidden()"></paper-icon-button>
  <paper-icon-button icon="search" ng-click="toggleHidden()"></paper-icon-button>
</core-toolbar>
<div main>
  <section>
    <core-item class="subheader">Vins à dupliquer</core-item>
    <core-item ng-if="wines.length == 0">Aucun</core-item>
    <core-item class="twoLines" ng-repeat="wine in wines">
      <div flex>
        <div class="ellipsis">{{wine | wineRenderer}}</div>
        <div class="ellipsis"><small>{{wine.appellation | appellationRenderer}}</small></div>
      </div>
    </core-item>
    <paper-item ng-if="size > wines.length" label="Voir les {{size - wines.length > pageCount ? pageCount : size - wines.length}} suivants sur {{size - wines.length}}" ng-click="more()"></paper-item>
  </section>
  <section>
    <paper-input id="from" floatingLabel label="Depuis" type="text" bind-polymer-input="vintages.from"></paper-input>
    <paper-input id="to" floatingLabel label="Jusqu'en" type="text" bind-polymer-input="vintages.to"></paper-input>
    <div horizontal layout style="margin-bottom: 16px;">
      <paper-button raised primary ng-click="createVintages()">Créer les millésimes</paper-button>
    </div>
    <div horizontal layout>
      <paper-progress flex value="{{messages.length}}" secondaryProgress="{{messages.length + errors.length}}" max="{{wines.length}}"></paper-progress>
    </div>
  </section>
  <section>
    <core-item ng-repeat="error in errors">{{error.wine | wineRenderer}} : {{error.errorKey}}</core-item>
    <core-item ng-repeat="message in messages">{{message.wine | wineRenderer}} : {{message.count}} millésimes créés.</core-item>
  </section>
</div>
