<header class="page-header"><h1>Booking</h1></header>
<div class="row-fluid">
  <div class="span2">
    <nav role="secondary">
      <data-mycellar-admin-nav data-ng-controller="AdminNavigationController"></data-mycellar-admin-nav>
    </nav>
  </div>
  <div class="span10">
    <form name="form" class="form form-horizontal">
      <error-form form="form"></error-form>
      <fieldset>
        <legend>Details</legend>
        
      </fieldset>
      <fieldset>
        <legend>Booking</legend>
        
      </fieldset>
      <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Save" ng-click="save()" />
        <input type="submit" class="btn" value="Cancel" ng-click="cancel()" />
      </div>
    </form>
  </div>
</div>