<header class="page-header"><h1>Bookings</h1></header>
<div class="row-fluid">
  <div class="span2">
    <nav role="secondary">
      <data-mycellar-admin-nav data-ng-controller="AdminNavigationController"></data-mycellar-admin-nav>
    </nav>
  </div>
  <div class="span10">
    <form id="form" class="form-inline">
      <fieldset>
        <legend><a href ng-click="filtersIsCollapsed = !filtersIsCollapsed"><i ng-class="filtersIsCollapsed ? 'icon-expand-alt' : 'icon-collapse-alt'"></i></a> Filters</legend>
        <div collapse="filtersIsCollapsed">
          <label for="bookingEvent.name">Booking event name</label>
          <input id="bookingEvent.name" name="bookingEvent.name" placeholder="Booking event name" ng-model="filters['bookingEvent.name']" type="text" />
          <label for="customer.lastname">Customer lastname</label>
          <input id="customer.lastname" name="customer.lastname" placeholder="Customer lastname" ng-model="filters['customer.lastname']" type="text" />
          <input type="button" class="btn" value="Clear filters" ng-click="clearFilters()" />
        </div>
      </fieldset>
    </form>
    <data-mycellar-table page-range="3" options="tableOptions" items="items" sort="sort" filters="filters">
      <table class="table table-bordered table-striped table-condensed table-hover">
        <thead>
          <tr>
            <th>Customer <icon-sort sort-fn="sortBy('customer.lastname')" attribute="customer.lastname" ways="sort.ways" /></th>
            <th>Name <icon-sort sort-fn="sortBy('bookingEvent.name')" attribute="bookingEvent.name" ways="sort.ways" /></th>
            <th>Start <icon-sort sort-fn="sortBy('bookingEvent.start')" attribute="bookingEvent.start" ways="sort.ways" /></th>
            <th>End <icon-sort sort-fn="sortBy('bookingEvent.end')" attribute="bookingEvent.end" ways="sort.ways" /></th>
          </tr>
        </thead>
        <tbody ng-controller="LoadingCtrl">
          <tr ng-repeat="item in items">
            <td ng-click="edit(item.id)">{{item.customer.lastname + ' ' + item.customer.firstname}}</td>
            <td ng-click="edit(item.id)">{{item.bookingEvent.name}}</td>
            <td ng-click="edit(item.id)">{{item.bookingEvent.start}}</td>
            <td ng-click="edit(item.id)">{{item.bookingEvent.end}}</td>
          </tr>
          <tr ui-if="!loading && items.length == 0">
            <td colspan="4">No items to display.</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Customer <icon-sort sort-fn="sortBy('customer.lastname')" attribute="customer.lastname" ways="sort.ways" /></th>
            <th>Name <icon-sort sort-fn="sortBy('bookingEvent.name')" attribute="bookingEvent.name" ways="sort.ways" /></th>
            <th>Start <icon-sort sort-fn="sortBy('bookingEvent.start')" attribute="bookingEvent.start" ways="sort.ways" /></th>
            <th>End <icon-sort sort-fn="sortBy('bookingEvent.end')" attribute="bookingEvent.end" ways="sort.ways" /></th>
          </tr>
        </tfoot>
      </table>
    </data-mycellar-table>
  </div>
</div>