<div class="row">
  <div class="col-md-2">
    <nav role="secondary">
      <data-mycellar-admin-nav></data-mycellar-admin-nav>
    </nav>
  </div>
  <div class="col-md-10">
    <header class="page-header"><h1>Campagne de réservation : {{bookingEvent.name}}</h1></header>
    <form name="form" class="form">
      <error-form form="form"></error-form>
      <fieldset>
        <legend>Détails</legend>
        <div class="form-group" ng-class="{'has-error': form.name.$invalid}">
          <label class="control-label" for="name">Nom</label>
          <input class="form-control" id="name" name="name" type="text" ng-model="bookingEvent.name" placeholder="Nom" />
          <error-ctrl ctrl="form.name"></error-ctrl>
        </div>
        <div class="form-group" ng-class="{'has-error': form.start.$invalid}">
          <label class="control-label" for="start">Début</label>
          <input class="form-control" id="start" name="start" type="date" ng-model="bookingEvent.start" placeholder="Début" />
          <error-ctrl ctrl="form.start"></error-ctrl>
        </div>
        <div class="form-group" ng-class="{'has-error': form.end.$invalid}">
          <label class="control-label" for="end">Fin</label>
          <input class="form-control" id="end" name="end" type="date" ng-model="bookingEvent.end" placeholder="Fin" />
          <error-ctrl ctrl="form.end"></error-ctrl>
        </div>
      </fieldset>
      <fieldset>
        <legend>Bouteilles</legend>
        <table class="table table-bordered table-striped table-condensed">
          <thead>
            <tr>
              <th>Ordre</th>
              <th>Producteur</th>
              <th>Appellation</th>
              <th>Nom</th>
              <th>Millésime</th>
              <th>Couleur</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody ng-controller="LoadingCtrl">
            <tr ng-repeat="bookingBottle in bookingEvent.bottles">
              <td>{{bookingBottle.position}}</td>
              <td>{{bookingBottle.bottle.wine.producer.name}}</td>
              <td>{{bookingBottle.bottle.wine.appellation.name}}</td>
              <td>{{bookingBottle.bottle.wine.name}}</td>
              <td>{{bookingBottle.bottle.wine.vintage}}</td>
              <td>{{bookingBottle.bottle.wine.color}}</td>
              <td>{{bookingBottle.bottle.wine.type}}</td>
            </tr>
            <tr ng-if="!loading && items.length == 0">
              <td colspan="4">Aucune bouteille dans la campagne.</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>Ordre</th>
              <th>Producteur</th>
              <th>Appellation</th>
              <th>Nom</th>
              <th>Millésime</th>
              <th>Couleur</th>
              <th>Type</th>
            </tr>
          </tfoot>
        </table>
      </fieldset>
      <input type="submit" class="btn btn-primary" value="Sauvegarder" ng-click="save()" />
      <input type="submit" class="btn btn-default" value="Annuler" ng-click="cancel()" />
    </form>
  </div>
</div>