<div class="row">
  <div class="col-md-2">
    <nav role="secondary">
      <data-mycellar-admin-nav></data-mycellar-admin-nav>
    </nav>
  </div>
  <div class="col-md-10">
    <header class="page-header">
      <h1>{{movement.type | movementTypeRenderer}} : {{movement.date}}</h1>
      <h2>{{movement.bottle.wine | wineRenderer}}</h2>
      <h2>{{movement.bottle.format | formatRenderer}}</h2>
    </header>
    <form name="form" class="form">
      <error-form form="form"></error-form>
      <div class="form-group" ng-class="{'has-error': form.type.$invalid}">
        <label class="control-label" for="type">Entrée/Sortie</label>
        <select id="type" name="type" ng-model="movement.type" class="form-control">
          <option label="Entrée">I</option>
          <option label="Sortie">O</option>
        </select>
        <error-ctrl ctrl="form.type"></error-ctrl>
      </div>
      <div class="form-group" ng-class="{'has-error': form.date.$invalid}">
        <label class="control-label" for="date">Date</label>
        <input class="form-control" id="date" name="date" type="date" ng-model="movement.date" placeholder="Date" />
        <error-ctrl ctrl="form.date"></error-ctrl>
      </div>
      <cellar form="form" cellar="movement.cellar"></cellar>
      <wine form="form" wine="movement.bottle.wine"></wine>
      <format form="form" format="movement.bottle.format"></format>
      <div class="form-group" ng-class="{'has-error': form.number.$invalid}">
        <label class="control-label" for="number">Quantité</label>
        <input class="form-control" id="number" name="number" type="number" ng-model="movement.number" placeholder="Quantité" />
        <error-ctrl ctrl="form.quantity"></error-ctrl>
      </div>
      <input type="submit" class="btn btn-primary" value="Sauvegarder" ng-click="save()" />
      <input type="submit" class="btn btn-default" value="Annuler" ng-click="cancel()" />
    </form>
  </div>
</div>