<admin-domain>
  <header class="page-header">
    <h1>{{movement.type | movementTypeRenderer}} : {{movement.date}}</h1>
    <h2>{{movement.bottle.wine | wineRenderer}}</h2>
    <h2>{{movement.bottle.format | formatRenderer}}</h2>
  </header>
  <form name="form" class="form">
    <error-div errors="errors"></error-div>
    <div class="form-group" ng-class="{'has-error': form.type.$invalid}">
      <label class="control-label" for="type">Entrée/Sortie</label>
      <select id="type" name="type" ng-model="movement.type" class="form-control" required>
        <option label="Entrée">I</option>
        <option label="Sortie">O</option>
      </select>
      <span class="help-block" ng-if="form.type.$error.required">Veuillez sélectionner un type de mouvement</span>
    </div>
    <div class="form-group" ng-class="{'has-error': form.date.$invalid}">
      <label class="control-label" for="date">Date</label>
      <input class="form-control" id="date" name="date" type="date" ng-model="movement.date" placeholder="Date" required />
      <span class="help-block" ng-if="form.date.$error.required">Veuillez saisir une date</span>
    </div>
    <cellar admin="true" form="form" cellar="movement.cellar" input-required="true">
      <span class="help-block" ng-if="form.cellar.$error.required">Veuillez saisir une cave</span>
    </cellar>
    <wine form="form" wine="movement.bottle.wine" input-required="true">
      <span class="help-block" ng-if="form.wine.$error.required">Veuillez saisir un vin</span>
    </wine>
    <format form="form" format="movement.bottle.format" input-required="true">
      <span class="help-block" ng-if="form.format.$error.required">Veuillez saisir un format</span>
    </format>
    <div class="form-group" ng-class="{'has-error': form.number.$invalid}">
      <label class="control-label" for="number">Quantité</label>
      <input class="form-control" id="number" name="number" type="number" ng-model="movement.number" placeholder="Quantité" required />
      <span class="help-block" ng-if="form.number.$error.required">Veuillez saisir une quantité</span>
      <span class="help-block" ng-if="form.number.$error.BusinessError_MOVEMENT_00001">La quantité doit être supérieure à 0.</span>
    </div>
    <input type="submit" class="btn btn-primary" value="Sauvegarder" ng-click="save()" ng-disabled="form.$invalid" />
    <input type="submit" class="btn btn-default" value="Annuler" ng-click="cancel()" />
  </form>
</admin-domain>
