<core-toolbar main>
  <core-icon icon="search" hidden></core-icon>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Vinopedia</span>
  <core-input id="search" bind-polymer-input="search" flex hidden></core-input>
  <paper-icon-button icon="cancel" hidden ng-show="search !== ''" ng-click="clearSearch()"></paper-icon-button>
  <paper-icon-button icon="clear" hidden ng-show="search === ''" ng-click="toggleHidden()"></paper-icon-button>
  <paper-icon-button icon="search" ng-click="toggleHidden()"></paper-icon-button>
</core-toolbar>
<div main>
  <section>
    <core-item ng-if="wines.length == 0">Aucun vin</core-item>
    <core-item class="twoLines" ng-repeat="wine in wines">
      <div flex>
        <div class="ellipsis">{{wine | wineRenderer}}</div>
        <div class="ellipsis"><small>{{wine.appellation | appellationRenderer}}</small></div>
      </div>
    </core-item>
    <paper-item ng-if="size > wines.length" label="Voir les {{size - wines.length > pageCount ? pageCount : size - wines.length}} suivants sur {{size - wines.length}}" ng-click="more()"></paper-item>
  </section>
</div>