<!DOCTYPE html>
<html lang="fr" xmlns:wicket="">
<body>
<wicket:panel>
  <div wicket:id="notLoggedIn">
    <form wicket:id="loginForm" class="navbar-form form-inline">
      <label for="username" class="hide"><wicket:message key="username">Username</wicket:message></label>
      <input type="email" wicket:id="username" id="username" class="input-small" size="18" wicket:message="placeholder:username" />
      <label for="password" class="hide"><wicket:message key="password">Password</wicket:message></label>
      <input type="password" wicket:id="password" id="password" class="input-small" size="8" wicket:message="placeholder:password" />
      <button class="btn btn-inverse btn-small"><wicket:message key="login">Log-in</wicket:message></button>
      <a class="btn btn-inverse btn-small" wicket:id="newUserLink" wicket:message="title:newUser"><wicket:message key="newUser">New user</wicket:message></a>
    </form>
  </div>
  <div class="btn-group" wicket:id="loggedIn">
    <a class="btn btn-inverse btn-small" wicket:id="emailLink" wicket:message="title:myAccount"><span wicket:id="email">email</span><i class="icon-user icon-white"></i></a>
    <a class="btn btn-inverse btn-small" wicket:id="logout" wicket:message="title:logout"><i class="icon-off icon-white"></i></a>
  </div>
</wicket:panel>
</body>
</html>
