<!DOCTYPE html>
<html lang="fr" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
  <form wicket:id="loginForm" class="form-horizontal">
    <div class="control-group" wicket:id="username">
      <input type="email" wicket:id="username" id="username" class="input-small" size="18" />
    </div>
    <div class="control-group" wicket:id="password">
      <input type="password" wicket:id="password" id="password" class="input-small" size="8"  />
    </div>
    <div wicket:id="feedback" class="feedback" />
    <div class="form-actions">
      <input type="submit" class="btn btn-primary" wicket:message="value:login" />
      <a wicket:id="reset" class="btn btn-warning"><wicket:message key="resetPassword">Reset password</wicket:message></a>
    </div>
  </form>
</wicket:panel>
</body>
</html>
