<header class="page-header"><h1>Stacks</h1></header>
<div class="row-fluid">
  <div class="span2">
    <nav role="secondary">
      <data-mycellar-admin-nav data-ng-controller="AdminNavigationController"></data-mycellar-admin-nav>
    </nav>
  </div>
  <div class="span10">
    <data-mycellar-table page-range="3" options="tableOptions" items="items" sort="sort">
      <table class="table table-bordered table-striped table-condensed">
        <thead>
          <tr>
            <th>HashCode</th>
            <th>Stack</th>
            <th>Count <icon-sort sort-fn="sortBy('count')" attribute="count" ways="sort.ways" /></th>
            <th class="actions"></th>
          </tr>
        </thead>
        <tbody ng-controller="LoadingCtrl">
          <tr ng-repeat="item in items">
            <td>{{item.hashCode}}</td>
            <td>{{item.stack | firstLine}}</td>
            <td>{{item.count}}</td>
            <td>
              <a href ng-click="edit(item.id)" class="btn btn-mini"><i class="icon-edit icon-large"></i></a>
              <a href ng-click="delete(item.id)" class="btn btn-mini"><i class="icon-remove-sign icon-large"></i></a>
            </td>
          </tr>
          <tr ui-if="!loading && items.length == 0">
            <td colspan="4">No items to display.</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>HashCode</th>
            <th>Stack</th>
            <th>Count <icon-sort sort-fn="sortBy('count')" attribute="count" ways="sort.ways" /></th>
            <th class="actions"></th>
          </tr>
        </tfoot>
      </table>
    </data-mycellar-table>
  </div>
</div>