<header class="page-header"><h1>Header</h1></header>
<div class="row-fluid">
  <div class="span2">
    <nav role="secondary">
      <data-mycellar-admin-nav data-ng-controller="AdminNavigationController"></data-mycellar-admin-nav>
    </nav>
  </div>
  <div class="span10">
    <data-mycellar-table page-range="3" options="tableOptions" items="items" sort="sort">
      <table class="table table-bordered table-striped table-condensed table-hover">
        <thead>
          <tr>
            <th>HashCode</th>
            <th>Stack</th>
            <th>Count <span ng-click="sortBy('count')">sort: {{sort.ways['count']}}</span></th>
          </tr>
        </thead>
        <tbody ng-controller="LoadingCtrl">
          <tr ng-repeat="item in items">
            <td ng-click="edit(item.id)">{{item.hashCode}}</td>
            <td ng-click="edit(item.id)">{{item.stack | firstLine}}</td>
            <td ng-click="edit(item.id)">{{item.count}}</td>
          </tr>
          <tr ui-if="!loading && items.length == 0">
            <td colspan="3">No items to display.</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>HashCode</th>
            <th>Stack</th>
            <th>Count <span ng-click="sortBy('count')">sort: {{sort.ways['count']}}</span></th>
          </tr>
        </tfoot>
      </table>
    </data-mycellar-table>
    <form id="form" class="form-inline">
      <fieldset>
        <legend><a href ng-click="filtersIsCollapsed = !filtersIsCollapsed">Filters</a></legend>
        <div collapse="filtersIsCollapsed">
          <input type="button" class="btn" value="Clear filters" ng-click="clearFilters()" />
        </div>
      </fieldset>
  </div>
</div>