<core-toolbar>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Contacts</span>
  <core-input id="search" bind-polymer-input="search" flex hidden></core-input>
  <paper-icon-button icon="cancel" hidden ng-show="search !== ''" ng-click="clearSearch()"></paper-icon-button>
  <paper-icon-button icon="clear" hidden ng-show="search === ''" ng-click="toggleHidden()"></paper-icon-button>
  <paper-icon-button icon="search" ng-click="toggleHidden()"></paper-icon-button>
  <drawer-button right icon="more-vert"></drawer-button>
</core-toolbar>
<core-drawer-panel rightDrawer>
  <nav role="secondary" drawer>
    <admin-domain-nav></admin-domain-nav>
  </nav>
  <div main>
    <paper-item ng-if="items.length == 0">Aucun contact</paper-item>
    <paper-item class="twoLines" ng-click="edit(contact.id)" ng-repeat="contact in items">
      <div flex>
        <div class="ellipsis">{{contact.producer | producerRenderer}}</div>
        <div class="ellipsis"><small>Contacté le {{contact.current | date:'longDate'}}</small></div>
      </div>
      <div>{{contact.next | date:'longDate'}}</div>
      <paper-icon-button icon="remove-circle-outline" ng-click="delete(contact.id, $event)"></paper-icon-button>
    </paper-item>
    <paper-item ng-if="size > items.length" label="Voir les {{size - items.length > pageCount ? pageCount : size - items.length}} suivants sur {{size - items.length}}" ng-click="more()"></paper-item>
    <paper-fab icon="add" raisedButton="false" ng-click="new()"></paper-fab>
  </div>
</core-drawer-panel>
