<core-toolbar>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Contacts</span>
  <drawer-button right icon="more-vert"></drawer-button>
</core-toolbar>
<admin-domain>
  <table-filters table-context="tableContext">
    <div class="form-group">
      <label class="control-label sr-only" for="producer.name">Nom du producteur</label>
      <input class="form-control" id="producer.name" name="producer.name" placeholder="Nom du producteur" ng-model="tableContext.filters['producer.name']" type="text" />
    </div>
  </table-filters>
  <error-div errors="errors"></error-div>
  <paginated table-context="tableContext">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-condensed">
        <thead>
          <tr>
            <th>Producteur <icon-sort attribute="producer.name" table-context="tableContext" /></th>
            <th>Date du contact <icon-sort attribute="current" table-context="tableContext" /></th>
            <th>Prochain contact <icon-sort attribute="next" table-context="tableContext" /></th>
            <th class="actions"><a href ng-click="new()" class="btn btn-default btn-xs"><i class="fa fa-plus-circle"></i></a></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="contact in tableContext.items">
            <td>{{contact.producer.name}}</td>
            <td>{{contact.current}}</td>
            <td>{{contact.next}}</td>
            <td>
              <a href ng-click="edit(contact.id)" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></a>
              <a href ng-click="delete(contact.id)" class="btn btn-danger btn-xs"><i class="fa fa-minus-circle"></i></a>
            </td>
          </tr>
          <tr ng-if="tableContext.items.length == 0">
            <td colspan="5" class="text-center">Aucun contact ne correspond aux filtres.</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Producteur <icon-sort attribute="producer.name" table-context="tableContext" /></th>
            <th>Date du contact <icon-sort attribute="current" table-context="tableContext" /></th>
            <th>Prochain contact <icon-sort attribute="next" table-context="tableContext" /></th>
            <th class="actions"><a href ng-click="new()" class="btn btn-default btn-xs"><i class="fa fa-plus-circle"></i></a></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </paginated>
</admin-domain>
