<core-toolbar main>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Contact</span>
  <drawer-button right icon="more-vert"></drawer-button>
</core-toolbar>
<core-drawer-panel rightDrawer>
  <nav role="secondary" drawer>
    <admin-domain-nav></admin-domain-nav>
  </nav>
  <div main>
    <form name="form" novalidate>
      <section>
        <producer label="Producteur" producer="contact.producer"></producer>
        <paper-input id="current" label="Date du contact" type="date" floatingLabel bind-polymer-input="contact.current" required></paper-input>
        <paper-input id="next" label="Prochain contact" type="date" floatingLabel bind-polymer-input="contact.next" required></paper-input>
        <div horizontal layout>
          <paper-input flex id="text" label="Texte" multiline floatingLabel bind-polymer-input="contact.text" required></paper-input>
        </div>
      </section>
      <section>
        <div horizontal layout>
          <paper-button style="margin: auto;" raised primary ng-click="save()" ng-disabled="form.$invalid">Sauvegarder</paper-button>
          <paper-button style="margin: auto;" raised ng-click="cancel()">Annuler</paper-button>
        </div>
      </section>
    </form>
  </div>
</core-drawer-panel>
