<div>
  <div ng-transclude></div>
  <div class="text-center">
    <pagination page="currentPage" on-select-page="setPage(page)" max-size="pageRange" total-items="total" items-per-page="itemsPerPage"></pagination>
  </div>
  <div class="row">
    <div class="col-md-6">
      {{count > 0 ? firstItem + 1 : 0}} à {{firstItem + count}} des {{total}} entrées.
    </div>
    <div class="col-md-6 text-right">
      <form class="form-inline">
        <div class="form-group">
          Afficher 
          <select ng-model="itemsPerPage" class="form-control" style="width: auto;">
            <option>10</option>
            <option>20</option>
            <option>30</option>
            <option>40</option>
            <option>50</option>
          </select>
          entrées par page.
        </div>
      </form>
    </div>
  </div>
</div>
