<div>
  <div ng-transclude></div>
  <div class="text-center">
    <pagination page="tableContext.currentPage" on-select-page="tableContext.setPage(page)" max-size="tableContext.pageRange" total-items="tableContext.total" items-per-page="tableContext.itemsPerPage"></pagination>
  </div>
  <div class="row">
    <div class="col-md-6">
      {{tableContext.count > 0 ? tableContext.firstItem + 1 : 0}} à {{tableContext.firstItem + tableContext.count}} des {{tableContext.total}} entrées.
    </div>
    <div class="col-md-6 text-right">
      <form class="form-inline">
        <div class="form-group">
          Afficher 
          <select ng-model="tableContext.itemsPerPage" class="form-control" style="width: auto;">
            <option>10</option>
            <option>20</option>
            <option>30</option>
            <option>40</option>
            <option>50</option>
          </select>
          entrées par page.
        </div>
      </form>
    </div>
  </div>
</div>
