<div class="row">
  <div class="col-md-2">
    <nav role="secondary">
      <data-mycellar-admin-nav></data-mycellar-admin-nav>
    </nav>
  </div>
  <div class="col-md-10">
    <header class="page-header"><h1>Appellation: {{appellation.name}}</h1></header>
    <form name="form" class="form">
      <error-form form="form"></error-form>
      <fieldset>
        <legend>Details</legend>
        <div class="form-group" ng-class="{error: form.region.$invalid}">
          <label class="control-label" for="region">Region</label>
          <input 
              id="region" 
              name="region" 
              type="text" 
              class="form-control"
              ng-model="appellation.region" 
              placeholder="Region" 
              typeahead="region as (region.name + ' - ' + region.country.name) for region in regions($viewValue)"
              typeahead-editable="false"  
              typeahead-min-length="2" 
              typeahead-wait-ms="200" />
          <error-ctrl ctrl="form.region"></error-ctrl>
        </div>
        <div class="form-group" ng-class="{error: form.name.$invalid}">
          <label class="control-label" for="name">Name</label>
          <input class="form-control" id="name" name="name" type="text" ng-model="appellation.name" placeholder="Name" />
          <error-ctrl ctrl="form.name"></error-ctrl>
        </div>
        <div class="form-group" ng-class="{error: form.description.$invalid}">
          <label class="control-label" for="description">Description</label>
          <textarea 
              id="description" 
              name="description"
              class="form-control" 
              ng-model="appellation.description" 
              placeholder="Description" 
              rows="5"></textarea>
          <error-ctrl ctrl="form.description"></error-ctrl>
        </div>
      </fieldset>
      <input type="submit" class="btn btn-primary" value="Save" ng-click="save()" />
      <input type="submit" class="btn btn-default" value="Cancel" ng-click="cancel()" />
    </form>
  </div>
</div>