<header class="page-header"><h1>Header</h1></header>
<div class="row-fluid">
  <div class="span2">
    <nav role="secondary">
      <data-mycellar-admin-nav data-ng-controller="AdminNavigationController"></data-mycellar-admin-nav>
    </nav>
  </div>
  <div class="span10">
    <data-mycellar-table items-per-page="20" page-range="3" options="tableOptions" items="items">
      <table class="table table-bordered table-striped table-condensed table-hover">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody ng-controller="LoadingCtrl">
          <tr ng-repeat="item in items">
            <td ng-click="edit(item.id)">{{item.name}}</td>
          </tr>
          <tr ui-if="!loading && items.length == 0">
            <td colspan="1">No items to display.</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Name</th>
          </tr>
        </tfoot>
      </table>
    </data-mycellar-table>
  </div>
</div>