<header class="page-header"><h1>Header</h1></header>
<div class="row-fluid">
  <div class="span2">
    <nav role="secondary">
      <data-mycellar-admin-nav data-ng-controller="AdminNavigationController"></data-mycellar-admin-nav>
    </nav>
  </div>
  <div class="span10">
    <form id="form" class="form-inline">
      <fieldset>
        <legend><a href ng-click="filtersIsCollapsed = !filtersIsCollapsed"><i ng-class="filtersIsCollapsed ? 'icon-expand-alt' : 'icon-collapse-alt'"></i></a> Filters</legend>
        <div collapse="filtersIsCollapsed">
          <label for="country.name">Country name</label>
          <input id="country.name" name="country.name" placeholder="Name" ng-model="filters['country.name']" type="text" />
          <label for="name">Name</label>
          <input id="name" name="name" placeholder="Name" ng-model="filters.name" type="text" />
          <input type="button" class="btn" value="Clear filters" ng-click="clearFilters()" />
        </div>
      </fieldset>
    </form>
    <data-mycellar-table page-range="3" options="tableOptions" items="items" sort="sort" filters="filters">
      <table class="table table-bordered table-striped table-condensed table-hover">
        <thead>
          <tr>
            <th>Country <icon-sort sort-fn="sortBy('country.name')" attribute="country.name" ways="sort.ways" /></th>
            <th>Name <icon-sort sort-fn="sortBy('name')" attribute="name" ways="sort.ways" /></th>
          </tr>
        </thead>
        <tbody ng-controller="LoadingCtrl">
          <tr ng-repeat="item in items">
            <td ng-click="edit(item.id)">{{item.country.name}}</td>
            <td ng-click="edit(item.id)">{{item.name}}</td>
          </tr>
          <tr ui-if="!loading && items.length == 0">
            <td colspan="2">No items to display.</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Country <icon-sort sort-fn="sortBy('country.name')" attribute="country.name" ways="sort.ways" /></th>
            <th>Name <icon-sort sort-fn="sortBy('name')" attribute="name" ways="sort.ways" /></th>
          </tr>
        </tfoot>
      </table>
    </data-mycellar-table>
  </div>
</div>