<header class="page-header"><h1>Header</h1></header>
<div class="row-fluid">
  <div class="span2">
    <nav role="secondary">
      <data-mycellar-admin-nav data-ng-controller="AdminNavigationController"></data-mycellar-admin-nav>
    </nav>
  </div>
  <div class="span10">
    <form name="form" class="form form-horizontal">
      <fieldset>
        <legend>Region</legend>
        <div wicket:id="country" />
        <div class="control-group" ng-class="{error: form.name.$invalid}">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
            <input id="name" name="name" type="text" ng-model="region.name" placeholder="Name" />
            <span class="help-inline" ng-show="form.name.$invalid">{{form.name.$error}}</span>
          </div>
        </div>
        <div class="control-group" ng-class="{error: form.description.$invalid}">
          <label class="control-label" for="description">Description</label>
          <div class="controls">
            <textarea 
                id="description" 
                name="description" 
                ng-model="region.description" 
                placeholder="Description" 
                class="input-block-level"
                rows="5"></textarea>
            <span class="help-inline" ng-show="form.description.$invalid">{{form.description.$error}}</span>
          </div>
        </div>
      </fieldset>
      <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Save" ng-click="save()" />
        <input type="submit" class="btn" value="Cancel" ng-click="cancel()" />
      </div>
    </form>
  </div>
</div>