<div class="row">
  <div class="col-md-2">
    <nav role="secondary">
      <data-mycellar-admin-nav></data-mycellar-admin-nav>
    </nav>
  </div>
  <div class="col-md-10">
    <header class="page-header"><h1>Wine</h1></header>
    <form name="form" class="form">
      <error-form form="form"></error-form>
      <fieldset>
        <legend>Details</legend>
        <div class="form-group" ng-class="{'has-error': form.appellation.$invalid}">
          <label class="control-label" for="appellation">Appellation</label>
          <input 
              id="appellation" 
              name="appellation" 
              type="text"
              class="form-control" 
              ng-model="wine.appellation" 
              placeholder="Appellation" 
              typeahead="appellation as appellation.name for appellation in appellations($viewValue)"
              typeahead-editable="false"  
              typeahead-min-length="2" 
              typeahead-wait-ms="200" />
          <error-ctrl ctrl="form.appellation"></error-ctrl>
        </div>
        <div class="form-group" ng-class="{'has-error': form.producer.$invalid}">
          <label class="control-label" for="producer">Producer</label>
          <input 
              id="producer" 
              name="producer" 
              type="text"
              class="form-control" 
              ng-model="wine.producer" 
              placeholder="Producer" 
              typeahead="producer as producer.name for producer in producers($viewValue)"
              typeahead-editable="false"  
              typeahead-min-length="2" 
              typeahead-wait-ms="200" />
          <error-ctrl ctrl="form.producer"></error-ctrl>
        </div>
        <div class="form-group" ng-class="{'has-error': form.type.$invalid}">
          <label class="control-label" for="type">Type</label>
          <select id="type" name="type" ng-model="wine.type" class="form-control">
            <option label="Still">STILL</option>
            <option label="Sparkling">SPARKLING</option>
            <option label="Spirit">SPIRIT</option>
            <option label="Other">OTHER</option>
          </select>
          <error-ctrl ctrl="form.type"></error-ctrl>
        </div>
        <div class="form-group" ng-class="{'has-error': form.color.$invalid}">
          <label class="control-label" for="color">Color</label>
          <select id="color" name="color" ng-model="wine.color" class="form-control">
            <option label="Red">RED</option>
            <option label="White">WHITE</option>
            <option label="Rosé">ROSE</option>
            <option label="Other">OTHER</option>
          </select>
          <error-ctrl ctrl="form.color"></error-ctrl>
        </div>
        <div class="form-group" ng-class="{'has-error': form.name.$invalid}">
          <label class="control-label" for="name">Name</label>
          <input class="form-control" id="name" name="name" type="text" ng-model="wine.name" placeholder="Name" />
          <error-ctrl ctrl="form.name"></error-ctrl>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error': form.vintage.$invalid}">
          <label class="control-label" for="vintage">Vintage</label>
          <input class="form-control" id="vintage" name="vintage" type="number" ng-model="wine.vintage" placeholder="Vintage" />
          <error-ctrl ctrl="form.vintage"></error-ctrl>
        </div>
        <div class="form-group" ng-class="{'has-error': form.ranking.$invalid}">
          <label class="control-label" for="ranking">Ranking</label>
          <input class="form-control" id="ranking" name="ranking" type="text" ng-model="wine.ranking" placeholder="Ranking" />
          <error-ctrl ctrl="form.ranking"></error-ctrl>
        </div>
        <div class="form-group" ng-class="{'has-error': form.description.$invalid}">
          <label class="control-label" for="description">Description</label>
          <textarea 
              id="description" 
              name="description" 
              ng-model="wine.description" 
              placeholder="Description" 
              class="form-control"
              rows="5"></textarea>
          <error-ctrl ctrl="form.description"></error-ctrl>
        </div>
      </fieldset>
      <input type="submit" class="btn btn-primary" value="Save" ng-click="save()" />
      <input type="submit" class="btn btn-default" value="Cancel" ng-click="cancel()" />
    </form>
  </div>
</div>