<header class="page-header"><h1>Header</h1></header>
<div class="row-fluid">
  <div class="span2">
    <nav role="secondary">
      <data-mycellar-admin-nav data-ng-controller="AdminNavigationController"></data-mycellar-admin-nav>
    </nav>
  </div>
  <div class="span10">
    <form name="form" class="form form-horizontal">
      <fieldset>
        <legend>Wine</legend>
        <div class="control-group" ng-class="{error: form.appellation.$invalid}">
          <label class="control-label" for="appellation">Appellation</label>
          <div class="controls">
            <input 
                id="appellation" 
                name="appellation" 
                type="text" 
                ng-model="wine.appellation" 
                placeholder="Appellation" 
                typeahead="appellation as appellation.name for appellation in appellations($viewValue)"
                typeahead-editable="false"  
                typeahead-min-length="2" 
                typeahead-wait-ms="200" />
            <span class="help-inline" ng-show="form.appellation.$invalid">{{form.appellation.$error}}</span>
          </div>
        </div>
        <div class="control-group" ng-class="{error: form.producer.$invalid}">
          <label class="control-label" for="producer">Producer</label>
          <div class="controls">
            <input 
                id="producer" 
                name="producer" 
                type="text" 
                ng-model="wine.producer" 
                placeholder="Producer" 
                typeahead="producer as producer.name for producer in producers($viewValue)"
                typeahead-editable="false"  
                typeahead-min-length="2" 
                typeahead-wait-ms="200" />
            <span class="help-inline" ng-show="form.producer.$invalid">{{form.producer.$error}}</span>
          </div>
        </div>
        <div class="control-group" wicket:id="type">
          <select id="type" wicket:id="type">
              <option wicket:id="option"></option>
          </select>
        </div>
        <div class="control-group" wicket:id="color">
          <select id="color" wicket:id="color">
              <option wicket:id="option"></option>
          </select>
        </div>
        <div class="control-group" ng-class="{error: form.name.$invalid}">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
            <input id="name" name="name" type="text" ng-model="wine.name" placeholder="Name" />
            <span class="help-inline" ng-show="form.name.$invalid">{{form.name.$error}}</span>
          </div>
        </div>
        <div class="control-group" ng-class="{error: form.vintage.$invalid}">
          <label class="control-label" for="vintage">Vintage</label>
          <div class="controls">
            <input id="vintage" name="vintage" type="number" ng-model="wine.vintage" placeholder="Vintage" />
            <span class="help-inline" ng-show="form.vintage.$invalid">{{form.vintage.$error}}</span>
          </div>
        </div>
        <div class="control-group" ng-class="{error: form.ranking.$invalid}">
          <label class="control-label" for="ranking">Ranking</label>
          <div class="controls">
            <input id="ranking" name="ranking" type="text" ng-model="wine.ranking" placeholder="Ranking" />
            <span class="help-inline" ng-show="form.ranking.$invalid">{{form.ranking.$error}}</span>
          </div>
        </div>
        <div class="control-group" ng-class="{error: form.description.$invalid}">
          <label class="control-label" for="description">Description</label>
          <div class="controls">
            <textarea 
                id="description" 
                name="description" 
                ng-model="wine.description" 
                placeholder="Description" 
                class="input-block-level"
                rows="5"></textarea>
            <span class="help-inline" ng-show="form.description.$invalid">{{form.description.$error}}</span>
          </div>
        </div>
      </fieldset>
      <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Save" ng-click="save()" />
        <input type="submit" class="btn" value="Cancel" ng-click="cancel()" />
      </div>
    </form>
  </div>
</div>