<header class="page-header"><h1>Header</h1></header>
<div class="row-fluid">
  <div class="span2">
    <nav role="secondary">
      <data-mycellar-admin-nav data-ng-controller="AdminNavigationController"></data-mycellar-admin-nav>
    </nav>
  </div>
  <div class="span10">
    <data-mycellar-table page-range="3" options="tableOptions" items="items" sort="sort">
      <table class="table table-bordered table-striped table-condensed table-hover">
        <thead>
          <tr>
            <th>Country <span ng-click="sortBy('country_name')">sort: {{sort.ways['country_name']}}</span></th>
            <th>Region <span ng-click="sortBy('region_name')">sort: {{sort.ways['region_name']}}</span></th>
            <th>Appellation <span ng-click="sortBy('appellation_name')">sort: {{sort.ways['appellation_name']}}</span></th>
            <th>Producer <span ng-click="sortBy('producer_name')">sort: {{sort.ways['producer_name']}}</span></th>
            <th>Name <span ng-click="sortBy('name')">sort: {{sort.ways['name']}}</span></th>
            <th>Vintage <span ng-click="sortBy('vintage')">sort: {{sort.ways['vintage']}}</span></th>
            <th>Color <span ng-click="sortBy('color')">sort: {{sort.ways['color']}}</span></th>
            <th>Type <span ng-click="sortBy('type')">sort: {{sort.ways['type']}}</span></th>
          </tr>
        </thead>
        <tbody ng-controller="LoadingCtrl" >
          <tr ng-repeat="item in items">
            <td ng-click="edit(item.id)">{{item.appellation.region.country.name}}</td>
            <td ng-click="edit(item.id)">{{item.appellation.region.name}}</td>
            <td ng-click="edit(item.id)">{{item.appellation.name}}</td>
            <td ng-click="edit(item.id)">{{item.producer.name}}</td>
            <td ng-click="edit(item.id)">{{item.name}}</td>
            <td ng-click="edit(item.id)">{{item.vintage}}</td>
            <td ng-click="edit(item.id)">{{item.color}}</td>
            <td ng-click="edit(item.id)">{{item.type}}</td>
          </tr>
          <tr ui-if="!loading && items.length == 0">
            <td colspan="8">No items to display.</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Country <span ng-click="sortBy('country_name')">sort: {{sort.ways['country_name']}}</span></th>
            <th>Region <span ng-click="sortBy('region_name')">sort: {{sort.ways['region_name']}}</span></th>
            <th>Appellation <span ng-click="sortBy('appellation_name')">sort: {{sort.ways['appellation_name']}}</span></th>
            <th>Producer <span ng-click="sortBy('producer_name')">sort: {{sort.ways['producer_name']}}</span></th>
            <th>Name <span ng-click="sortBy('name')">sort: {{sort.ways['name']}}</span></th>
            <th>Vintage <span ng-click="sortBy('vintage')">sort: {{sort.ways['vintage']}}</span></th>
            <th>Color <span ng-click="sortBy('color')">sort: {{sort.ways['color']}}</span></th>
            <th>Type <span ng-click="sortBy('type')">sort: {{sort.ways['type']}}</span></th>
          </tr>
        </tfoot>
      </table>
    </data-mycellar-table>
  </div>
</div>