<wicket:panel xmlns:wicket="http://wicket.apache.org">
  <fieldset>
    <legend><wicket:message key="contactEdit">Contact</wicket:message></legend>
    <div wicket:id="producer" />
    <div class="control-group" wicket:id="current">
      <input id="current" wicket:id="current" type="date" size="10" maxlength="10" />
    </div>
    <div class="control-group" wicket:id="next">
      <input id="next" wicket:id="next" type="date" size="10" maxlength="10" />
    </div>
    <div class="control-group" wicket:id="text">
      <textarea id="text" wicket:id="text"></textarea>
    </div>
  </fieldset>
</wicket:panel>