<header class="page-header"><h1>Site administration</h1></header>
<section>
  <header><h2>Dashboard</h2></header>
  <div class="row-fluid">
    <div class="span4">
      <div class="well">
        <h3>MyCellar</h3>
        <div class="content">
          <ul>
            <li>Version : {{mycellarVersion}}</li>
          </ul>
        </div>
        <h3>angular</h3>
        <div class="content">
          <ul>
            <li>Version : {{angularVersion}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="well">
        <h3>Counts</h3>
        <div class="content">
          <ul>
            <li>User count : {{usersCount}}</li>
            <li>Wine count : {{winesCount}}</li>
            <li>Stack count : {{stacksCount}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="well">
        <h3><img title="Database" class="vam" /> DB</h3>
        <div class="content">
          <ul>
            <li>driver</span></li>
            <li>url</span></li>
            <li>login</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <header role="secondary"><h2>Tools</h2></header>
  <div class="well">
    <a href ng-click="deleteAllStacks()" class="btn btn-warning">Clean stacks</a>
    <a href="" class="btn">Create vintages</a>
    <a href="/monitoring" target="_self" class="btn">Monitoring</a>
  </div>
</section>
