<header class="page-header"><h1>Site administration</h1></header>
<section>
  <header><h2><wicket:message key="dashboard">Dashboard</wicket:message></h2></header>
  <div class="row-fluid">
    <div class="span4">
      <div class="well">
        <h3><wicket:message key="myCellar">MyCellar</wicket:message></h3>
        <div class="content">
          <ul>
            <li><wicket:message key="version">Version</wicket:message> : {{mycellarVersion}}</li>
          </ul>
        </div>
        <h3><wicket:message key="angular">angular</wicket:message></h3>
        <div class="content">
          <ul>
            <li><wicket:message key="angularVersion">Version</wicket:message> : {{angularVersion}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="well">
        <h3><wicket:message key="counts">Counts</wicket:message></h3>
        <div class="content">
          <ul>
            <li><wicket:message key="userCount">User count</wicket:message> : {{userCount}}</li>
            <li><wicket:message key="wineCount">Wine count</wicket:message> : {{wineCount}}</li>
            <li><wicket:message key="stackCount">Stack count</wicket:message> : {{stackCount}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="well">
        <h3><img wicket:id="db" wicket:message="title:database" class="vam" /> <wicket:message key="database">DB</wicket:message></h3>
        <div class="content">
          <ul>
            <li><wicket:message key="dbDriver">Driver</wicket:message> : <span wicket:id="dbDriver">driver</span></li>
            <li><wicket:message key="dbUrl">URL</wicket:message> : <span wicket:id="dbUrl">url</span></li>
            <li><wicket:message key="dbLogin">Login</wicket:message> : <span wicket:id="dbLogin">login</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <header role="secondary"><h2><wicket:message key="tools">Tools</wicket:message></h2></header>
  <div class="well">
    <a href="#" class="btn btn-warning"><wicket:message key="cleanStacksLink">Clean stacks</wicket:message></a>
  </div>
</section>
