<header class="page-header"><h1>Create new vintages</h1></header>
<form name="form" class="form">
  <div class="row-fluid">
    <fieldset class="span4">
      <legend>Filters</legend>
      <input 
          id="country" 
          name="country" 
          type="text" 
          ng-model="tableContext.filters['appellation.region.country.name']" 
          placeholder="Country" 
          typeahead="country.name for country in countries($viewValue)"
          typeahead-editable="false"  
          typeahead-min-length="2" 
          typeahead-wait-ms="200" />
      <input 
          id="region" 
          name="region" 
          type="text" 
          ng-model="tableContext.filters['appellation.region.name']" 
          placeholder="Region" 
          typeahead="region.name for region in regions($viewValue)"
          typeahead-editable="false"  
          typeahead-min-length="2" 
          typeahead-wait-ms="200" />
      <input 
          id="appellation" 
          name="appellation" 
          type="text" 
          ng-model="tableContext.filters['appellation.name']" 
          placeholder="Appellation" 
          typeahead="appellation.name for appellation in appellations($viewValue)"
          typeahead-editable="false"  
          typeahead-min-length="2" 
          typeahead-wait-ms="200" />
      <input 
          id="producer" 
          name="producer" 
          type="text" 
          ng-model="tableContext.filters['producer.name']" 
          placeholder="Producer" 
          typeahead="producer.name for producer in producers($viewValue)"
          typeahead-editable="false" 
          typeahead-min-length="2" 
          typeahead-wait-ms="200" />
      <select id="type" name="type" ng-model="tableContext.filters['type']" placeholder="Type">
        <option label="Type"></option>
        <option label="Still">STILL</option>
        <option label="Sparkling">SPARKLING</option>
        <option label="Spirit">SPIRIT</option>
        <option label="Other">OTHER</option>
      </select>
      <select id="color" name="color" ng-model="tableContext.filters['color']">
        <option label="Color"></option>
        <option label="Red">RED</option>
        <option label="White">WHITE</option>
        <option label="Rosé">ROSE</option>
        <option label="Other">OTHER</option>
      </select>
      <input id="name" name="name" type="text" ng-model="tableContext.filters['name']" placeholder="Name" />
      <input id="vintage" name="vintage" type="number" ng-model="tableContext.filters['vintage']" placeholder="Vintage" />
    </fieldset>
    <fieldset class="span8">
      <legend>Wines</legend>
      <paginated options="tableOptions" items="wines" table-context="tableContext">
        <table class="table table-bordered table-striped table-condensed">
          <thead>
            <tr>
              <th>Country <icon-sort attribute="appellation.region.country.name" table-context="tableContext" /></th>
              <th>Region <icon-sort attribute="appellation.region.name" table-context="tableContext" /></th>
              <th>Appellation <icon-sort attribute="appellation.name" table-context="tableContext" /></th>
              <th>Producer <icon-sort attribute="producer.name" table-context="tableContext" /></th>
              <th>Name <icon-sort attribute="name" table-context="tableContext" /></th>
              <th>Vintage <icon-sort attribute="vintage" table-context="tableContext" /></th>
              <th>Color <icon-sort attribute="color" table-context="tableContext" /></th>
              <th>Type <icon-sort attribute="type" table-context="tableContext" /></th>
            </tr>
          </thead>
          <tbody ng-controller="LoadingCtrl" >
            <tr ng-repeat="wine in wines">
              <td>{{wine.appellation.region.country.name}}</td>
              <td>{{wine.appellation.region.name}}</td>
              <td>{{wine.appellation.name}}</td>
              <td>{{wine.producer.name}}</td>
              <td>{{wine.name}}</td>
              <td>{{wine.vintage}}</td>
              <td>{{wine.color}}</td>
              <td>{{wine.type}}</td>
            </tr>
            <tr ui-if="!loading && wines.length == 0">
              <td colspan="8">No wines match.</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>Country <icon-sort attribute="appellation.region.country.name" table-context="tableContext" /></th>
              <th>Region <icon-sort attribute="appellation.region.name" table-context="tableContext" /></th>
              <th>Appellation <icon-sort attribute="appellation.name" table-context="tableContext" /></th>
              <th>Producer <icon-sort attribute="producer.name" table-context="tableContext" /></th>
              <th>Name <icon-sort attribute="name" table-context="tableContext" /></th>
              <th>Vintage <icon-sort attribute="vintage" table-context="tableContext" /></th>
              <th>Color <icon-sort attribute="color" table-context="tableContext" /></th>
              <th>Type <icon-sort attribute="type" table-context="tableContext" /></th>
            </tr>
          </tfoot>
        </table>
      </paginated>
    </fieldset>
  </div>
  <div class="row-fluid">
    <fieldset class="span6 form-horizontal">
      <legend>Vintages</legend>
      <div class="control-group" ng-class="{error: form.from.$invalid}">
        <label class="control-label" for="from">From</label>
        <div class="controls">
          <input id="from" name="from" type="number" ng-model="from" placeholder="From" />
          <error-ctrl ctrl="form.from"></error-ctrl>
        </div>
      </div>
      <div class="control-group" ng-class="{error: form.to.$invalid}">
        <label class="control-label" for="to">To</label>
        <div class="controls">
          <input id="to" name="to" type="number" ng-model="to" placeholder="To" />
          <error-ctrl ctrl="form.to"></error-ctrl>
        </div>
      </div>
    </fieldset>
    <fieldset class="span6">
      <legend>Result</legend>
      <div class="progress progress-striped active" ng-class="{'progress-danger': errors.length > 0, 'progress-success': errors.length == 0}" ng-show="running">
        <div class="bar" ng-style="{'width': (count / wines.length * 100) + '%'}"></div>
      </div>
      <div ng-show="errors.length > 0 || messages.length > 0">
        <div class="alert alert-error" ng-repeat="error in errors">
          <button type="button" class="close" ng-click="errors.splice(errors.indexOf(error), 1)">&times;</button>
          {{error.errorKey}}
        </div>
        <div class="alert alert-success" ng-repeat="message in messages">
          <button type="button" class="close" ng-click="messages.splice(messages.indexOf(message), 1)">&times;</button>
          Created {{message.count}} vintages.
        </div>
      </div>
    </fieldset>
  </div>
  <div class="row-fluid">
    <div class="form-actions">
      <input type="submit" ng-click="createVintages()" class="btn btn-primary" value="Create vintages" />
      <input type="reset" ng-click="clearFilters()" class="btn btn" value="Reset filters" />
    </div>
  </div>
</form>