<div class="container">
  <section>
    <div class="row">
      <div class="col-md-6">
        <header class="page-header">
          <h1>Déjà membre ? <small>Connectez-vous !</small></h1>
        </header>
        <login-form email="email" password="password" on-login="login()" on-reset-password="resetPasswordRequest()"></login-form>
      </div>
      <div class="col-md-6">
        <header class="page-header">
          <h1>Créer un compte <small>C'est gratuit !</small></h1>
        </header>
        <form name="newUserForm" class="form">
          <error-form form="newUserForm"></error-form>
          <div class="form-group" ng-class="{'has-error': newUserForm.lastname.$invalid}">
            <label class="control-label" for="lastname">Nom de famille</label>
            <input id="lastname" name="lastname" type="text" class="form-control" placeholder="Nom de famille" ng-model="user.lastname" />
            <error-ctrl ctrl="newUserForm.lastname"></error-ctrl>
          </div>
          <div class="form-group" ng-class="{'has-error': newUserForm.firstname.$invalid}">
            <label class="control-label" for="firstname">Prénom</label>
            <input id="firstname" name="firstname" type="text" class="form-control" placeholder="Prénom" ng-model="user.firstname" />
            <error-ctrl ctrl="newUserForm.firstname"></error-ctrl>
          </div>
          <div class="form-group" ng-class="{'has-error': newUserForm.email.$invalid}">
            <label class="control-label" for="email">email</label>
            <input id="email" name="email" type="email" class="form-control" placeholder="email" ng-model="user.email" />
            <error-ctrl ctrl="newUserForm.email"></error-ctrl>
          </div>
          <div class="form-group" ng-class="{'has-error': newUserForm.password.$invalid}">
            <label class="control-label" for="password">Mot de passe</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Mot de passe" ng-model="user.password" equals="{{password2}}" />
            <error-ctrl ctrl="newUserForm.password"></error-ctrl>
          </div>
          <div class="form-group" ng-class="{'has-error': newUserForm.password2.$invalid}">
            <label class="control-label" for="password2">Confirmation du mot de passe</label>
            <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirmation du mot de passe" ng-model="password2" equals="{{user.password}}" />
            <error-ctrl ctrl="newUserForm.password2"></error-ctrl>
          </div>
          <input type="submit" class="btn btn-primary" value="Créer un compte" ng-click="register(user)" />
        </form>
      </div>
    </div>
  </section>
  <footer>
    <p>2012-2014 Tous droits réservés, MyCellar GPL V3.</p>
  </footer>
</div>
