<section>
  <div class="row-fluid">
    <div class="span6">
      <header class="page-header">
        <h1>Déjà membre ? <small>Connectez-vous</small></h1>
      </header>
      <form name="loginForm" class="form-horizontal">
        <div class="control-group" ng-class="{error: loginForm.email.$invalid}">
          <label class="control-label" for="email">Email</label>
          <div class="controls">
            <input id="email" name="email" type="email" class="input-small" size="18" placeholder="Email" ng-model="email" />
            <error-ctrl ctrl="loginForm.email"></error-ctrl>
          </div>
        </div>
        <div class="control-group" ng-class="{error: loginForm.password.$invalid}">
          <label class="control-label" for="password">Password</label>
          <div class="controls">
            <input type="password" id="password" class="input-small" size="8" placeholder="Password" ng-model="password" />
            <error-ctrl ctrl="loginForm.password"></error-ctrl>
          </div>
        </div>
        <div class="form-actions">
          <input type="submit" class="btn btn-primary" value="Sign-in" ng-click="login(email, password)" />
          <a href class="btn btn-warning">Reset password</a>
        </div>
      </form>
    </div>
    <div class="span6">
      <header class="page-header">
        <h1>Créer un compte <small>C'est gratuit !</small></h1>
      </header>
      <form name="newUserForm" class="form-horizontal">
        <fieldset>
          <legend>User details</legend>
          <div class="control-group">
            <input id="lastname" type="text" value="" />
          </div>
          <div class="control-group">
            <input id="firstname" type="text" value="" />
          </div>
          <div class="control-group">
            <input id="email" type="email" value="" />
          </div>
          <div class="control-group">
            <input id="password" type="password" value="" />
          </div>
          <div class="control-group">
            <input id="password2" type="password" value="" />
          </div>
        </fieldset>
        <div class="form-actions">
          <input type="submit" class="btn btn-primary" value="save" />
        </div>
      </form>
    </div>
  </div>
</section>