<div class="{{class}}">
  <ul class="nav">
    <li class="divider-vertical"></li>
    <li ng-repeat="menu in menus" ng-class="{dropdown: menu.pages}">
      <a href="{{menu.route}}" ui-if="!menu.pages"><i ui-if="menu.icon" class="icon-{{menu.icon}}"></i> {{menu.label}}</a>
      <a href="{{menu.route}}" class="dropdown-toggle" ui-if="menu.pages"><i ui-if="menu.icon" class="icon-{{menu.icon}}"></i> {{menu.label}}<b class="caret"></b></a>
      <ul class="dropdown-menu" ui-if="menu.pages">
        <li ng-repeat="sub in menu.pages"><a href="{{sub.route}}">{{sub.label}}</a></li>
      </ul>
    </li>
    <li class="divider-vertical"></li>
  </ul>
</div>