<header class="page-header"><h1>Changer de mot de passe</h1></header>
<section>
  <p>
    <h4>email</h4>
    {{email}}
  </p>
  <form name="form" class="form">
    <error-form form="form"></error-form>
    <fieldset>
      <legend>Mot de passe</legend>
      <div class="form-group" ng-class="{'has-error': newUserForm.password.$invalid}">
        <label class="control-label" for="password">Mot de passe</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Mot de passe" ng-model="password" equals="{{password2}}" />
        <error-ctrl ctrl="newUserForm.password"></error-ctrl>
      </div>
      <div class="form-group" ng-class="{'has-error': newUserForm.password2.$invalid}">
        <label class="control-label" for="password2">Confirmation du mot de passe</label>
        <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirmation du mot de passe" ng-model="password2" equals="{{password}}" />
        <error-ctrl ctrl="newUserForm.password2"></error-ctrl>
      </div>
    </fieldset>
    <div class="form-actions">
      <input type="submit" class="btn btn-primary" value="Changer mon mot de passe" ng-click="resetPassword()" />
    </div>
  </form>
</section>