<div class="container">
  <header class="page-header"><h1>Contact : {{producer.name}}</h1></header>
  <section>
    <form name="producerForm" class="form">
      <error-div errors="errors"></error-div>
      <producer form="producerForm" producer="producer" input-required="true">
        <span class="help-block" ng-if="producerForm.producer.$error.required">Veuillez saisir un producteur</span>
      </producer>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group" ng-class="{'has-error': producerForm.phone.$invalid}">
            <label class="control-label" for="phone">Téléphone</label>
            <input class="form-control" id="phone" name="phone" type="text" ng-model="producer.phone" placeholder="Téléphone" />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group" ng-class="{'has-error': producerForm.fax.$invalid}">
            <label class="control-label" for="fax">Fax</label>
            <input class="form-control" id="fax" name="fax" type="text" ng-model="producer.fax" placeholder="Fax" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" ng-class="{'has-error': producerForm.email.$invalid}">
            <label class="control-label" for="email">Email</label>
            <input class="form-control" id="email" name="email" type="text" ng-model="producer.email" placeholder="Email" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group" ng-class="{'has-error': producerForm.description.$invalid}">
            <label class="control-label" for="description">Description</label>
            <textarea 
                id="description"
                name="description"
                ng-model="producer.description"
                placeholder="Description"
                class="form-control"
                rows="3"></textarea>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" ng-class="{'has-error': producerForm.contactInformation.$invalid}">
            <label class="control-label" for="contactInformation">Informations</label>
            <textarea 
                id="contactInformation"
                name="contactInformation"
                ng-model="producer.contactInformation"
                placeholder="Informations"
                class="form-control"
                rows="3"></textarea>
          </div>
        </div>
      </div>
      <div class="text-center">
        <input type="submit" class="btn btn-primary" value="Sauvegarder le producteur" ng-click="saveProducer()" ng-disabled="producerForm.$invalid" />
        <a href class="btn btn-info" ng-click="addContact()"><i class="fa fa-plus-circle"></i> Ajouter un contact</a>
      </div>
    </form>
    <br />
    <form id="contactForm" class="form" ng-if="contact != null">
      <error-div errors="errors"></error-div>
      <fieldset>
        <legend>Nouveau contact</legend>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" ng-class="{'has-error': contactForm.current.$invalid}">
              <label class="control-label" for="current">Date du contact</label>
              <input class="form-control" id="current" name="current" type="date" ng-model="contactCurrent" placeholder="Date du contact" required />
              <span class="help-block" ng-if="contactForm.current.$error.required">Veuillez saisir une date de contact</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" ng-class="{'has-error': contactForm.next.$invalid}">
              <label class="control-label" for="next">Prochain contact</label>
              <input class="form-control" id="next" name="next" type="date" ng-model="contactNext" placeholder="Prochain contact" />
            </div>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error': contactForm.text.$invalid}">
          <label class="control-label" for="text">Texte</label>
          <textarea 
              id="text"
              name="text"
              ng-model="contact.text"
              placeholder="Texte"
              class="form-control"
              rows="5"></textarea>
        </div>
      </fieldset>
      <input type="submit" class="btn btn-primary" value="Save" ng-click="saveContact()" ng-disabled="contactForm.$invalid" />
      <input type="submit" class="btn btn-warning" value="Cancel" ng-click="cancelContact()" />
    </form>
    <br />
    <div class="panel panel-default" ng-repeat="contact in contacts">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-5">
            <dl class="dl-horizontal">
              <dt>Date du contact</dt>
              <dd>{{contact.current}}</dd>
            </dl>
          </div>
          <div class="col-md-5">
            <dl class="dl-horizontal">
              <dt>Prochain contact date</dt>
              <dd>{{contact.next}}</dd>
            </dl>
          </div>
          <div class="col-md-2">
            <a href ng-click="editContact(contact)" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit contact</a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <p>{{contact.text}}</p>
      </div>
    </div>
  </section>
  <footer>
    <p>2012-2014 Tous droits réservés, MyCellar GPL V3.</p>
  </footer>
</div>
