<core-toolbar>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Réservations en cours</span>
  <drawer-button right icon="more-vert"></drawer-button>
</core-toolbar>
<core-drawer-panel rightDrawer>
  <nav role="secondary" drawer>
    <core-menu>
      <paper-item class="twoLines" ng-repeat="bookingEvent in bookingEvents" ng-click="selectBooking(bookingEvent)">
        <div>
          <div class="ellipsis">{{bookingEvent.name}}</div>
          <div class="ellipsis"><small>Du {{bookingEvent.start | date}} au {{bookingEvent.end | date}}</small></div>
        </div>
      </paper-item>
    </core-menu>
  </nav>
  <div main>
    <form ng-if="booking != null">
      <h2 style="padding: 20px; margin: 0; text-align: center;">{{booking.bookingEvent.name}} du {{booking.bookingEvent.start | date}} au {{booking.bookingEvent.end | date}}</h2>
      <paper-item class="threeLines" ng-repeat="bookingBottle in booking.bookingEvent.bottles">
        <div>{{booking.quantities[booking.bookingEvent.id + '-' + bookingBottle.id]}}</div>
        <paper-menu-button select icon="arrow-drop-down" halign="right">
          <paper-item ng-repeat="i in $root.getArray(25) track by $index" label="{{$index}}" ng-click="booking.quantities[booking.bookingEvent.id + '-' + bookingBottle.id] = $index"></paper-item>
        </paper-menu-button>
        <div flex>
          <div class="ellipsis">{{bookingBottle.bottle.wine | wineNameRenderer}}</div>
          <div class="ellipsis"><small>{{bookingBottle.bottle.wine.producer.name}} - {{bookingBottle.bottle.wine.color | wineColorRenderer}}</small></div>
          <div class="ellipsis"><small>{{bookingBottle.price | currency:"€"}} / {{bookingBottle.bottle.format | formatRenderer}}</small></div>
        </div>
        <div class="rightNarrow">{{bookingBottle.price * booking.quantities[booking.bookingEvent.id + '-' + bookingBottle.id] | currency:"€"}}</div>
      </paper-item>
      <div horizontal layout style="padding: 10px;">
        <div flex>Total</div>
        <div>{{total | currency:"€"}}</div>
      </div>
      <div horizontal layout style="border: solid rgba(0, 0, 0, 0.12); border-width: 1px 0;">
        <div flex horizontal layout style="border-right: 1px solid rgba(0, 0, 0, 0.12);">
          <paper-button flex label="Valider la réservation" ng-click="save(booking)"></paper-button>
        </div>
        <div flex horizontal layout>
          <paper-button flex label="Annuler la réservation" ng-click="delete(booking)"></paper-button>
        </div>
      </div>
    </form>
    <p ng-if="booking == null">Pas de réservation en cours</p>
  </div>
</core-drawer-panel>
