<core-toolbar>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Réservations en cours</span>
  <drawer-button right icon="more-vert"></drawer-button>
</core-toolbar>
<core-drawer-panel rightDrawer>
  <nav role="secondary" drawer>
    <core-selector>
      <paper-item class="twoLines" ng-repeat="bookingEvent in bookingEvents" ng-click="selectBooking(bookingEvent)">
        <div>
          <div class="ellipsis">{{bookingEvent.name}}</div>
          <div class="ellipsis"><small>Du {{bookingEvent.start | date}} au {{bookingEvent.end | date}}</small></div>
        </div>
      </paper-item>
    </core-selector>
  </nav>
  <div main>
    <form name="form" ng-if="booking != null">
      <section>
        <h2 style="text-align: center;">{{booking.bookingEvent.name}} du {{booking.bookingEvent.start | date:'longDate'}} au {{booking.bookingEvent.end | date: 'longDate'}}</h2>
      </section>
      <section>
        <core-item class="threeLines" ng-repeat="bookingBottle in booking.bookingEvent.bottles">
          <ng-form name="quantityForm">
            <my-input-decorator label="" isInvalid="{{quantityForm.quantity.$invalid}}" style="width: 48px; margin-right: 16px;" >
              <input name="quantity" type="number" ng-model="booking.quantities[booking.bookingEvent.id + '-' + bookingBottle.id]" required min="0"></input>
              <error-span class="error" ctrl="quantityForm.quantity"></error-span>
            </my-input-decorator>
          </ng-form>
          <div flex>
            <div class="ellipsis">{{bookingBottle.bottle.wine | wineNameRenderer}}</div>
            <div class="ellipsis"><small>{{bookingBottle.bottle.wine.producer.name}} - {{bookingBottle.bottle.wine.color | wineColorRenderer}}</small></div>
            <div class="ellipsis"><small>{{bookingBottle.price | currency:"€"}} / {{bookingBottle.bottle.format | formatRenderer}}</small></div>
          </div>
          <div class="rightNarrow">{{bookingBottle.price * booking.quantities[booking.bookingEvent.id + '-' + bookingBottle.id] | currency:"€"}}</div>
        </core-item>
        <core-item>
          <div flex>Total</div>
          <div>{{total | currency:"€"}}</div>
        </core-item>
      </section>
      <section>
        <div horizontal layout class="buttons">
          <paper-button raised primary ng-click="save(booking)" ng-disabled="form.$invalid">Réserver</paper-button>
          <paper-button raised ng-click="delete(booking)">Annuler</paper-button>
        </div>
      </section>
    </form>
    <section ng-if="booking == null">
      <p>Pas de réservation en cours.</p>
    </section>
  </div>
</core-drawer-panel>
