<core-toolbar>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Mes réservations</span>
  <drawer-button right icon="more-vert"></drawer-button>
</core-toolbar>
<core-drawer-panel rightDrawer>
  <nav role="secondary" drawer>
    <core-menu>
      <paper-item class="twoLines" ng-repeat="booking in bookings" ng-click="selectBooking(booking)">
        <div>
          <div>{{booking.bookingEvent.name}}</div>
          <div><small>Du {{booking.bookingEvent.start | date}} au {{booking.bookingEvent.end | date}}</small></div>
        </div>
      </paper-item>
      <paper-item ng-if="size > bookings.length" label="Voir les {{size - bookings.length > 10 ? 10 : size - bookings.length}} suivantes sur {{size - bookings.length}}" ng-click="more()"></paper-item>
    </core-menu>
  </nav>
  <div main>
    <div ng-if="booking != null">
      <h2 style="padding: 20px; margin: 0; text-align: center;">{{booking.bookingEvent.name}} du {{booking.bookingEvent.start | date}} au {{booking.bookingEvent.end | date}}</h2>
      <paper-item class="threeLines" ng-repeat="bookingBottle in booking.bookingEvent.bottles">
        <div style="padding-right: 10px;">{{booking.quantities[booking.bookingEvent.id + '-' + bookingBottle.id]}}</div>
        <div flex>
          <div class="ellipsis">{{bookingBottle.bottle.wine | wineNameRenderer}}</div>
          <div class="ellipsis"><small>{{bookingBottle.bottle.wine.producer.name}} - {{bookingBottle.bottle.wine.color | wineColorRenderer}}</small></div>
          <div class="ellipsis"><small>{{bookingBottle.price | currency:"€"}} / {{bookingBottle.bottle.format | formatRenderer}}</small></div>
        </div>
        <div class="rightNarrow">{{bookingBottle.price * booking.quantities[booking.bookingEvent.id + '-' + bookingBottle.id] | currency:"€"}}</div>
      </paper-item>
      <div horizontal layout style="padding: 10px;">
        <div flex>Total</div>
        <div>{{total | currency:"€"}}</div>
      </div>
    </div>
    <p ng-if="booking == null">Aucune réservation</p>
  </div>
</core-drawer-panel>
