<core-toolbar>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Suivi des réservations</span>
  <drawer-button right icon="more-vert"></drawer-button>
</core-toolbar>
<core-drawer-panel rightDrawer>
  <nav role="secondary" drawer>
    <core-menu>
      <paper-item class="twoLines" ng-repeat="bookingEvent in bookingEvents" ng-click="selectBookingEvent(bookingEvent)">
        <div>
          <div class="ellipsis">{{bookingEvent.name}}</div>
          <div class="ellipsis"><small>Du {{bookingEvent.start | date}} au {{bookingEvent.end | date}}</small></div>
        </div>
      </paper-item>
      <paper-item ng-if="size > bookingEvents.length" label="Voir les {{size - bookingEvents.length > 10 ? 10 : size - bookingEvents.length}} suivantes sur {{size - bookingEvents.length}}" ng-click="more()"></paper-item>
    </core-menu>
  </nav>
  <div main>
    <section ng-if="bookingEvent != null">
      <h2 style="padding: 20px; margin: 0; text-align: center;">{{bookingEvent.name}} du {{bookingEvent.start}} au {{bookingEvent.end}}</h2>
      <paper-item class="threeLines" ng-repeat="bookingBottle in bookingEvent.bottles" ng-click="selectBookingBottle(bookingBottle)">
        <div style="padding-right: 10px;">{{quantities[bookingEvent.id + '-' + bookingBottle.id]}}</div>
        <div flex>
          <div class="ellipsis">{{bookingBottle.bottle.wine | wineNameRenderer}}</div>
          <div class="ellipsis"><small>{{bookingBottle.bottle.wine.producer.name}} - {{bookingBottle.bottle.wine.color | wineColorRenderer}}</small></div>
          <div class="ellipsis"><small>{{bookingBottle.price | currency:"€"}} / {{bookingBottle.bottle.format | formatRenderer}}</small></div>
        </div>
        <div class="rightNarrow">{{bookingBottle.price * quantities[bookingEvent.id + '-' + bookingBottle.id] | currency:"€"}}</div>
      </paper-item>
      <div horizontal layout style="padding: 10px;">
        <div flex>Total</div>
        <div>{{total | currency:"€"}}</div>
      </div>
    </section>
    <section ng-if="bookingBottle != null">
      <h3 style="padding: 20px; margin: 0; text-align: center;">
        {{bookingBottle.bottle.wine | wineRenderer}}
        <small>
          {{bookingBottle.bottle.format | formatRenderer}}
          <i>{{bookingBottle.price | currency:"€"}}</i>
        </small>
      </h3>
      <paper-item ng-repeat="booking in bookings" ng-click="selectBooking(booking)">
        <div style="padding-right: 10px;">{{booking.quantities[booking.bookingEvent.id + '-' + bookingBottle.id]}}</div>
        <div flex class="ellipsis">{{booking.customer | userRenderer}}</div>
        <div class="rightNarrow">{{bookingBottle.price * booking.quantities[booking.bookingEvent.id + '-' + bookingBottle.id] | currency:"€"}}</div>
      </paper-item>
      <p ng-if="bookings.length == 0">Aucune bouteille vendue</p>
      <div horizontal layout style="padding: 10px;">
        <div flex>Total</div>
        <div>{{bookingBottleTotal | currency:"€"}}</div>
      </div>
    </section>
    <section ng-if="booking != null">
      <h3 style="padding: 20px; margin: 0; text-align: center;">{{booking.customer | userRenderer}}</h3>
      <paper-item class="threeLines" ng-repeat="bookingBottle in booking.bookingEvent.bottles">
        <div style="padding-right: 10px;">{{booking.quantities[booking.bookingEvent.id + '-' + bookingBottle.id]}}</div>
        <div flex>
          <div class="ellipsis">{{bookingBottle.bottle.wine | wineNameRenderer}}</div>
          <div class="ellipsis"><small>{{bookingBottle.bottle.wine.producer.name}} - {{bookingBottle.bottle.wine.color | wineColorRenderer}}</small></div>
          <div class="ellipsis"><small>{{bookingBottle.price | currency:"€"}} / {{bookingBottle.bottle.format | formatRenderer}}</small></div>
        </div>
        <div class="rightNarrow">{{bookingBottle.price * booking.quantities[booking.bookingEvent.id + '-' + bookingBottle.id] | currency:"€"}}</div>
      </paper-item>
      <div horizontal layout style="padding: 10px;">
        <div flex>Total</div>
        <div>{{bookingTotal | currency:"€"}}</div>
      </div>
    </section>
    <section ng-if="allBookings != null && allBookings.length != 0">
      <h3 style="padding: 20px; margin: 0; text-align: center;">Réservations</h3>
      <paper-item ng-repeat="booking in allBookings" ng-click="selectBooking(booking)">
        <div flex class="ellipsis">{{booking.customer | userRenderer}}</div>
      </paper-item>
      <p ng-if="allBookings.length == 0">Aucune réservation enregistrée</p>
    </section>
    <section ng-if="bookingEvent == null"><p>Aucune réservation</p></section>
  </div>
</core-drawer-panel>
