<div>
  <section>
    <my-input-decorator label="Nom de famille" floatingLabel isInvalid="{{form.lastname.$invalid}}">
      <input name="lastname" type="text" ng-model="user.lastname" required></input>
      <error-span class="error" ctrl="form.lastname"></error-span>
    </my-input-decorator>
    <my-input-decorator label="Prénom" floatingLabel isInvalid="{{form.firstname.$invalid}}">
      <input name="firstname" type="text" ng-model="user.firstname" required></input>
      <error-span class="error" ctrl="form.firstname"></error-span>
    </my-input-decorator>
    <my-input-decorator label="E-mail" floatingLabel isInvalid="{{form.email.$invalid}}">
      <input name="email" type="email" ng-model="user.email" required></input>
      <error-span class="error" ctrl="form.email"></error-span>
    </my-input-decorator>
    <paper-dropdown-menu label="Rôle" style="width: 200px;">
      <paper-dropdown class="dropdown" style="width: 200px;">
        <core-menu class="menu" bind-polymer-select="user.profile" valueattr="value">
          <paper-item value="BASIC">Basique</paper-item>
          <paper-item value="CELLAR">Gestion de cave</paper-item>
          <paper-item value="BOOKING">Réservation</paper-item>
          <paper-item value="MYCELLAR">Complet</paper-item>
          <paper-item value="ADMIN">Administrateur</paper-item>
        </core-menu>
      </paper-dropdown>
    </paper-dropdown-menu>
  </section>
  <section ng-if="user.id == null">
    <my-input-decorator label="Mot de passe" floatingLabel isInvalid="{{form.password.$invalid}}">
      <input name="password" type="password" ng-model="user.password" match="form.password2" required></input>
      <error-span class="error" ctrl="form.password"></error-span>
    </my-input-decorator>
    <my-input-decorator label="Confirmation du mot de passe" floatingLabel isInvalid="{{form.password2.$invalid}}">
      <input name="password2" type="password" ng-model="user.password2" match="form.password" required></input>
      <error-span class="error" ctrl="form.password2"></error-span>
    </my-input-decorator>
  </section>
</div>
