<div>
  <section ng-show="!createMode">
    <autocomplete-input label="{{label}}" inputValue="{{input}}">
      <paper-icon-button icon="add" ng-if="!user" ng-click="new()" style="margin: auto;"></paper-icon-button>
    </autocomplete-input>
  </section>
  <section ng-if="createMode" class="isolated">
    <ng-form name="subUserForm">
      <core-item class="subheader">Création d'un nouvel utilisateur :</core-item>
      <user-form user="newUser"></user-form>
      <div horizontal layout class="buttons">
        <paper-button raised ng-click="validate()">Valider</paper-button>
        <paper-button raised ng-click="cancel()">Annuler</paper-button>
      </div>
    </ng-form>
  </section>
</div>
