<core-toolbar>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Arrivée d'un colis</span>
</core-toolbar>
<div main>
  <form name="arrivalForm">
    <section>
      <cellar cellar="arrival.cellar" label="Cave"></cellar>
      <my-input-decorator floatingLabel labelVisible="false" label="Date de réception" isInvalid="{{arrivalForm.date.$invalid}}">
        <input name="date" type="date" ng-model="arrivalDate" required></input>
        <error-span class="error" ctrl="arrivalForm.date"></error-span>
      </my-input-decorator>
      <my-input-decorator label="Source" floatingLabel isInvalid="{{arrivalForm.source.$invalid}}">
        <input name="source" type="text" ng-model="arrival.source" required></input>
        <error-span class="error" ctrl="arrivalForm.source"></error-span>
      </my-input-decorator>
      <my-input-decorator label="Charges" floatingLabel labelVisible="false" isInvalid="{{arrivalForm.charges.$invalid}}">
        <input name="charges" type="number" ng-model="arrival.charges" required></input>
        <error-span class="error" ctrl="arrivalForm.charges"></error-span>
      </my-input-decorator>
    </section>
    <section ng-if="arrivalBottle != null">
      <ng-form name="bottleForm">
        <core-item class="subheader">{{isNew() ? 'Ajouter une bouteille au colis' : 'Modifier une bouteille du colis' }}</core-item>
        <wine wine="arrivalBottle.bottle.wine" label="Vin"></wine>
        <format format="arrivalBottle.bottle.format" label="Format"></format>
        <my-input-decorator label="Prix" floatingLabel labelVisible="false" isInvalid="{{bottleForm.price.$invalid}}">
          <input name="price" type="number" ng-model="arrivalBottle.price" required></input>
          <error-span class="error" ctrl="bottleForm.price"></error-span>
        </my-input-decorator>
        <my-input-decorator label="Quantité" floatingLabel labelVisible="false" isInvalid="{{bottleForm.quantity.$invalid}}">
          <input name="quantity" type="number" ng-model="arrivalBottle.quantity" required></input>
          <error-span class="error" ctrl="bottleForm.quantity"></error-span>
        </my-input-decorator>
        <div horizontal layout class="buttons">
          <paper-button raised primary ng-click="addBottle()" ng-disabled="bottleForm.$invalid">{{isNew() ? 'Ajouter' : 'Modifier'}}</paper-button>
          <paper-button raised ng-click="cancelBottle()">Annuler</paper-button>
        </div>
      </ng-form>
    </section>
    <section>
      <core-item class="subheader">
        <div flex>Bouteilles</div>
        <paper-icon-button icon="add" ng-click="add()"></paper-icon-button>
      </core-item>
      <core-item ng-if="arrival.arrivalBottles.length == 0">Aucune bouteille dans le colis.</core-item>
      <paper-item class="threeLines"
          ng-repeat="arrivalBottle in arrival.arrivalBottles"
          ng-click="edit(arrivalBottle)">
        <div flex>
          <div class="ellipsis">{{arrivalBottle.bottle.wine | wineNameRenderer}}</div>
          <div class="ellipsis"><small>{{arrivalBottle.bottle.wine.producer.name}} - {{arrivalBottle.bottle.wine.color | wineColorRenderer}}</small></div>
          <div class="ellipsis"><small>{{arrivalBottle.price | currency:"€"}} / {{arrivalBottle.bottle.format | formatRenderer}}</small></div>
        </div>
        <paper-icon-button icon="delete" ng-click="remove(arrivalBottle)"></paper-icon-button>
      </paper-item>
    </section>
    <div horizontal layout class="buttons">
      <paper-button raised primary ng-click="save()" ng-disabled="arrivalForm.$invalid">Sauvegarder</paper-button>
      <paper-button raised ng-click="cancel()">Annuler</paper-button>
    </div>
  </form>
</div>
