<core-toolbar>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Arrivée d'un colis</span>
</core-toolbar>
<div main>
  <form name="arrivalForm">
    <section>
      <cellar cellar="arrival.cellar" label="Cave"></cellar>
      <paper-input id="date" label="Date de réception" floatingLabel type="date" bind-polymer-input="arrival.date" required></paper-input>
      <paper-input id="source" label="Source" floatingLabel type="text" bind-polymer-input="arrival.source" required></paper-input>
      <paper-input id="charges" label="Charges" floatingLabel type="number" bind-polymer-input="arrival.charges" required></paper-input> 
    </section>
    <section ng-if="arrivalBottle != null">
      <core-item class="subheader">{{isNew() ? 'Ajouter une bouteille au colis' : 'Modifier une bouteille du colis' }}</core-item>
      <wine wine="arrivalBottle.bottle.wine" label="Vin"></wine>
      <format format="arrivalBottle.bottle.format" label="Format"></format>
      <paper-input id="price" label="Prix" floatingLabel type="number" bind-polymer-input="arrivalBottle.price" required></paper-input>
      <paper-input id="max" label="Quantité" floatingLabel type="number" bind-polymer-input="arrivalBottle.quantity" required></paper-input>
      <div horizontal layout class="buttons">
        <paper-button raised primary ng-click="addBottle()">{{isNew() ? 'Ajouter' : 'Modifier'}}</paper-button>
        <paper-button raised ng-click="cancelBottle()">Annuler</paper-button>
      </div>
    </section>
    <section>
      <core-item class="subheader">
        <div flex>Bouteilles</div>
        <paper-icon-button icon="add" ng-click="add()"></paper-icon-button>
      </core-item>
      <core-item ng-if="arrival.arrivalBottles.length == 0">Aucune bouteille dans le colis.</core-item>
      <paper-item class="threeLines"
          ng-repeat="arrivalBottle in arrival.arrivalBottles"
          ng-click="edit(arrivalBottle)">
        <div flex>
          <div class="ellipsis">{{arrivalBottle.bottle.wine | wineNameRenderer}}</div>
          <div class="ellipsis"><small>{{arrivalBottle.bottle.wine.producer.name}} - {{arrivalBottle.bottle.wine.color | wineColorRenderer}}</small></div>
          <div class="ellipsis"><small>{{arrivalBottle.price | currency:"€"}} / {{arrivalBottle.bottle.format | formatRenderer}}</small></div>
        </div>
        <paper-icon-button icon="delete" ng-click="remove(arrivalBottle)"></paper-icon-button>
      </paper-item>
    </section>
    <div horizontal layout class="buttons">
      <paper-button raised primary ng-click="save()" ng-disabled="arrivalForm.$invalid">Sauvegarder</paper-button>
      <paper-button raised ng-click="cancel()">Annuler</paper-button>
    </div>
  </form>
</div>
