<core-toolbar main>
  <core-icon icon="search" hidden></core-icon>
  <drawer-button icon="menu"></drawer-button>
  <span>{{title}}</span>
  <paper-menu-button icon="arrow-drop-down" halign="right">
    <paper-item style="font-size: 0.6em;" label="Tous" ng-click="selectCellar()"></paper-item>
    <paper-item style="font-size: 0.6em;" label="{{cellar.name}} ({{cellar.owner.email}})" ng-click="selectCellar(cellar)" ng-repeat="cellar in cellars"></paper-item>
  </paper-menu-button>
  <core-input id="search" bind-polymer-input="search" flex hidden></core-input>
  <div flex></div>
  <paper-icon-button icon="cancel" hidden ng-show="search !== ''" ng-click="clearSearch()"></paper-icon-button>
  <paper-icon-button icon="clear" hidden ng-show="search === ''" ng-click="toggleHidden()"></paper-icon-button>
  <paper-icon-button icon="search" ng-click="toggleHidden()"></paper-icon-button>
</core-toolbar>
<div main>
  <paper-item ng-if="wines.length == 0">Aucun stock</paper-item>
  <paper-item class="twoLines" ng-click="selectWine(wine)" ng-repeat="wine in wines">
    <div flex>
      <div class="ellipsis">{{wine | wineRenderer}}</div>
      <div class="ellipsis"><small>{{wine.appellation | appellationRenderer}}</small></div>
    </div>
    <paper-icon-button icon="remove-circle"></paper-icon-button>
  </paper-item>
  <paper-item ng-if="size > wines.length" label="Voir les {{size - wines.length > 50 ? 50 : size - wines.length}} suivants sur {{size - wines.length}}" ng-click="more()"></paper-item>
  <paper-fab icon="add" raisedButton="false"></paper-fab>
</div>
