<core-toolbar>
  <paper-icon-button icon="chevron-left" onclick="history.back()"></paper-icon-button>
  <span flex>Mes vins</span>
</core-toolbar>
<div main>
  <section class="margin">
    <div horizontal layout>
      <h3>
        {{wine | wineRenderer}}<br/>
        <small>{{wine.appellation | appellationRenderer}}</small>
      </h3>
    </div>
  </section>
  <section>
    <core-item class="subheader">Stock</core-item>
    <core-item ng-if="stocks.length == 0">Aucun stock</core-item>
    <core-item style="height: 72px" ng-repeat="stock in stocks">
      <div flex>
        <div>{{stock.quantity}}<span class="xs-hide"> {{stock.bottle.format.name}}{{stock.quantity != 1?'s':''}}</span> ({{stock.bottle.format.capacity | number}}L)</div>
        <div class="ellipsis"><small>{{stock.cellar.name}}</small></div>
      </div>
      <paper-icon-button icon="remove-circle"></paper-icon-button>
    </core-item>
  </section>
</div>
