<core-toolbar>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Mes partages</span>
</core-toolbar>
<div main>
  <section ng-if="cellarShare != null">
    <form name="form" novalidate>
      <cellar label="Cave" cellar="cellarShare.cellar"></cellar>
      <paper-input id="email" floatingLabel label="Email" type="email" bind-polymer-input="cellarShare.email"></paper-input>
      <paper-dropdown-menu label="Droit d'accès" bind-polymer-select="cellarShare.accessRight" valueattr="value">
        <paper-item label="Lecture seule" value="READ"></paper-item>
        <paper-item label="Modification" value="MODIFY"></paper-item>
      </paper-dropdown-menu>
      <div horizontal layout style="margin-bottom: 16px;">
        <paper-button style="margin: auto;" raised primary ng-click="save()" ng-disabled="form.$invalid">Sauvegarder</paper-button>
        <paper-button style="margin: auto;" raised ng-click="cancel()">Annuler</paper-button>
      </div>
    </form>
  </section>
  <section>
    <core-item class="subheader">Partages actuels</core-item>
    <core-item ng-if="cellarShares.length == 0">Aucun</core-item>
    <paper-item class="twoLines" ng-repeat="cellarShare in cellarShares" ng-click="edit(cellarShare)">
      <div flex>
        <div class="ellipsis">{{cellarShare.cellar.name}}</div>
        <div class="ellipsis"><small>{{cellarShare.accessRight | accessRightRenderer}} : {{cellarShare.email}}</small></div>
      </div>
      <paper-icon-button icon="remove-circle-outline" ng-click="delete(cellarShare, $event)"></paper-icon-button>
    </paper-item>
    <paper-item ng-if="size > cellarShares.length" label="Voir les {{size - cellarShares.length > pageCount ? pageCount : size - cellarShares.length}} suivants sur {{size - cellarShares.length}}" ng-click="more()"></paper-item>
    <paper-fab icon="add" raisedButton="false" ng-click="new()"></paper-fab>
  </section>
</div>
