<div>
  <section ng-show="!createMode">
    <autocomplete-input label="{{label}}" inputValue="{{input}}">
      <paper-icon-button icon="add" ng-if="!bookingEvent" ng-click="new()" style="margin: auto;"></paper-icon-button>
    </autocomplete-input>
  </section>
  <section ng-if="createMode" class="isolated">
    <ng-form name="subBookingEventForm">
      <core-item class="subheader">Création d'une nouvelle campagne de réservation :</core-item>
      <booking-event-form form="subBookingEventForm" booking-event="newBookingEvent"></booking-event-form>
      <div horizontal layout class="buttons">
        <paper-button raised ng-click="validate()">Valider</paper-button>
        <paper-button raised ng-click="cancel()">Annuler</paper-button>
      </div>
    </ng-form>
  </section>
</div>
