<div>
  <section>
    <my-input-decorator label="Nom" floatingLabel isInvalid="{{form.name.$invalid}}">
      <input name="name" type="text" ng-model="bookingEvent.name" required></input>
      <error-span class="error" ctrl="form.name"></error-span>
    </my-input-decorator>
    <div horizontal layout>
      <my-input-decorator flex label="Début" floatingLabel labelVisible="false" isInvalid="{{form.start.$invalid}}">
        <input name="start" type="date" ng-model="bookingEventStart" required></input>
        <error-span class="error" ctrl="form.start"></error-span>
      </my-input-decorator>
      <my-input-decorator flex label="Fin" floatingLabel labelVisible="false" isInvalid="{{form.end.$invalid}}">
        <input name="end" type="date" ng-model="bookingEventEnd" required></input>
        <error-span class="error" ctrl="form.end"></error-span>
      </my-input-decorator>
    </div>
  </section>
  <section ng-if="bookingBottle != null">
    <core-item class="subheader">{{isNew() ? 'Ajouter une bouteille à la campagne' : 'Modifier une bouteille de la campagne' }}</core-item>
    <wine label="Vin" wine="bookingBottle.bottle.wine"></wine>
    <format label="Format" format="bookingBottle.bottle.format"></format>
    <div horizontal layout>
      <my-input-decorator flex label="Prix" floatingLabel labelVisible="false" isInvalid="{{form.price.$invalid}}">
        <input name="price" type="number" ng-model="bookingBottle.price" required min="0" step="any"></input>
        <error-span class="error" ctrl="form.price"></error-span>
      </my-input-decorator>
      <my-input-decorator flex label="Nombre maximum de bouteilles par client" floatingLabel labelVisible="false" isInvalid="{{form.max.$invalid}}">
        <input name="max" type="number" ng-model="bookingBottle.max" required min="0"></input>
        <error-span class="error" ctrl="form.max"></error-span>
      </my-input-decorator>
    </div>
    <my-input-decorator label="URL de la fiche sur cave-et-terroirs.fr" floatingLabel isInvalid="{{form.url.$invalid}}">
      <input name="url" type="url" ng-model="bookingBottle.url" required></input>
      <error-span class="error" ctrl="form.max"></error-span>
    </my-input-decorator>
    <div horizontal layout class="buttons">
      <paper-button raised primary ng-click="addBottle()" ng-disabled="form.$invalid">{{isNew() ? 'Ajouter' : 'Modifier'}}</paper-button>
      <paper-button raised ng-click="cancelBottle()">Annuler</paper-button>
    </div>
  </section>
  <section drag-drop="bookingEvent.bottles">
    <core-item class="subheader">
      <div flex>Bouteilles</div>
      <paper-icon-button icon="add" ng-click="addBookingBottle()"></paper-icon-button>
    </core-item>
    <paper-item class="threeLines"
        ng-repeat="bookingBottle in bookingEvent.bottles"
        ng-click="edit(bookingBottle)"
        drag-item="$index"
        post-drag="bookingBottleMoved(bookingBottle)">
      <div flex>
        <div class="ellipsis">{{bookingBottle.bottle.wine | wineNameRenderer}}</div>
        <div class="ellipsis"><small>{{bookingBottle.bottle.wine.producer.name}} - {{bookingBottle.bottle.wine.color | wineColorRenderer}}</small></div>
        <div class="ellipsis"><small>{{bookingBottle.price | currency:"€"}} / {{bookingBottle.bottle.format | formatRenderer}}</small></div>
      </div>
      <paper-icon-button icon="delete" ng-click="removeBookingBottle(bookingBottle)"></paper-icon-button>
    </paper-item>
  </section>
</div>
