<core-toolbar main>
  <drawer-button icon="menu"></drawer-button>
  <span flex>Stack : {{stack.hashCode}}</span>
  <drawer-button right icon="more-vert"></drawer-button>
</core-toolbar>
<core-drawer-panel rightDrawer>
  <nav role="secondary" drawer>
    <admin-domain-nav></admin-domain-nav>
  </nav>
  <div main>
    <form name="form" novalidate>
      <section>
        <div horizontal layout>
          <my-input-decorator flex disabled floatingLabel label="HashCode">
            <input name="hashCode" type="text" ng-model="stack.hashCode" disabled></input>
          </my-input-decorator>
          <my-input-decorator flex disabled floatingLabel labelVisible="false" label="Nombre">
            <input name="count" type="number" ng-model="stack.count" disabled></input>
          </my-input-decorator>
        </div>
        <my-input-decorator flex disabled floatingLabel label="Stack">
          <paper-autogrow-textarea>
            <textarea name="stack" ng-model="stack.stack" disabled></textarea>
          </paper-autogrow-textarea>
        </my-input-decorator>
      </section>
      <div horizontal layout class="buttons">
        <paper-button raised ng-click="cancel()">Annuler</paper-button>
      </div>
    </form>
  </div>
</core-drawer-panel>
