<div>
  <section>
    <my-input-decorator label="Nom" floatingLabel isInvalid="{{form.name.$invalid}}">
      <input name="name" type="text" ng-model="country.name" required></input>
      <error-span class="error" ctrl="form.name"></error-span>
    </my-input-decorator>
    <my-input-decorator flex floatingLabel label="Description" isInvalid="{{form.description.$invalid}}">
      <paper-autogrow-textarea>
        <textarea name="description" ng-model="country.description"></textarea>
        <error-span class="error" ctrl="form.description"></error-span>
      </paper-autogrow-textarea>
    </my-input-decorator>
  </section>
</div>
