<div class="form-group" ng-class="{'has-error': form.producer.$invalid}">
  <label class="control-label" for="producer">Producteur{{postLabel}}</label>
  <div class="input-group" ng-show="!showSub">
    <input 
      id="producer"
      name="producer"
      type="text"
      class="form-control"
      ng-model="producer"
      placeholder="Producteur{{postLabel}}"
      typeahead="producer as producer.name for producer in producers($viewValue)"
      typeahead-editable="false"
      typeahead-min-length="2"
      typeahead-wait-ms="200" />
    <span class="input-group-btn">
      <a class="btn btn-default" ng-click="new()"><i class="fa fa-plus"></i></a>
    </span>
  </div>
  <div ng-show="showSub" class="sub-entity">
    <ng-form name="subProducerForm">
      <producer-form form="subProducerForm" producer="newProducer" post-label=" du producteur"></producer-form>
      <a class="btn btn-success" ng-click="ok()">Valider</a>
      <a class="btn btn-warning" ng-click="cancel()">Annuler</a>
    </ng-form>
  </div>
  <error-ctrl ctrl="form.producer"></error-ctrl>
</div>
