<div class="form-group" ng-class="{'has-error': form.region.$invalid}">
  <label class="control-label" for="region">Région{{postLabel}}</label>
  <div class="input-group" ng-show="!showSub">
    <input 
      id="region"
      name="region"
      type="text"
      class="form-control"
      ng-model="region"
      placeholder="Région{{postLabel}}"
      typeahead="region as region.name for region in regions($viewValue)"
      typeahead-editable="false"
      typeahead-min-length="2"
      typeahead-wait-ms="200" />
    <span class="input-group-btn">
      <a class="btn btn-default" ng-click="new()"><i class="fa fa-plus"></i></a>
    </span>
  </div>
  <div ng-if="showSub" class="sub-entity">
    <ng-form name="subRegionForm">
      <region-form form="subRegionForm" region="newRegion" post-label=" de la région"></region-form>
      <a class="btn btn-success" ng-click="ok()">Valider</a>
      <a class="btn btn-warning" ng-click="cancel()">Annuler</a>
    </ng-form>
  </div>
  <span ng-transclude />
</div>
