<div class="container">
  <header class="page-header"><h1>Administration</h1></header>
  <section>
    <header><h2>Tableau de bord</h2></header>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">MyCellar</h3></div>
          <div class="panel-body">
            <dl>
              <dt>Version</dt><dd>{{mycellarVersion}}</dd>
            </dl>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">angular</h3></div>
          <div class="panel-body">
            <dl>
              <dt>Version</dt><dd>{{angularVersion}}</dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Statistiques</h3></div>
          <div class="panel-body">
            <dl>
              <dt>Nombre d'utilisateurs</dt><dd>{{usersCount}}</dd>
              <dt>Nombre de vins</dt><dd>{{winesCount}}</dd>
              <dt>Nombre de stacks</dt><dd>{{stacksCount}}</dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Base de données</h3></div>
          <div class="panel-body">
            <dl>
              <dt>Driver</dt><dd>driver</dd>
              <dt>URL</dt><dd>url</dd>
              <dt>Login</dt><dd>login</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <header role="secondary"><h2>Outils</h2></header>
    <div class="well">
      <a href ng-click="deleteAllStacks()" class="btn btn-warning">Purger les stacks</a>
      <a href="" class="btn btn-default">Créer des millésimes</a>
      <a href="/monitoring" target="_self" class="btn btn-default">Monitoring</a>
    </div>
  </section>
  <footer>
    <p>2012-2014 Tous droits réservés, MyCellar GPL V3.</p>
  </footer>
</div>
